.en_item_bullet_line:not(.protyle-wysiwyg--select) {

    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      width: 34px;
      height: var(--en-bullet-line-height) !important;
      border-left: 2px solid var(--b3-theme-primary);
      border-bottom: 2px solid var(--b3-theme-primary);
      border-bottom-left-radius: 6px;
      position: absolute;
      top: calc(var(--en-bullet-line-height) * -1 + 18px) !important;
      left: -18px
    }
  }
  .en_item_bullet_actived {
    & > .protyle-action {
      color: var(--b3-theme-primary) !important;
    }
  }
