:root {
    /* 主色 */
    --b3-theme-primary: rgb(184, 161, 217);/* 主色 */
    --b3-theme-primary-light: rgba(184, 161, 217, 0.54);
    --b3-theme-primary-lighter: rgba(184, 161, 217, 0.38);
    --b3-theme-primary-lightest: rgba(184, 161, 217, 0.2);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #fff;/* 编辑区背景 */
    --b3-theme-background-light: #dfe0e1;
    --b3-theme-surface: rgb(251, 251, 250);/* 面板主色 */
    --b3-theme-surface-light: rgba(251, 251, 250, .5);
    --b3-theme-surface-lighter: rgba(230, 229, 225);
    --b3-theme-error: #eb5757;
    --b3-theme-success: #65b84d;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: rgb(55, 53, 47);
    --b3-theme-on-surface: #84827d;
    --b3-theme-on-surface-light: rgba(95, 99, 104, .68);
    --b3-theme-on-error: #fff;


    /* 顶部工具栏 */
    --b3-toolbar-background: var(--b3-theme-surface);
    --b3-toolbar-blur-background: #fcfcfc;
    --b3-toolbar-color: var(--b3-theme-on-surface);
    --b3-toolbar-hover: var(--b3-theme-background-light);
    --b3-toolbar-left-mac: 69px;

    /* 线条 */
    --b3-border-color: var(--b3-theme-surface-lighter);
    --b3-border-radius: 6px;
    --b3-border-radius-b: 12px;

    /* 滚动条 */
    --b3-scroll-color: rgba(0, 0, 0, .2);

    /* 列表 */
    --b3-list-hover: rgba(0, 0, 0, .075);
    --b3-list-icon-hover: rgba(33, 34, 36, .1);

    /* 菜单 */
    --b3-menu-background: var(--b3-theme-surface);

    /* 提示 */
    --b3-tooltips-background: #312f35;
    --b3-tooltips-color: var(--b3-theme-background-light);
    --b3-tooltips-second-color: #7d7c7a;
    --b3-tooltips-shadow: 0 2px 8px rgba(0, 0, 0, .1);

    /* 为空提示 */
    --b3-empty-color: var(--b3-theme-on-surface-light);

    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, .4);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: #f5d1cf;
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: #ffe8c8;
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: #d6eaf9;
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: #d7eed8;

    /* 自定义文字 */
	--b3-font-color1: #000;
    --b3-font-color2: rgba(55, 53, 47, 0.6);
    --b3-font-color3: rgb(100, 71, 58);
	--b3-font-color4: rgb(217, 115, 13);
    --b3-font-color5: #f5822e;
	--b3-font-color6: rgb(223, 171, 1);
    --b3-font-color7: #65b84d;
	--b3-font-color8: rgb(15, 123, 108);
    --b3-font-color9: rgb(11, 110, 153);
    --b3-font-color10: rgb(105, 64, 165);
    --b3-font-color11: rgb(173, 26, 114);
    --b3-font-color12: rgb(224, 62, 62);
    --b3-font-color13: #e81123;
    
	--b3-font-background1: rgb(198, 203, 208);
    --b3-font-background2: rgb(225, 225, 225);
    --b3-font-background3: rgb(235, 236, 237);
    --b3-font-background4: rgb(233, 229, 227);
	--b3-font-background5: rgb(246, 225, 205);
    --b3-font-background6: rgb(250, 235, 221);
    --b3-font-background7: rgb(251, 243, 219);
	--b3-font-background8: rgba(221, 237, 226);
    --b3-font-background9: rgb(221, 237, 234);
    --b3-font-background10: rgb(221, 235, 241);
    --b3-font-background11: rgb(234, 228, 242);
    --b3-font-background12: rgb(244, 223, 235);
    --b3-font-background13: rgb(251, 228, 228);

    /* 动画效果 */
    --b3-transition: all .2s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .2s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-color-transition: color .2s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-background-transition: background 20ms ease-in 0s;

    /* 下拉菜单 */
    --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M12.8,15.6l4-4.1c0.2-0.2,0.2-0.4,0.2-0.6c0-0.5-0.4-0.9-0.9-0.9c-0.3,0-0.5,0.1-0.6,0.3L12,13.9l-3.4-3.6C8.3,10.1,8.1,10,7.9,10C7.4,10,7,10.4,7,10.9c0,0.2,0.1,0.4,0.2,0.6l4,4.1c0.2,0.2,0.4,0.3,0.7,0.3C12.3,15.9,12.5,15.8,12.8,15.6z'/></svg>") no-repeat right 2px center var(--Sv-select-field)   ;

    /* switch */
    --b3-switch-background: #e1e3e1;
    --b3-switch-border: var(--b3-theme-on-surface-light);
    --b3-switch-hover: rgba(31, 31, 31, 0.06);
    --b3-switch-checked: #fff;
    --b3-switch-checked-background: var(--b3-theme-primary);
    --b3-switch-checked-hover: #d3e3fd;
    --b3-switch-checked-hover2: rgba(31, 31, 31, .06);

    /* 阴影 */
    --b3-point-shadow: 0 0 1px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .2);
    --b3-dialog-shadow: 0 8px 24px rgba(0, 0, 0, .2);
    --b3-button-shadow: 0 5px 5px -3px rgb(0 0 0 / .2), 0 8px 10px 1px rgb(0 0 0 / .14), 0 3px 14px 2px rgb(0 0 0 / .12);

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #8250df;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: inherit;
    --b3-protyle-inline-em-color: inherit;
    --b3-protyle-inline-u-color: inherit;
    --b3-protyle-inline-s-color: inherit;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: rgb(252, 212, 126);
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #8957e5;
    --b3-protyle-inline-fileref-color: #21862e;

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
    --b3-pdf-dark: #212224;

    /* 表格 */
    --b3-table-even-background: rgba(0, 0, 0, .02);

    /* 嵌入块 */
    --b3-embed-background: transparent;

    /* 引述块 */
    --b3-bq-background: transparent;

    /* 父块颜色 */
    --b3-parent-background: var(--b3-theme-background);


    /* ————————————————————  自定义结构配色  ———————————————————— */
	
	/* 顶栏 */
    --Sv-toolbar-background: #ecefea;
    --Sv-toolbar-item-hover: var(--b3-theme-surface);
    --Sv-barWorkspace-color: var(--b3-theme-on-background);
    --Sv-barWorkspace-background: var(--Sv-list-background);
    --Sv-barWorkspace-background-hover: var(--Sv-list-focus-hover);
    --Sv-toolbar-closeWindow-hover: #ee6f5b;
    --Sv-toolbar-closeWindow-svg: #fff;

	/* 边栏 */
    --Sv-dock-background: var(--Sv-toolbar-background);
    --Sv-dock-item-color: rgba(55, 53, 47, .5);
    --Sv-dock-item-hover-color: var(--b3-theme-background);
    --Sv-dock-item-active-background: #2c2f32;
    --Sv-dock-item-active-background-hover: #2c2f32;
    --Sv-dock--item--activefocus-color: var(--b3-theme-background);
    --Sv-dock-item-activefocus-background:  linear-gradient(to bottom right,#8788ff, #c796f1);
    --Sv-dock-item-radius:10px;
    --Sv-dock--item--activefocus-shadow: 0 ;
    
    /* 侧栏 */
    --Sv-block-icon-svg-color: var(--Sv-dock-item-color);
    --Sv-block-icon-svg-color-hover: var(--b3-theme-on-background);
    --Sv-block-icon--background-hover: var(--Sv-list-background);
    --Sv-list-item-radius: 6px;
    --Sv-list-item-arrow: rgba(55, 53, 47, 0.4);
    --Sv-list-background: rgba(55, 53, 47, 0.06);
    --Sv-list-focus-hover: rgba(55, 53, 47, 0.12);
    --Sv-list-focus-active:  rgba(218, 200, 245, 0.3);
    --Sv-list-focus-color: var(--b3-theme-on-background);
    --Sv-list-item-color: var(--b3-theme-on-surface);
    --Sv-layout--resize: transparent;/*分界线*/
    --Sv-layout--resize-hover: rgba(0, 0, 0, .1);
    --Sv-layout-resize-lr-width: 10px;
    --Sv-float-background: var(--Sv-toolbar-background);
    --Sv-list-counter-color: var(--b3-theme-on-background);
    --Sv-list-counter: #dbc9f5;
    --Sv-layout--resize-margin: 1px 0;

    /* 大纲数字 */
	--h1-list-graphic: #eb8383;
	--h2-list-graphic: #ae9acb;
	--h3-list-graphic: #7db5cd;
	--h4-list-graphic: #71a796;
	--h5-list-graphic: #dcbf61;
	--h6-list-graphic: #dda36a;
    
    /* 反链面板 */
    --Sv-block-logo-color: var(--b3-theme-background);
    --Sv-block-logo-background: rgba(55, 53, 47, 0.2);
    --Sv-block-icon-active: var(--Sv-barWorkspace-background);
    --Sv-backlink-background: var(--Sv-toolbar-background);
    --Sv-backlink-list: var(--b3-theme-surface);
    --Sv-backlink-top: 8px;

    /* 底栏 */
    --Sv-status-msg-background: var(--b3-theme-background);
    --Sv-status-barDock: #dde4d8;
    --Sv-status-barDock-color: #9d80ec;
    --Sv-status-item-hover: #e3e7e0;
    --Sv-status-radius-r: 0 10px 10px 0;

    /* 页签 */
    --Sv-tab-bar-background: var(--Sv-toolbar-background);
    --Sv-tab-bar-item-background: rgba(255, 255, 255, 0.4);
    --Sv-tab-bar-item-background-hover: var(--b3-theme-background);
    --Sv-tab-bar-item-background-focus: var(--b3-theme-background);
    --Sv-tab-bar-item--focus-radius: 10px 10px 0 0;
    --Sv-tab-bar-readonly-shadow: 10px -10px 0 var(--Sv-dock-background);

    /* 面包屑 */
    --Sv-breadcrumb-arrow: rgb(174,172,166);
    --Sv-breadcrumb-hover: var(--Sv-list-background);
    --Sv-breadcrumb-active: #ab90f7;
    --Sv-breadcrumb-active-color: var(--b3-theme-background);
    --Sv-breadcrumb-active-hover:#9d80ec;
    --Sv-breadcrumb-border: rgba(230, 229, 225);

    /* 头图 */
    --Sv-background-icon-hover: var(--Sv-list-background);
    --Sv-background-icon-button-color: var(--b3-theme-background);
    --Sv-background-icon-button: #b9b8b6;
    --Sv-background-icon-button-hover: var(--Sv-list-background);
    --Sv-protyle-icon: var(--b3-theme-background);
    --Sv-protyle-icon-color: var(--b3-theme-on-surface);
    --Sv-protyle-icon-text-color: var(--b3-theme-background);
    --Sv-protyle-icon-hover: var(--Sv-status-msg-background);
    --Sv-img-icons-span: rgba(0, 0, 0, .5);

    /* —————— 编辑器 —————— */
    --Sv-title-input-empty: rgba(55, 53, 47, 0.2);
    /* 列表 */
    --Sv-protyle-action-color: var(--b3-theme-on-background);
    --Sv-protyle-action-hover: var(--Sv-list-background);
    /* 块标 */ 
    --Sv-gutters-color: rgb(211, 209, 203);
    --Sv-gutters-background: var(--Sv-list-background);
    --Sv-task-done: var(--b3-theme-primary);
    --Sv-task-done-hover:  var(--b3-theme-primary);

    /* 引用 */
    --Sv-block-ref-color: var(--b3-theme-on-background); 
    --Sv-block-ref-background-hover: var(--Sv-list-focus-hover);
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right, #8788ff, #c796f1) 1;
    --Sv-block-ref-su: var(--b3-theme-background);
    
    /* 超链接 */
    --Sv-block-link-color: var(--b3-theme-on-surface);
    --Sv-block-link-bottom:  var(--b3-theme-on-surface);
    --Sv-block-link-color-hover: var(--b3-theme-on-background);
    --Sv-block-link-bottom-hover: var(--b3-theme-on-background);

    /* 嵌入块 */
    --Sv-block-NBQE: var(--b3-theme-surface-lighter);

    /* 命名，别名，备注*/
    --Sv-protyle-attr: var(--b3-font-color3);

    /* 表格 */
    --Sv-table-thead: var(--b3-theme-surface);

    /* 代码块 */
    --Sv-code-block-background: #f7f7f7;

    /* 行内代码*/
    --Sv-inline-code:var(--b3-theme-error);

    /* 行内标签 */
    --Sv-protyle-tag-color: var(--b3-theme-on-background);
    --Sv-protyle-tag-bg: var(--b3-font-background7);

    /* pdf批注 */
    --Sv-pdf-ref-bg: var(--Sv-list-background);
    --Sv-pdf-ref-bg-hover: var(--Sv-list-focus-hover);

    /* 键盘 */
    --Sv-kbd-color: var(--b3-theme-on-background);
    --Sv-kbd-background: var(--b3-theme-background);

    /* 折叠样式 */
    --Sv-fold-background: var(--b3-theme-surface);
    --Sv-fold-border: var(--b3-theme-surface-lighter);


    /*导图*/
	--b3-border-daotu: 2px solid #ffb8b8;
	--b3-block-daotu: var(--b3-theme-background);




    /* —————— 设置、搜索界面 —————— */
    --Sv--dialog-scrim: rgba(0, 0, 0, 0.78);
    --Sv--dialog-container: var(--b3-theme-background);
    --Sv--dialog-tab-bar: #eff1ed;

    /* 搜索界面 */
    --Sv-search-result-tip: var(--b3-theme-surface);
    --Sv-list-meta-ellipsis: #9b9a97;

    /* 集市界面 */
    --Sv-bazaar-focus: #ecefea;
    --Sv-bazaar-item: #e1e4df;
    --Sv-card--current: #f2ecfd;
    --Sv-card-current-shadow: #c0a1f59e 0px 0px 0px 2px;
    
    /* 菜单 */
    --Sv-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    --Sv-menu-accelerator: rgba(55, 53, 47, 0.4);
    --Sv-menu-background: var(--b3-theme-background);
    --Sv-menu-item-hover: var(--Sv-list-background);
    /* 按钮 */ 
    --Sv-button-background: var(--b3-theme-on-background);
    --Sv-button-color: var(--b3-theme-background);
    --Sv-button-background-hover: #000000;
    --Sv-button-cancel: var(--b3-theme-background);

    /* 下拉框、输入框*/
    --Sv-select-field: var(--Sv-list-background);
    /* 滚动条 */
	--Sv-scroll-color: rgba(211,209,203,.5);
	--Sv-scroll-color-hover: rgba(174,172,166);
	--Sv-scroll-bgcolor: transparent;
	--Sv-border-scroll: rgba(55, 53, 47, 0.2);
	--webkit-scrollbar: 8px;
	--webkit-scrollbar-thumb: 4px;
    --Sv--slider-thumb: var(--b3-theme-surface-lighter);



    /* 合并顶栏插件收缩颜色 */
    --Sv-plugin-off-bg: #e1e4df;
    --Sv-plugin-b-off-bg: #d8d8d3;
    --Sv-plugin-b-off-bg-hover: #dddddd;
    --Sv-plugin-on-bg: var(--Sv-tab-bar-item-background);
    --Sv-plugin-counter: var(--b3-theme-on-background);


    /*——————————————————————————— 收缩按钮 ——————————————————————————*/
    --Sv-Oplugin-on:url("data:image/svg+xml;utf8,<svg fill='rgb(132, 130, 125)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M14.667 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333zM18.533 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333z'/></svg>") no-repeat left 16px top -6px;
    --Sv-Oplugin-off:url("data:image/svg+xml;utf8,<svg fill='rgb(132, 130, 125)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M20.4 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133-0.133-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333zM16.533 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133 0-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333z'/></svg>") no-repeat left -10px top -6px;
    /*——————————————————————————————————————————————————————————————*/
    
    --Sv-Savor-light-on:var(--Sv-Savor-light-off);

}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}


body{
	border: 0px!important;
}



#buttonOcean,#buttonMountain{
	display:none!important;
}


#buttonForest.button_on,#buttonForest.button_off{
	background:var(--Sv-Forest-on);
}