:root {
    /* 主色 */
    --b3-theme-primary: rgb(184, 161, 217);/* 主色 */
    --b3-theme-surface: oklch(97.77% 0.0074 132.42);/* 面板主色 */


    /* ————————————————————  自定义结构配色  ———————————————————— */
	
	/* 顶栏 */
    --Sv-barWorkspace-color: var(--b3-theme-on-background);
    --Sv-barWorkspace-background: var(--Sv-list-background);
    --Sv-barWorkspace-background-hover: var(--Sv-list-focus-hover);

	/* 边栏 */
    --Sv-dock-item-hover-color: var(--b3-theme-background);
    --Sv-dock-item-active-background: #2c2f32;
    --Sv-dock-item-active-background-hover: #2c2f32;
    --Sv-dock-item--activefocus-color: var(--b3-theme-background);
    --Sv-dock-item--activefocus-background: #a18ef9;
    --Sv-dock-item-radius:10px;
    --Sv-dock--item--activefocus-shadow: 0 ;

    /* 侧栏面板 */
    --Sv-layout-resize-lr-width: 10px;
    --Sv-block-icon-active: #dbc9f5;
    --Sv-backlink-top: 8px;

    /* 底栏 */
    --Sv-status-barDock-color: #9d80ec;
    --Sv-status-radius-r: 0 10px 10px 0;
    --Sv-status-radius-t: 0 0 10px 0;

    /* 页签 */
    --Sv-tab-bar-item--focus-radius: 10px 10px 0 0;
    --Sv-tab-bar-readonly-shadow: 10px -10px 0 var(--Sv-dock-background);

    /* 面包屑 */
    --Sv-breadcrumb-active: #ab90f7;
    --Sv-breadcrumb-active-hover:#9d80ec;

    /* 引用 */
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right, #8788ff, #c796f1) 1;



    /*——————————————————————————— 收缩按钮 ——————————————————————————*/
    --Sv-Oplugin-on:url("data:image/svg+xml;utf8,<svg fill='rgb(132, 130, 125)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M14.667 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333zM18.533 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333z'/></svg>") no-repeat left 16px top -6px;
    --Sv-Oplugin-off:url("data:image/svg+xml;utf8,<svg fill='rgb(132, 130, 125)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M20.4 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133-0.133-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333zM16.533 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133 0-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333z'/></svg>") no-repeat left -10px top -6px;
    /*——————————————————————————————————————————————————————————————*/
    
    --Sv-Savor-light-on:var(--Sv-Savor-light-off);

}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}


