:root {
    /* 主色 */
    --b3-theme-primary-base-l:64.04%;
    --b3-theme-primary-base-ch:0.1865 43.18;
    --b3-theme-surface-base-l:28.9%;
    --b3-theme-surface-base-ch:0.0069 145.4;

	
	/* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-barWorkspace-color: var(--b3-theme-on-background);
    --Sv-barWorkspace-background: var(--Sv-list-background);
    --Sv-barWorkspace-background-hover: var(--Sv-list-focus-hover);

	/* dock栏 */
    --Sv-dock-item-radius:10px;
    --Sv-dock-item--activefocus-background:  #ff6000!important;
    --Sv-dock--item--activefocus-shadow: 0 ;
	
	/* 侧栏面板 */
    --Sv-block-icon-active: #ff6000;
    --Sv-layout-resize-lr-width: 10px;
    --Sv-backlink-top: 8px;

    /* 底栏 */
    --Sv-status-barDock-color: #ff6000;
    --Sv-status-radius-r: 0 10px 10px 0;
    --Sv-status-radius-t: 0 0 10px 0;

    /* 页签 */
    --Sv-tab-bar-item--focus-radius: 10px 10px 0 0;
    --Sv-tab-bar-readonly-shadow: 10px -10px 0 var(--Sv-dock-background);
    
	/* 面包屑 */
	--Sv-breadcrumb-active: #ff6000;
	--Sv-breadcrumb-active-hover:#e16314;
    
    /* 块引用 */
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right,#ff6000, #ff6000) 1;


	/*——————————————————————————— 收缩按钮 ——————————————————————————*/
	--Sv-Splugin-on:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M14.667 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333zM18.533 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333z'/></svg>") no-repeat left 16px top -6px;
	--Sv-Splugin-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M20.4 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133-0.133-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333zM16.533 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133 0-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333z'/></svg>") no-repeat left -10px top -6px;
	/*——————————————————————————————————————————————————————————————*/

    --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M12.8,15.6l4-4.1c0.2-0.2,0.2-0.4,0.2-0.6c0-0.5-0.4-0.9-0.9-0.9c-0.3,0-0.5,0.1-0.6,0.3L12,13.9l-3.4-3.6C8.3,10.1,8.1,10,7.9,10C7.4,10,7,10.4,7,10.9c0,0.2,0.1,0.4,0.2,0.6l4,4.1c0.2,0.2,0.4,0.3,0.7,0.3C12.3,15.9,12.5,15.8,12.8,15.6z'/></svg>") no-repeat right 2px center #464845;

    --Sv-Savor-dark-on:var(--Sv-Savor-dark-off);
}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}


body{
	border: 0px!important;
}


.b3-select:hover {
    background-color: #4e504d;
}