.layout__center ~ .fn__flex-column .layout-tab-container>.fn__flex-column.file-tree{
	background-color:var(--b3-theme-background)!important;
}

#dockTop+.fn__flex-1{
	position:relative;
	overflow:hidden;
}

.layout__center ~ .fn__flex-column {
	opacity:0;
	transform:translateX(calc(100% - 20px));
	transform-origin: 100% 0 ;
	position:absolute;
	right:0px;
	z-index:2;
	top:90px;
	bottom:50px;
	min-height: unset;
	height:calc(100% - 140px);
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; 
	border-right:37px solid transparent;/*增加点击区域*/
	border-radius:5px 0 0 5px;
	overflow:hidden;
	transition: all 200ms!important;
}
#dockLeft.fn__none+#layouts .layout__center ~ .fn__flex-column{
	right:-36px;
	transform:translateX(calc(100% - 56px));
}

.layout__center ~ .fn__flex-column:hover{
	opacity:1;
	transform:translateX(0%)!important;
	transition: all 300ms!important;
}
.layout__center+.layout__resize--lr{
	width:0px;
	margin:0;
}
#dockRight .dock__item {
	z-index:2;
}
#dockRight:before{
	content: "";
    height:calc(100% - 40px);
	width:36px;
	right:-36px;
	box-shadow: var(--b3-dockright-background) -36px 0px 0px 0px;
	z-index:2;
    position: absolute;
	bottom:0px;
}




.layout__center ~ .fn__flex-column:has(.file-tree.sy__file.layout__tab--active),
.layout__center ~ .fn__flex-column:has(.file-tree.sy__inbox.layout__tab--active),
.layout__center ~ .fn__flex-column:has(.file-tree.sy__tag.layout__tab--active),
.layout__center ~ .fn__flex-column:has(.file-tree.sy__bookmark.layout__tab--active),
.layout__center ~ .fn__flex-column:has(.file-tree.sy__outline.layout__tab--active),
.layout__center ~ .fn__flex-column:has(.file-tree.sy__graph.layout__tab--active),
.layout__center ~ .fn__flex-column:has(.file-tree.sy__globalGraph.layout__tab--active),
.layout__center ~ .fn__flex-column:has(.file-tree.sy__backlink.layout__tab--active){
	animation: shrink 2s ease-in-out;
}


.layout__center:has(~.fn__flex-column[style*="width"])>div:nth-last-child(1)>div:nth-last-child(1)  .layout-tab-bar.layout-tab-bar--readonly,
.layout__center>.fn__flex:has(~.layout__resize:not(.layout__resize--lr)) .layout-tab-bar.layout-tab-bar--readonly{
  margin-right:210px;
}


#dockLeft.fn__none+#layouts .layout__center:has(~.fn__flex-column[style*="width"])>div:nth-last-child(1)>div:nth-last-child(1)  .layout-tab-bar.layout-tab-bar--readonly,
#dockLeft.fn__none+#layouts .layout__center>.fn__flex:has(~.layout__resize:not(.layout__resize--lr)) .layout-tab-bar.layout-tab-bar--readonly{
  margin-right:246px;
}


.layout__center~.fn__flex-column>.fn__flex:first-child,
.layout__center~.fn__flex-column>.fn__flex.fn__none+.layout__resize+.fn__flex{
	padding-top:0px;
}/*取消侧栏上端间距*/


.layout#layouts .fn__flex-column:not(.fn__flex-shrink)>.fn__flex-1>.fn__flex>.layout-tab-container>.fn__flex-column{
padding-bottom:0px;}/*取消侧栏下端间距*/
