:root {
    /* 主色 */
    --b3-theme-primary: rgb(0, 122, 149);/* 主色 */
    --b3-theme-surface:oklch(90.94% 0.0087 197);/* 面板主色 */
	
    /* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-toolbar-background:/*#9ca8a8;*/rgb(37, 40, 48);
    --Sv-layout-margin: 5px;


	
	/* 侧栏面板 */
    --Sv-block-icon-svg-color: rgba(55, 53, 47, .5);


    /* 合并顶栏插件收缩颜色 */
    --Sv-plugin-off-bg:  oklch(from var(--Sv-toolbar-background) calc(l*0.9) c h );
    --Sv-plugin-b-off-bg:  oklch(from var(--Sv-toolbar-background) calc(l*0.8) c h );
    --Sv-plugin-b-off-bg-hover: oklch(from var(--Sv-toolbar-background) calc(l*1.02) c h );
    --Sv-fixed-item-text: #9fa4a7;

    /*——————————————————————————— 收缩按钮 ——————————————————————————*/
    --Sv-Splugin-on:url("data:image/svg+xml;utf8,<svg fill='rgb(37, 40, 48)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M14.667 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333zM18.533 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333z'/></svg>") no-repeat left 16px top -6px;
    --Sv-Splugin-off:url("data:image/svg+xml;utf8,<svg fill='rgb(215, 224, 224)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M20.4 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133-0.133-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333zM16.533 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133 0-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333z'/></svg>") no-repeat left -10px top -6px;
    /*——————————————————————————————————————————————————————————————*/

}





#buttonSavor-dark,#buttonvinegar{
	display:none!important;
}


#buttonSavor-light.button_off{
	background:var(--Sv-Savor-light-off);
}

#toolbar + .fn__flex,#layouts>.fn__flex{
    background-color: var(--Sv-dock-background)!important;
}

.dock.dock--vertical .dock__item:first-child {
    margin-top: 5px !important;
}

