

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}




#buttonSavor-dark,#buttonvinegar,#buttonocean,#buttonmountain{
	display:none!important;
}


#buttonSavor-light.button_off{
	background:var(--Sv-Savor-light-on);
}



#buttonSavor-light::before{
    content: "";
    position: absolute;
    width: 121px;
    height: 92px;
    left: 0px;
    background-color: rgba(152, 55, 40, 0.05);
    z-index: -5;
    border-radius: 6px;
}
#buttonforest::before{
    content: "";
    position: absolute;
    width: 121px;
    height: 92px;
    left: 0px;
    background-color: rgba(29, 107, 62, 0.05);
    z-index: -5;
    border-radius: 6px;
}
#conceal::before{
    content: "";
    position: absolute;
    width: 121px;
    height: 123px;
    left: 0px;
    background-color: rgba(105, 105, 105, 0.05);
    z-index: -5;
    border-radius: 6px;
}
#buttonsugar,#buttonwind{
    margin-bottom: 5px;
}