:root {
    /* 主色 */
    --b3-theme-primary: rgb(46, 170, 220);/* 主色 */
    --b3-theme-primary-light: rgba(46, 170, 220, 0.54);
    --b3-theme-primary-lighter: rgba(46, 170, 220, 0.38);
    --b3-theme-primary-lightest: rgba(46, 170, 220, 0.2);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #fff;/* 编辑区背景 */
    --b3-theme-background-light: #dfe0e1;
    --b3-theme-surface: rgb(251, 251, 250);/* 面板主色 */
    --b3-theme-surface-light: rgba(251, 251, 250, .5);
    --b3-theme-surface-lighter: rgba(230, 229, 225);
    --b3-theme-error: #eb5757;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: rgb(55, 53, 47);
    --b3-theme-on-surface: #84827d;
    --b3-theme-on-surface-light: rgba(95, 99, 104, .68);
    --b3-theme-on-error: #fff;

    /* 顶部工具栏 */
    --b3-toolbar-background: var(--b3-theme-surface);
    --b3-toolbar-blur-background: #fcfcfc;
    --b3-toolbar-color: var(--b3-theme-on-surface);
    --b3-toolbar-hover: var(--b3-theme-background-light);
    --b3-toolbar-left-mac: 69px;

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, 0.1);
    --b3-border-radius: 4px;
    --b3-border-radius-b: 12px;

    /* 滚动条 */
	--b3-scroll-color: rgba(211,209,203,.5);
	--b3-scroll-color-hover: rgba(174,172,166);
	--b3-scroll-bgcolor: transparent;

	--b3-border-scroll: rgba(55, 53, 47, 0.2);
	
	--webkit-scrollbar: 6px;
	--webkit-scrollbar-thumb: 4px;

    /* 列表 */
    --b3-list-hover: rgba(55, 53, 47, 0.06);
    --b3-list-icon-hover: rgba(33, 34, 36, .1);

    /* 菜单 */
    --b3-menu-background: #f8f9fa;

    /* 提示 */
	--b3-tooltips-background: var(--b3-theme-on-background);
	--b3-tooltips-color: var(--b3-theme-background);
    --b3-tooltips-shadow: 0 2px 8px rgba(0, 0, 0, .1);

    /* 为空提示 */
    --b3-empty-color: var(--b3-theme-on-surface-light);

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 自定义文字 */
	--b3-font-color1: #000;
    --b3-font-color2: rgba(55, 53, 47, 0.6);
    --b3-font-color3: rgb(100, 71, 58);
	--b3-font-color4: rgb(217, 115, 13);
    --b3-font-color5: #f5822e;
	--b3-font-color6: rgb(223, 171, 1);
    --b3-font-color7: #65b84d;
	--b3-font-color8: rgb(15, 123, 108);
    --b3-font-color9: rgb(11, 110, 153);
    --b3-font-color10: rgb(105, 64, 165);
    --b3-font-color11: rgb(173, 26, 114);
    --b3-font-color12: rgb(224, 62, 62);
    --b3-font-color13: #e81123;
    
	--b3-font-background1: rgb(198, 203, 208);
    --b3-font-background2: rgb(225, 225, 225);
    --b3-font-background3: rgb(235, 236, 237);
    --b3-font-background4: rgb(233, 229, 227);
	--b3-font-background5: rgb(246, 225, 205);
    --b3-font-background6: rgb(250, 235, 221);
    --b3-font-background7: rgb(251, 243, 219);
	--b3-font-background8: rgba(221, 237, 226);
    --b3-font-background9: rgb(221, 237, 234);
    --b3-font-background10: rgb(221, 235, 241);
    --b3-font-background11: rgb(234, 228, 242);
    --b3-font-background12: rgb(244, 223, 235);
    --b3-font-background13: rgb(251, 228, 228);

    /* 动画效果 */
    --b3-transition: all .2s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .2s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 下拉菜单 */
    --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M12.8,15.6l4-4.1c0.2-0.2,0.2-0.4,0.2-0.6c0-0.5-0.4-0.9-0.9-0.9c-0.3,0-0.5,0.1-0.6,0.3L12,13.9l-3.4-3.6C8.3,10.1,8.1,10,7.9,10C7.4,10,7,10.4,7,10.9c0,0.2,0.1,0.4,0.2,0.6l4,4.1c0.2,0.2,0.4,0.3,0.7,0.3C12.3,15.9,12.5,15.8,12.8,15.6z'/></svg>") no-repeat right 2px center var(--b3-theme-background);

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #8250df;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);
    --b3-protyle-code-linenumber-hl: #b9d1f4;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: rgb(252, 212, 126);
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #8957e5;
    --b3-protyle-inline-fileref-color: #21862e;

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
    --b3-pdf-dark: #212224;
	
	/*******************  自定义结构配色  *******************/
	/*callout*/
	--b3-bq-background1: rgb(198, 203, 208 , .5);
    --b3-bq-background2: rgb(225, 225, 225 , .5);
    --b3-bq-background3: rgb(235, 236, 237 , .5);
    --b3-bq-background4: rgb(233, 229, 227 , .5);
	--b3-bq-background5: rgb(246, 225, 205 , .5);
    --b3-bq-background6: rgb(250, 235, 221 , .5);
    --b3-bq-background7: rgb(251, 243, 219 , .5);
	--b3-bq-background8: rgba(221, 237, 226 , .5);
    --b3-bq-background9: rgb(221, 237, 234 , .5);
    --b3-bq-background10: rgb(221, 235, 241 , .5);
    --b3-bq-background11: rgb(234, 228, 242 , .5);
    --b3-bq-background12: rgb(244, 223, 235 , .5);
    --b3-bq-background13: rgb(251, 228, 228 , .5);
	
	/* 顶栏 */
	--b3-toolbar-blur-background: var(--S-toolbar-background);
	--S-toolbar-background: #f1f1f0;
	--S-toolbar-item-hover: rgba(0, 0, 0, .05);
	--S-toolbar-barWorkspace-hover: rgba(55, 53, 47, 0.05);
	--S-toolbar-closeWindow-hover: #e81123;
	--S-toolbar-closeWindow-svg: #fff;
	
	/* dock栏 */
	--S-dock-color: rgb(55, 53, 47, .5);
	--S-dock-background:  #f1f1f0;
	--S-dockright-item-active-background: var(--b3-theme-background);
	--S-dockleft-item-active-background: var(--b3-theme-background);
	--S-dock-item-active-color: var(--b3-theme-on-background);
	--S-dock-item-hover-background: var(--b3-theme-background);
	--S-dock--item--activefocus: #e16259;
	
	--S-dock-item-width: 34px;
	
	/* 侧栏面板 */
	--S-fn__flex-column-background: rgb(251, 251, 250);
	--S-fn__flex-shrink-background: rgb(251, 251, 250);
	--S-block-logo-color: var(--b3-theme-on-background);
	--S-block-logo-background-color: #bdbcb8;
	--S-block-icon-svg-color: rgba(161, 160, 156);
	--S-block-icon-hover: rgba(55, 53, 47, 0.06);
	--S-list-item-arrow: rgba(55, 53, 47, 0.4);
	--S-list-background: rgba(55, 53, 47, 0.06);
	--S-list-background-focus: rgba(55, 53, 47, 0.12);
	--S-list-background-activefocus:  rgba(235, 131, 131, 0.15);
	--S-block-icon-active: var(--b3-theme-error);
	
	--S-flex-column-padding:6px 0px 2px 0px;
	--S-list-item-radius: 3px;
	
	/* 大纲数字 */
	--h1-list-graphic: #eb8383;
	--h2-list-graphic: #ae9acb;
	--h3-list-graphic: #7db5cd;
	--h4-list-graphic: #71a796;
	--h5-list-graphic: #dcbf61;
	--h6-list-graphic: #dda36a;
	
	/* 线条 */
	--b3-layout-resize: rgba(230, 229, 225);
	--b3-shrink-layout-resize: rgba(230, 229, 225);
	--b3-layout-resize-hover: var(--b3-scroll-color);
	--flex-width-transition:width 150ms linear; /*调节宽度动画*/
	--b3-border-fold: rgb(15, 15 , 15, .1);/*折叠边框*/
	--b3-layout-resize-width: 1px;
	
	/* 页签 */
	--S-item-focus: rgb(0, 0, 0 ,1);
	
	/* 面包屑 */
	--S-protyle-breadcrumb-arrow: rgba(174,172,166);
	
	/* 头图按钮 */
	--S-icons-tooltips: rgba(55, 53, 47, 0.5);
	--S-icons-tooltips-hover: var(--S-list-background);
	--S-img-icons-tooltips: var(--b3-theme-on-surface);
	--S-img-icons-tooltips-bg: var(--b3-theme-background);
	--S-img-icons-span: rgba(0, 0, 0, .5);
	
	/* 块标 */
	--b3-gutters-color: rgba(211,209,203);
	--S-gutters-background: var(--S-toolbar-item-hover);
	
	/* 弹出工具条字体颜色选择 */
	--b3-color--square: var(--b3-border-color);
	
	/* 任务列表 */
	--b3-task-done-color: var(--b3-scroll-color-hover);
	--b3-task-done-hover: #069ccd;
	
	/* 引述 */
	--b3-bq-background: rgba(249, 249, 250);
	
	/* 块引用 */
	--b3-block-ref-background: var(--S-toolbar-item-hover);
	
	/* 代码块 */
	--S-linenumber-rows: rgba(55, 53, 47, 0.09);
	--S-code-block-hljs: var(--S-list-background);		
	
	/*行内代码*/
	--S-inline-code:var(--b3-theme-error);
	
	/*按钮*/
	--b3-button: #069ccd;
	
	/*pdf*/
	--b3-toolbarSidebar: #f1f1f0;
	
	/*导图*/
	--b3-border-daotu: 2px solid #ffb8b8;
	--b3-block-daotu:#FFF;
	
	/*看板*/
	--kbline-boarditem-minwidth: 14rem;/*看板卡片的最小宽度*/
	--kb--li--background:#fff;
	
	/*ctrlp*/
	--b3-list-item--meta: #9b9a97;
	
	/*底栏状态*/
	--S-status-msg-background: #f1f1f0;
	
	/*标签*/
	--S-chip--secondary:rgb(73, 41, 14);
	--S-chip--primary:rgb(64, 44, 27);
	--S-chip--info:rgb(28, 56, 41);
	--S-chip--success:rgb(24, 51, 71);
	--S-chip--warning:rgb(65, 36, 84);
	--S-chip--error:rgb(76, 35, 55);
	--S-chip--pink:rgb(93, 23, 21);
}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}


body{
	border: 0px!important;
}



#buttonSavor-dark,#buttonvinegar{
	display:none!important;
}

#buttonSavor-light[style*="base"]{
	background-image: url(/appearance/themes/Savor/img/base2.svg)!important;
}