:root {
    /* 基础数 */
    --b3-theme-primary-base-l:69.42%;
    --b3-theme-primary-base-ch:0.1265 230.5;
    --b3-theme-surface-base-l:30.61%;
    --b3-theme-surface-base-ch:0.0087 233.95;

    --b3-font-color1-base-l: 100%;
    --b3-font-color2-base-l: 55.57%;
    --b3-font-color3-base-l: 58.06%;
	--b3-font-color4-base-l: 78.79%;
    --b3-font-color5-base-l: 83.02%;
	--b3-font-color6-base-l: 89.92%;
    --b3-font-color7-base-l: 67.96%;
	--b3-font-color8-base-l: 71.53%;
    --b3-font-color9-base-l: 66.4%;
    --b3-font-color10-base-l: 62.63%;
    --b3-font-color11-base-l: 65.71%;
    --b3-font-color12-base-l: 72.18%;
    --b3-font-color13-base-l: 63.03%;

	--b3-font-color1-base-ch: 0 0;
    --b3-font-color2-base-ch: 0.0077 233.74;
    --b3-font-color3-base-ch: 0.0469 44.11;
	--b3-font-color4-base-ch: 0.151 62.92;
    --b3-font-color5-base-ch: 0.1477 74.87;
	--b3-font-color6-base-ch: 0.1619 95.29;
    --b3-font-color7-base-ch: 0.093 179.77;
	--b3-font-color8-base-ch: 0.0961 216.69;
    --b3-font-color9-base-ch: 0.1008 238.15;
    --b3-font-color10-base-ch: 0.1587 301.59;
    --b3-font-color11-base-ch: 0.1909 350.24;
    --b3-font-color12-base-ch: 0.1728 26.38;
    --b3-font-color13-base-ch: 0.1744 24.32;

    /* 主色 */
    --b3-theme-surface-lighter: oklch(calc(var(--b3-theme-surface-base-l)*1.5) var(--b3-theme-surface-base-ch));

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #ebebeb;
    --b3-theme-on-surface: #afb1b2;
    --b3-theme-on-surface-light: rgba(154, 160, 166, .8);
    --b3-theme-on-error: #fff;

    /* 线条 */
    --b3-border-color: rgba(230, 230, 230, .1);
	--b3-border-color2: rgba(230, 230, 230, .1);

    /* 滚动条 */
    --b3-scroll-color: rgba(71, 76, 80 );
	--b3-scroll-color-hover: rgba(104,108,110);
	--b3-scroll-bgcolor: transparent;

	--b3-border-scroll: rgba(255, 255, 255, 0.2);

    /* 列表 */
    --b3-list-hover: rgba(230, 230, 230, .05);


    /* 提示 */
    --b3-tooltips-background: oklch(calc(var(--b3-theme-surface-base-l)*1.5) var(--b3-theme-surface-base-ch));
	--b3-tooltips-color: var(--b3-theme-on-background);
    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: #d69595;
    --b3-card-error-background: var(--b3-font-background13);
    --b3-card-warning-color: rgb(255, 213, 153);
    --b3-card-warning-background: var(--b3-font-background5);
    --b3-card-info-color: rgb(166, 213, 250);
    --b3-card-info-background: var(--b3-font-background10);
    --b3-card-success-color: rgb(183, 223, 185);
    --b3-card-success-background: var(--b3-font-background8);
    

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;


    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #32593c;
    --b3-protyle-search-border-color: #486a51;
    --b3-protyle-search-current-background: #204282;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(240, 246, 252, .15);
    --b3-protyle-code-linenumber-hl: #26364a;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #e8eaed;
    --b3-protyle-inline-em-color: #e8eaed;
    --b3-protyle-inline-s-color: #e8eaed;
    --b3-protyle-inline-link-color: #8ab4f8;
    --b3-protyle-inline-mark-background: #32593c;
    --b3-protyle-inline-mark-color: #e8eaed;
    --b3-protyle-inline-tag-color: #9aa0a6;
    --b3-protyle-inline-blockref-color: #9876aa;

    /* PDF */
    --b3-pdf-selection: #779170;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
	
	/* 自定义结构配色 */

	/*导图*/
	--b3-border-daotu: 2px solid rgba(69, 74, 77);
	--b3-block-daotu:var(--b3-theme-surface-light);
	/*看板*/
	--kbline-boarditem-minwidth: 14rem;/*看板卡片的最小宽度*/
	--kb--li--background:rgba(55, 60, 63);

	
    /* 数据库 */
    --Sv-font-color13: oklch(calc(var(--b3-font-color12-base-l)*1.3) var(--b3-font-color12-base-ch));
	--Sv-font-color12: oklch(calc(var(--b3-font-color11-base-l)*1.3) var(--b3-font-color11-base-ch));
	--Sv-font-color11: oklch(calc(var(--b3-font-color10-base-l)*1.3) var(--b3-font-color10-base-ch));
	--Sv-font-color10: oklch(calc(var(--b3-font-color9-base-l)*1.3) var(--b3-font-color9-base-ch));
	--Sv-font-color9: oklch(calc(var(--b3-font-color8-base-l)*1.3) var(--b3-font-color8-base-ch));
	--Sv-font-color8: oklch(calc(var(--b3-font-color7-base-l)*1.3) var(--b3-font-color7-base-ch));
	--Sv-font-color7: oklch(calc(var(--b3-font-color6-base-l)*1.3) var(--b3-font-color6-base-ch));
	--Sv-font-color6: oklch(calc(var(--b3-font-color5-base-l)*1.3) var(--b3-font-color5-base-ch));
	--Sv-font-color5: oklch(calc(var(--b3-font-color4-base-l)*1.3) var(--b3-font-color4-base-ch));
	--Sv-font-color4: oklch(calc(var(--b3-font-color3-base-l)*1.3) var(--b3-font-color3-base-ch));
	--Sv-font-color3: oklch(calc(var(--b3-font-color13-base-l)*1.3) var(--b3-font-color13-base-ch));
	--Sv-font-color2: oklch(calc(var(--b3-font-color2-base-l)*1.3) var(--b3-font-color2-base-ch));
	--Sv-font-color1: oklch(calc(var(--b3-font-color1-base-l)*1.3) var(--b3-font-color1-base-ch));

	

	--Sv-conceal-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M16 10.667c-3.733 0-6.667 2.933-6.667 6.667 0 3.6 3.067 6.667 6.667 6.667 3.733 0 6.667-3.067 6.667-6.667 0-3.733-3.067-6.667-6.667-6.667zM16 22.533c-2.933 0-5.2-2.267-5.2-5.2s2.267-5.2 5.2-5.2c2.267 0 4.133 1.467 4.933 3.467-0.133 0-0.4 0-0.4 0.133-0.533 0.533-0.933 0.8-1.467 1.2 0 0-0.133 0-0.133 0.133-0.533 0.267-1.2 0.533-1.733 0.533 0 0 0 0-0.133 0-0.4 0.133-0.667 0.133-1.067 0.133-0.267 0-0.667 0-0.933-0.133h-0.133c-0.533-0.133-1.2-0.267-1.6-0.533-0.133-0.133-0.133-0.133-0.133-0.133-0.533-0.267-1.067-0.667-1.467-1.067-0.133-0.133-0.533-0.133-0.8 0-0.133 0.133-0.133 0.533 0 0.8 0.4 0.4 0.8 0.8 1.2 1.067l-0.933 0.8c-0.133 0.133-0.133 0.533 0.133 0.8 0.133 0.133 0.133 0.133 0.4 0.133 0.133 0 0.267-0.133 0.4-0.133l0.933-1.2c0.4 0.133 0.8 0.267 1.2 0.4l-0.267 1.2c-0.133 0.267 0.133 0.533 0.4 0.667h0.267c0.267 0 0.533-0.133 0.533-0.4l0.267-1.2h1.467l0.267 1.2c0.133 0.267 0.267 0.4 0.533 0.4h0.133c0.267-0.133 0.533-0.4 0.4-0.667l-0.267-1.2c0.4-0.133 0.8-0.267 1.2-0.4l0.933 1.2c0.133 0.133 0.267 0.133 0.4 0.133s0.267 0 0.4-0.133c0 0 0-0.133 0.133-0.133-0.933 1.867-2.8 3.333-5.067 3.333zM20.933 18.933c0-0.133 0-0.267-0.133-0.4l-0.8-1.067c0.4-0.267 0.8-0.533 1.067-0.8 0 0.267 0 0.533 0 0.667 0.133 0.533 0 1.067-0.133 1.6z'/></svg>") no-repeat left 0px top -2px;
	
	--Sv-tabbarVertical-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M21.067 10.667h-10.133c-0.8 0-1.6 0.8-1.6 1.6v10c0 0.933 0.8 1.733 1.6 1.733h10c0.933 0 1.6-0.8 1.6-1.6v-10.133c0.133-0.8-0.667-1.6-1.467-1.6zM21.333 22.4c0 0.133-0.133 0.267-0.267 0.267h-7.333v-7.733h7.6v7.467zM21.333 13.6h-10.667v-1.333c0-0.133 0.133-0.267 0.267-0.267h10c0.267 0 0.4 0.133 0.4 0.267v1.333z'/></svg>") no-repeat left 0px top -2px;
	
	--Sv-topBar-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M21.067 10.667h-1.867c-0.133 0-0.133 0-0.267 0h-3.733c-0.133 0-0.133 0-0.267 0h-4c-0.8 0-1.6 0.8-1.6 1.6v10c0 0.933 0.8 1.733 1.6 1.733h10c0.933 0 1.6-0.8 1.6-1.6v-10.133c0.133-0.8-0.667-1.6-1.467-1.6zM15.333 12h2.4l-1.067 1.6h-2.4l1.067-1.6zM10.667 12.267c0-0.133 0.133-0.267 0.267-0.267h2.8l-1.067 1.6h-2v-1.333zM21.333 22.4c0 0.133-0.133 0.267-0.267 0.267h-10.133c-0.133 0-0.267-0.133-0.267-0.267v-7.333h10.667v7.333zM21.333 13.6h-3.067l1.067-1.6h1.6c0.267 0 0.4 0.133 0.4 0.267 0 0 0 1.333 0 1.333z'/></svg>") no-repeat left 0px top -2px;
	
	--Sv-bulletThreading-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M20 20c1.067 0 2 0.933 2 2s-0.933 2-2 2-2-0.933-2-2c0-1.067 0.933-2 2-2zM18.4 12c1.6 0 2.933 1.333 2.933 2.933s-1.333 2.933-2.933 2.933h-4.667c-0.933 0-1.6 0.8-1.6 1.6 0 0.933 0.8 1.6 1.6 1.6h2.933c0.267 0 0.667 0.267 0.667 0.667 0 0.267-0.267 0.667-0.667 0.667h-2.933c-1.733 0.267-3.067-1.067-3.067-2.8s1.333-2.933 3.067-2.933h4.667c0.933 0 1.6-0.8 1.6-1.6s-0.8-1.733-1.6-1.733h-2.933c-0.533 0-0.8-0.4-0.8-0.667s0.267-0.667 0.667-0.667c0 0 3.067 0 3.067 0zM20 21.333c-0.267 0-0.667 0.267-0.667 0.667 0 0.267 0.267 0.667 0.667 0.667s0.667-0.267 0.667-0.667c0-0.4-0.267-0.667-0.667-0.667v0zM12 10.667c1.067 0 2 0.933 2 2s-0.933 2-2 2c-1.067 0-2-0.933-2-2s0.933-2 2-2zM12 12c-0.267 0-0.667 0.267-0.667 0.667s0.4 0.667 0.667 0.667c0.4 0 0.667-0.267 0.667-0.667v0c0-0.4-0.267-0.667-0.667-0.667z'/></svg>") no-repeat left 0px top -2px;
	
	--Sv-settings:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M16 21.2h-6c-0.4 0-0.667-0.267-0.667-0.667 0-0.267 0.267-0.533 0.667-0.533h6c0.267-1.067 1.2-1.867 2.4-1.867 1.067 0 2.133 0.8 2.4 1.867h1.067c0.4 0 0.667 0.267 0.667 0.667s-0.267 0.667-0.667 0.667h-1.067c-0.267 1.067-1.2 1.867-2.4 1.867s-2.133-0.8-2.4-2v0zM17.2 20.667c0 0.667 0.533 1.2 1.2 1.2s1.2-0.533 1.2-1.2c0-0.667-0.533-1.2-1.2-1.2s-1.2 0.533-1.2 1.2zM11.867 14.667h-1.867c-0.4 0-0.667-0.267-0.667-0.667s0.267-0.667 0.667-0.667h1.867c0.267-1.067 1.2-1.867 2.4-1.867 1.067 0 2.133 0.8 2.4 1.867h5.333c0.4 0 0.667 0.267 0.667 0.667s-0.267 0.667-0.667 0.667h-5.333c-0.267 1.067-1.2 1.867-2.4 1.867-1.067-0.133-2-0.8-2.4-1.867zM13.067 14c0 0.667 0.533 1.2 1.2 1.2s1.2-0.533 1.2-1.2-0.533-1.2-1.2-1.2c-0.667 0-1.2 0.533-1.2 1.2z'/></svg>") no-repeat left -4px top -4px;

	--b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M12.8,15.6l4-4.1c0.2-0.2,0.2-0.4,0.2-0.6c0-0.5-0.4-0.9-0.9-0.9c-0.3,0-0.5,0.1-0.6,0.3L12,13.9l-3.4-3.6C8.3,10.1,8.1,10,7.9,10C7.4,10,7,10.4,7,10.9c0,0.2,0.1,0.4,0.2,0.6l4,4.1c0.2,0.2,0.4,0.3,0.7,0.3C12.3,15.9,12.5,15.8,12.8,15.6z'/></svg>") no-repeat right 2px center #44494b;

	/* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-toolbar-background:  oklch(calc(var(--b3-theme-surface-base-l)*1.15) var(--b3-theme-surface-base-ch));

	/* dock栏 */
    --Sv-dock-background: oklch(calc(var(--b3-theme-surface-base-l)*1.15) var(--b3-theme-surface-base-ch));
    --Sv-dock-item-color: oklch(calc(var(--b3-theme-surface-base-l)*2) var(--b3-theme-surface-base-ch) / 0.8);
	
	/* 侧栏面板 */
    --Sv-list-item-arrow: oklch(calc(var(--b3-theme-surface-base-l)*2) var(--b3-theme-surface-base-ch) / 0.4);
    --Sv-list-background: oklch(calc(var(--b3-theme-surface-base-l)*2) var(--b3-theme-surface-base-ch) / 0.1);
    --Sv-list-focus-hover: oklch(calc(var(--b3-theme-surface-base-l)*2) var(--b3-theme-surface-base-ch) / 0.15);
    --Sv-block-logo-color: var(--b3-theme-on-background);
    --Sv-block-logo-background: oklch(calc(var(--b3-theme-surface-base-l)*1.2) var(--b3-theme-surface-base-ch));

    /* 滚动条 */
    --Sv-scroll-color: oklch(calc(var(--b3-theme-surface-base-l)*1.3) var(--b3-theme-surface-base-ch));
	--Sv-scroll-color-hover: oklch(calc(var(--b3-theme-surface-base-l)*1.6) var(--b3-theme-surface-base-ch));

     /* 表格 */
     --Sv-table-thead: oklch(calc(var(--b3-theme-surface-base-l)*1.1) var(--b3-theme-surface-base-ch));

	/* 行内代码 */
	--Sv-inline-code: #ff9c9c;

	/* 字体颜色选择 工具条 */
	--Sv-protyle-toolbar-color: var(--b3-theme-on-background);
	--Sv-protyle-util-bg: var(--b3-theme-background);

	
	--Sv-style1-d-shadow: #474747;
	--Sv-error-shadow: #6b4b4b;
	--Sv-warning-shadow: #806b4d;
	--Sv-info-shadow: #536b7d;
	--Sv-success-shadow: #5c705d;

    


    /*——————————————————————————— 收缩按钮 ——————————————————————————*/
    --Sv-Splugin-on:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M14.667 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333zM18.533 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333z'/></svg>") no-repeat left 16px top -6px;
    --Sv-Splugin-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M20.4 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133-0.133-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333zM16.533 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133 0-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333z'/></svg>") no-repeat left -10px top -6px;
    /*——————————————————————————————————————————————————————————————*/
}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}

.protyle-toolbar{
	background-color: var(--Sv-menu-background);
}
#buttonSavor-light,#buttonsalt,#buttonsugar,#buttonforest,#buttonflower,#buttonwind{
	display:none!important;
}


#buttonSavor-dark.button_off{
	background:var(--Sv-Savor-dark-on);
}


#buttonSavor-dark::before{
    content: "";
    position: absolute;
    width: 132px;
    height: 62px;
    left: 0px;
    background-color: rgba(241, 165, 154, 0.1);
    z-index: -5;
    border-radius: 6px;
}
#buttonocean::before{
    content: "";
    position: absolute;
    width: 132px;
    height: 62px;
    left: 0px;
    background-color: rgba(129, 172, 146, 0.1);
    z-index: -5;
    border-radius: 6px;
}
#conceal::before{
    content: "";
    position: absolute;
    width: 132px;
    height: 123px;
    left: 0px;
    background-color: rgba(152, 152, 152, 0.1);
    z-index: -5;
    border-radius: 6px;
}
#buttonvinegar,#buttonmountain{
    margin-bottom: 5px;
}

.protyle-attr--refcount{
    background-color: oklch(calc(var(--b3-theme-surface-base-l)*1.2) var(--b3-theme-surface-base-ch));
}