:root {
    /* 主色 */
    --b3-theme-primary: rgb(46, 170, 220);/* 主色 */
    --b3-theme-primary-light: rgba(46, 170, 220, 0.54);
    --b3-theme-primary-lighter: rgba(46, 170, 220, 0.38);
    --b3-theme-primary-lightest: rgba(46, 170, 220, 0.2);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #2f3437;/* 编辑区背景 */
	--b3-theme-background-light: rgba(230, 230, 230, .1);
    --b3-theme-surface:rgb(55, 60, 63);/* 面板主色 */
	--b3-theme-surface-light: rgba(41, 42, 45, .86);
	--b3-theme-surface-lighter:rgba(230, 230, 230, .06);
    --b3-theme-error: #e35555;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #ebebeb;
    --b3-theme-on-surface: #afb1b2;
    --b3-theme-on-surface-light: rgba(154, 160, 166, .8);
    --b3-theme-on-error: #fff;

    /* 线条 */
    --b3-border-color: rgba(230, 230, 230, .1);
	--b3-border-color2: rgba(230, 230, 230, .1);

    /* 滚动条 */
    --b3-scroll-color: rgba(71, 76, 80 );
	--b3-scroll-color-hover: rgba(104,108,110);
	--b3-scroll-bgcolor: transparent;

	--b3-border-scroll: rgba(255, 255, 255, 0.2);
	
	--webkit-scrollbar: 6px;
	--webkit-scrollbar-thumb: 4px;
    /* 列表 */
    --b3-list-hover: rgba(230, 230, 230, .05);

    /* 菜单 */
    --b3-menu-background: #27282a;

    /* 提示 */

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: #d69595;
    --b3-card-error-background: var(--b3-font-background13);
    --b3-card-warning-color: rgb(255, 213, 153);
    --b3-card-warning-background: var(--b3-font-background5);
    --b3-card-info-color: rgb(166, 213, 250);
    --b3-card-info-background: var(--b3-font-background10);
    --b3-card-success-color: rgb(183, 223, 185);
    --b3-card-success-background: var(--b3-font-background8);

    /* 自定义文字 */
	--b3-font-color1: #FFF;
    --b3-font-color2: #6f7477;
	--b3-font-color3: rgb(147, 114, 100);
    --b3-font-color4: rgb(253, 162, 68);
	--b3-font-color5: rgb(255, 184, 73);
    --b3-font-color6: rgb(255, 220, 73);
	--b3-font-color7: rgb(77, 171, 154);
    --b3-font-color8: rgb(82, 178, 202);
    --b3-font-color9: rgb(82, 156, 202);
    --b3-font-color10: rgb(154, 109, 215);
    --b3-font-color11: rgb(226, 85, 161);
    --b3-font-color12: rgb(255, 115, 105);
	--b3-font-color13: rgb(223, 84, 82);
    
	--b3-font-background1: rgb(35, 38, 40);
    --b3-font-background2: rgb(63, 68, 71);
    --b3-font-background3: rgb(69, 75, 78);
    --b3-font-background4: rgb(67, 64, 64);
	--b3-font-background5: rgb(89, 74, 58);
    --b3-font-background6: rgb(89, 79, 59);
    --b3-font-background7: rgb(89, 86, 59);
	--b3-font-background8: rgba(53, 76, 75);
    --b3-font-background9: rgb(54, 79, 84);
    --b3-font-background10: rgb(54, 73, 84);
    --b3-font-background11: rgb(68, 63, 87);
    --b3-font-background12: rgb(83, 59, 76);
    --b3-font-background13: rgb(89, 65, 65);
	/*callout*/
	--b3-bq-background1: rgb(35, 38, 40 , .3);
    --b3-bq-background2: rgb(63, 68, 71 , .3);
    --b3-bq-background3: rgb(69, 75, 78 , .3);
    --b3-bq-background4: rgb(67, 64, 64 , .3);
	--b3-bq-background5: rgb(89, 74, 58 , .3);
    --b3-bq-background6: rgb(89, 79, 59 , .3);
    --b3-bq-background7: rgb(89, 86, 59 , .3);
	--b3-bq-background8: rgba(53, 76, 75 , .3);
    --b3-bq-background9: rgb(54, 79, 84 , .3);
    --b3-bq-background10: rgb(54, 73, 84 , .3);
    --b3-bq-background11: rgb(68, 63, 87 , .3);
    --b3-bq-background12: rgb(83, 59, 76 , .3);
    --b3-bq-background13: rgb(89, 65, 65 , .3);
    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #32593c;
    --b3-protyle-search-border-color: #486a51;
    --b3-protyle-search-current-background: #204282;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(240, 246, 252, .15);
    --b3-protyle-code-linenumber-hl: #26364a;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #e8eaed;
    --b3-protyle-inline-em-color: #e8eaed;
    --b3-protyle-inline-s-color: #e8eaed;
    --b3-protyle-inline-link-color: #8ab4f8;
    --b3-protyle-inline-mark-background: #32593c;
    --b3-protyle-inline-mark-color: #e8eaed;
    --b3-protyle-inline-tag-color: #9aa0a6;
    --b3-protyle-inline-blockref-color: #9876aa;

    /* PDF */
    --b3-pdf-selection: #779170;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
	
	/* 自定义结构配色 */
	/* 顶栏 */
	--S-toolbar-background: #2b2f31;
	--S-toolbar-blur-background: transparent;
	--S-toolbar-item-hover: rgba(255, 255, 255, 0.1);
	--S-toolbar-barWorkspace-hover:var(--S-list-background);
	--S-toolbar-closeWindow-hover: #e81123;
	--S-toolbar-closeWindow-svg: #fff;
	/* dock栏 */
	--S-dock-color: rgba(114, 118, 120);
	--S-dock-background: rgb(0, 0, 0, 0);
	--S-dockright-item-active-background: rgba(71, 76, 80 );
	--S-dockleft-item-active-background: rgba(71, 76, 80 );
	--S-dock-item-active-color: #eb8383;
	--S-dock-item-hover-background: rgba(71, 76, 80 );
	--S-dock--item--activefocus: #e16259;

	--S-dock-item-width: 34px;
	/* 侧栏面板 */
	--S-fn__flex-column-background: rgba(55, 60, 63);
	--S-fn__flex-shrink-background: rgba(55, 60, 63);
	--S-block-logo-color:var(--b3-theme-on-background);
	--S-block-logo-background-color: rgba(114, 118, 120);
	--S-block-icon-svg-color: rgba(114, 118, 120);
	--S-block-icon-hover: rgba(255, 255, 255, 0.1 );
	--S-block-icon-active: #eb8383;
	--S-list-item-arrow: rgba(149, 152, 156);
	--S-list-background: #44494b;
	--S-list-background-focus: rgba(255, 255, 255, 0.2 );
	--S-list-background-activefocus:  rgba(235, 131, 131, 0.15);
	
	--b3-flex-column-padding:6px 0px 2px 0px;
	--b3-list-item-radius: 3px;
	/* 大纲数字 */
	--h1-list-graphic: #eb8383;
	--h2-list-graphic: #ae9acb;
	--h3-list-graphic: #7db5cd;
	--h4-list-graphic: #71a796;
	--h5-list-graphic: #dcbf61;
	--h6-list-graphic: #dda36a;
	/* 线条 */
	--b3-layout-resize: rgba(230, 230, 230, .1);
	--b3-shrink-layout-resize: rgba(230, 230, 230, .1);
	--b3-layout-resize-hover: var(--b3-scroll-color);
	--flex-width-transition:width 150ms linear; /*调节宽度动画*/
	--b3-border-fold: rgba(114, 118, 120);/*折叠边框*/
	--b3-layout-resize-width: 1px;
	/* 页签 */
	--S-item-focus: rgba(255, 255, 255 ,0.2);
	/* 面包屑 */
	--S-protyle-breadcrumb-arrow: rgba(174,172,166);
	/* 头图按钮 */
	--S-icons-tooltips: var(--b3-theme-on-surface);
	--S-icons-tooltips-hover: var(--b3-list-background);
	--S-img-icons-tooltips: var(--b3-theme-on-surface);
	--S-img-icons-tooltips-bg: var(--b3-theme-background);
	--S-img-icons-span: rgba(255, 255, 255, .5);
	/* 块标 */
	--b3-gutters-color: var(--b3-scroll-color);
	--S-gutters-background: var(--b3-border-color);												   
	/* 弹出工具条字体颜色选择 */
	--b3-color--square: var(--b3-border-color);
	/* 任务列表 */
	--b3-task-done-color: var(--b3-scroll-color-hover);
	--b3-task-done-hover: #069ccd;
	/* 引述 */
	--b3-bq-background: rgba(54, 59, 62);
	/* 块引用 */
	--b3-block-ref-background: var(--b3-toolbar-item-hover);
	/* 代码块 */
	--S-linenumber-rows: rgba(61, 66, 69);
	--S-code-block-hljs: var(--S-fn__flex-shrink-background);		
	/*行内代码*/
	--S-inline-code:var(--b3-theme-error);
	/*按钮*/
	--b3-button: #069ccd;
	/*pdf*/
	--b3-toolbarSidebar: #484d50;
	/*导图*/
	--b3-border-daotu: 2px solid rgba(69, 74, 77);
	--b3-block-daotu:var(--b3-theme-surface-light);
	/*看板*/
	--kbline-boarditem-minwidth: 14rem;/*看板卡片的最小宽度*/
	--kb--li--background:rgba(55, 60, 63);
	/*ctrlp*/
	--b3-list-item--meta: #ebebeb;
	/*底栏状态*/
	--S-status-msg-background:#404548;
	--S-status-barDock: var(--b3-theme-on-background);
	--S-status-barDock-hover: #d4d4d4;
	
	/*数据库*/
	--S-font-color13: var(--b3-theme-on-background);
	--S-font-color12: var(--b3-theme-on-background);
	--S-font-color11: var(--b3-theme-on-background);
	--S-font-color10: var(--b3-theme-on-background);
	--S-font-color9: var(--b3-theme-on-background);
	--S-font-color8: var(--b3-theme-on-background);
	--S-font-color7: var(--b3-theme-on-background);
	--S-font-color6: var(--b3-theme-on-background);
	--S-font-color5: var(--b3-theme-on-background);
	--S-font-color4: var(--b3-theme-on-background);
	--S-font-color3: var(--b3-theme-on-background);
	--S-font-color2: var(--b3-theme-on-background);
	--S-font-color1: var(--b3-theme-on-background);
	

	--S-conceal-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M16 10.667c-3.733 0-6.667 2.933-6.667 6.667 0 3.6 3.067 6.667 6.667 6.667 3.733 0 6.667-3.067 6.667-6.667 0-3.733-3.067-6.667-6.667-6.667zM16 22.533c-2.933 0-5.2-2.267-5.2-5.2s2.267-5.2 5.2-5.2c2.267 0 4.133 1.467 4.933 3.467-0.133 0-0.4 0-0.4 0.133-0.533 0.533-0.933 0.8-1.467 1.2 0 0-0.133 0-0.133 0.133-0.533 0.267-1.2 0.533-1.733 0.533 0 0 0 0-0.133 0-0.4 0.133-0.667 0.133-1.067 0.133-0.267 0-0.667 0-0.933-0.133h-0.133c-0.533-0.133-1.2-0.267-1.6-0.533-0.133-0.133-0.133-0.133-0.133-0.133-0.533-0.267-1.067-0.667-1.467-1.067-0.133-0.133-0.533-0.133-0.8 0-0.133 0.133-0.133 0.533 0 0.8 0.4 0.4 0.8 0.8 1.2 1.067l-0.933 0.8c-0.133 0.133-0.133 0.533 0.133 0.8 0.133 0.133 0.133 0.133 0.4 0.133 0.133 0 0.267-0.133 0.4-0.133l0.933-1.2c0.4 0.133 0.8 0.267 1.2 0.4l-0.267 1.2c-0.133 0.267 0.133 0.533 0.4 0.667h0.267c0.267 0 0.533-0.133 0.533-0.4l0.267-1.2h1.467l0.267 1.2c0.133 0.267 0.267 0.4 0.533 0.4h0.133c0.267-0.133 0.533-0.4 0.4-0.667l-0.267-1.2c0.4-0.133 0.8-0.267 1.2-0.4l0.933 1.2c0.133 0.133 0.267 0.133 0.4 0.133s0.267 0 0.4-0.133c0 0 0-0.133 0.133-0.133-0.933 1.867-2.8 3.333-5.067 3.333zM20.933 18.933c0-0.133 0-0.267-0.133-0.4l-0.8-1.067c0.4-0.267 0.8-0.533 1.067-0.8 0 0.267 0 0.533 0 0.667 0.133 0.533 0 1.067-0.133 1.6z'/></svg>") no-repeat left 0px top -2px;
	
	--S-tabbarVertical-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M21.067 10.667h-10.133c-0.8 0-1.6 0.8-1.6 1.6v10c0 0.933 0.8 1.733 1.6 1.733h10c0.933 0 1.6-0.8 1.6-1.6v-10.133c0.133-0.8-0.667-1.6-1.467-1.6zM21.333 22.4c0 0.133-0.133 0.267-0.267 0.267h-7.333v-7.733h7.6v7.467zM21.333 13.6h-10.667v-1.333c0-0.133 0.133-0.267 0.267-0.267h10c0.267 0 0.4 0.133 0.4 0.267v1.333z'/></svg>") no-repeat left 0px top -2px;
	
	--S-topBar-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M21.067 10.667h-1.867c-0.133 0-0.133 0-0.267 0h-3.733c-0.133 0-0.133 0-0.267 0h-4c-0.8 0-1.6 0.8-1.6 1.6v10c0 0.933 0.8 1.733 1.6 1.733h10c0.933 0 1.6-0.8 1.6-1.6v-10.133c0.133-0.8-0.667-1.6-1.467-1.6zM15.333 12h2.4l-1.067 1.6h-2.4l1.067-1.6zM10.667 12.267c0-0.133 0.133-0.267 0.267-0.267h2.8l-1.067 1.6h-2v-1.333zM21.333 22.4c0 0.133-0.133 0.267-0.267 0.267h-10.133c-0.133 0-0.267-0.133-0.267-0.267v-7.333h10.667v7.333zM21.333 13.6h-3.067l1.067-1.6h1.6c0.267 0 0.4 0.133 0.4 0.267 0 0 0 1.333 0 1.333z'/></svg>") no-repeat left 0px top -2px;
	
	--S-bulletThreading-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M20 20c1.067 0 2 0.933 2 2s-0.933 2-2 2-2-0.933-2-2c0-1.067 0.933-2 2-2zM18.4 12c1.6 0 2.933 1.333 2.933 2.933s-1.333 2.933-2.933 2.933h-4.667c-0.933 0-1.6 0.8-1.6 1.6 0 0.933 0.8 1.6 1.6 1.6h2.933c0.267 0 0.667 0.267 0.667 0.667 0 0.267-0.267 0.667-0.667 0.667h-2.933c-1.733 0.267-3.067-1.067-3.067-2.8s1.333-2.933 3.067-2.933h4.667c0.933 0 1.6-0.8 1.6-1.6s-0.8-1.733-1.6-1.733h-2.933c-0.533 0-0.8-0.4-0.8-0.667s0.267-0.667 0.667-0.667c0 0 3.067 0 3.067 0zM20 21.333c-0.267 0-0.667 0.267-0.667 0.667 0 0.267 0.267 0.667 0.667 0.667s0.667-0.267 0.667-0.667c0-0.4-0.267-0.667-0.667-0.667v0zM12 10.667c1.067 0 2 0.933 2 2s-0.933 2-2 2c-1.067 0-2-0.933-2-2s0.933-2 2-2zM12 12c-0.267 0-0.667 0.267-0.667 0.667s0.4 0.667 0.667 0.667c0.4 0 0.667-0.267 0.667-0.667v0c0-0.4-0.267-0.667-0.667-0.667z'/></svg>") no-repeat left 0px top -2px;
	
	--S-settings:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M16 21.2h-6c-0.4 0-0.667-0.267-0.667-0.667 0-0.267 0.267-0.533 0.667-0.533h6c0.267-1.067 1.2-1.867 2.4-1.867 1.067 0 2.133 0.8 2.4 1.867h1.067c0.4 0 0.667 0.267 0.667 0.667s-0.267 0.667-0.667 0.667h-1.067c-0.267 1.067-1.2 1.867-2.4 1.867s-2.133-0.8-2.4-2v0zM17.2 20.667c0 0.667 0.533 1.2 1.2 1.2s1.2-0.533 1.2-1.2c0-0.667-0.533-1.2-1.2-1.2s-1.2 0.533-1.2 1.2zM11.867 14.667h-1.867c-0.4 0-0.667-0.267-0.667-0.667s0.267-0.667 0.667-0.667h1.867c0.267-1.067 1.2-1.867 2.4-1.867 1.067 0 2.133 0.8 2.4 1.867h5.333c0.4 0 0.667 0.267 0.667 0.667s-0.267 0.667-0.667 0.667h-5.333c-0.267 1.067-1.2 1.867-2.4 1.867-1.067-0.133-2-0.8-2.4-1.867zM13.067 14c0 0.667 0.533 1.2 1.2 1.2s1.2-0.533 1.2-1.2-0.533-1.2-1.2-1.2c-0.667 0-1.2 0.533-1.2 1.2z'/></svg>") no-repeat left -4px top -4px;
}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}

.b3-text-field::-webkit-calendar-picker-indicator {
    fiilter: invert(1);
}


#buttonSavor-light,#buttonsalt,#buttonsugar{
	display:none!important;
}

#savorToolbar:after{
	height:188px;
}

.b3-menu,.b3-menu__item,.b3-menu .b3-menu__submenu,.hint--menu{
	background-color: var(--S-fn__flex-column-background);
}


#buttonSavor-dark.button_on,#buttonSavor-dark.button_off{
	background:var(--S-Savor-dark-on);
}