

.layout-tab-bar{
	padding: 0 4px 0 4px;
	box-shadow: -1px 0px 0px 0px var(--b3-layout-resize) inset;
	margin:0;
	border-bottom: none;
}
.layout__center{
	box-shadow: 0px 39px 0 0px var(--b3-theme-background) inset,0px 40px 0 0px var(--b3-border-color) inset;
}
.layout__center [data-type='wnd'][data-id] {
	display: flex;
	flex-direction: row;
}
.layout-tab-bar:not(.layout-tab-bar--readonly){
	margin-top:-4px;
}
.layout__center [data-type='wnd'][data-id] > .fn__flex:not(.layout-tab-container) {
	flex-direction: column-reverse;
}

.layout__center [data-type='wnd'][data-id] .layout-tab-bar {
	display: block;
	flex: 1;
}
.layout__center [data-type='wnd'][data-id] .layout-tab-bar .item .item__icon{
	padding: 6px;
}
.layout__center [data-type='wnd'][data-id] .layout-tab-bar .item__graphic{
	padding-left: 8px;
}
.layout__center [data-type='wnd'][data-id] .layout-tab-bar .item .item__text {
	text-align: unset;
	padding-left: 6px;
}
.layout__center [data-type='wnd'][data-id] .layout-tab-bar.layout-tab-bar--readonly {
	flex: initial;
}
.layout-tab-bar .item {
    margin: 4px 4px 4px 0px;
	min-width:150px;
}

.layout__wnd--active .layout-tab-bar .item--focus:not(.item--pin){
	background-color:var(--b3-fn__flex-column-background);
}

.layout__wnd--active .layout-tab-bar .item--focus::after,.layout-tab-bar .item--focus:after{
	content: '';
	position: absolute;
	right: -7px;
	bottom:unset;
	left:unset;
	height:100%;
	width: 3px;
	background-color: var(--b3-item-focus);
	animation: item-focus 0.2s ease-in-out;
	overflow:visible;
}
.layout-tab-bar .item__text.fn__none{
	display:inherit!important;
}

.layout__center>.fn__flex-1:first-child>.fn__flex-1>.layout-tab-container>.protyle>.protyle-breadcrumb{
	padding-left:6px;
}

.layout-tab-bar{
	margin-right:0!important;
	margin-left:0!important;
}
.layout__center:has(~.fn__flex-column[style*="width: 0px"]) .layout-tab-bar--readonly .item--readonly>[data-type="new"]+.fn__flex-1{
	margin-right:0px!important;
}


.item__close[data-type="more"]{
	padding: 4px 2px 4px 2px;
}

[data-type="tab-header"] .item__close{
	position:absolute;
	right:0px;
}
[data-type="tab-header"] .item__text{
	margin-right:25px;
}

ul.layout-tab-bar:not(.layout-tab-bar--readonly):before,ul.layout-tab-bar--readonly .item__close[data-type="more"]:after{
	display:none;
}
.layout__resize{
	z-index:6;
}
#shrinkLeft,#shrinkRight{
	z-index:7;
}
.layout-tab-bar .item--pin, .layout-tab-bar  .item{
	padding:0;
	min-height:32px;
}



.protyle-breadcrumb{
	border-top: none;
}