.fn__flex:not(.av__views){
    & > .layout-tab-bar{
	margin:0 5px 0 0; 
	border-bottom: none;
    display: block;
	flex: 1;
    overflow: visible;
    &.layout-tab-bar--readonly {
        flex: initial;
    }
    .item:not(.item--readonly) {
        margin:0 0 5px 0!important;
        min-width:150px;
        &.item--focus {
            box-shadow: 6px 0 0 0 var(--Sv-tab-bar-item-background-focus)!important;
            border-radius: 6px 0 0 6px!important;
            &::before, &::after {
                display: none!important;
            }}
    }
    }
    .layout-tab-bar--readonly{
        margin-left: 0px!important;
    }
}
.layout__center [data-type='wnd'][data-id] {
	display: flex;
	flex-direction: row;
    & > .fn__flex:not(.layout-tab-container) {
        flex-direction: column-reverse;
    }
}







[data-type="tab-header"] .item__close{
	position:absolute;
	right:0px;
}



.layout__center [data-type="wnd"][data-id]:has(.sy__outline),.layout__center [data-type="wnd"][data-id]:has([data-timeout]),.layout__center [data-type="wnd"][data-id]:has(.sy__backlink),.layout__center [data-type="wnd"][data-id]:has(.sy__graph){
	flex-direction: column;
    & > .fn__flex:not(.layout-tab-container) {
        flex-direction: row;
        & > .layout-tab-bar:not(.layout-tab-bar--readonly){
        display: flex;
            & .item--focus {
            border-radius: 6px 6px 0 0!important;   
            box-shadow: 0 5px 0 0 var(--Sv-tab-bar-item-background-focus)!important;      
            }
         }
    }
}


