body:not(.body--mobile,.body--window)>#toolbar{
	z-index: 2;
	height: 38px;
	margin-bottom: -38px;
	pointer-events: none;
	counter-reset:plugin-counter;
    app-region: drag;
	& .toolbar__item {
		pointer-events: visibleFill;
		app-region: no-drag;
	}
	& #drag,& #toolbarVIP{
		display: none;
		}
		&  [data-position]{
			margin: 0px;
			margin-right: -16px;
			border: 2px solid var(--b3-toolbar-background);
			border-radius: 50%;
			box-sizing: content-box;
			height: 13px;
			padding: 4px;
			counter-increment: plugin-counter;
		&:hover{
				margin-right: -2px;
			}
		&:not(.fn__none)~#barPlugins::before{
				content: counter(plugin-counter);
				position: fixed;
				top:9px;
				margin-left: -34px;
				border-radius: 50%;
				background-color: #ee6f5b;
				color: #fff;
				width: 20px;	
				height: 20px;
				line-height: 20px;
				text-align: center;
			}
		}
	&  [data-position="left"]:nth-child(4n-3),&  [data-position="right"]:nth-child(4n-1){
			background-color:var(--S-Plugin-bg1);
			svg{
				color:var(--S-Plugin-c1);
			}
		}
	&  [data-position="left"]:nth-child(4n-2),&  [data-position="right"]:nth-child(4n){
			background-color:var(--S-Plugin-bg2);
			svg{
				color:var(--S-Plugin-c2);
			}
		}
	&  [data-position="left"]:nth-child(4n-1),&  [data-position="right"]:nth-child(4n-3){
			background-color:var(--S-Plugin-bg3);
			svg{
				color:var(--S-Plugin-c3);
			}
		}
	&  [data-position="left"]:nth-child(4n),&  [data-position="right"]:nth-child(4n-2){
			background-color:var(--S-Plugin-bg4);
			svg{
				color:var(--S-Plugin-c4);
			}
	}
}

.layout__dockl,.layout__dockr{
    padding-top: 38px;
}
#dockLeft,#dockRight{
	padding-top: 38px;
}
.layout-tab-bar{
	padding-left: 0px;
	& .item{
		pointer-events: visibleFill;
		&[data-type="tab-header"]{
			pointer-events: visibleFill;
			app-region: no-drag;
			padding: 0 6px;
			min-height: 39px;
			border-radius: 0px;
			&.item--focus{
				background-color: var(--b3-theme-background);
				&:after{
					display: none;
				}
				& .item__text{
					font-weight:700;
				}
			}
		}
	}
		& .item--readonly{
		margin:7px 0 0 7px;
		padding:0;
		pointer-events: none;
		&>.fn__flex-1{
			display: none;
		}
		& .block__icon--show{
			pointer-events: visibleFill;
			app-region: no-drag;
		}
	}	
}
.layout__center .layout-tab-bar{
	z-index: 2;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
#barPlugins{
	margin-left: 30px;
	pointer-events: none!important;
}
#barPlugins svg{
	pointer-events: visibleFill;
}
#savordrag.fn__none{
	display:flex!important;
}
#savorPlugins{
	display: flex;
	width: 0px;
	z-index:8;
}
#savordrag{
	display: block!important;
}
.layout__resize{
	z-index: 3;
}

.fn__flex-shrink+.layout__resize--lr:after, .layout__center+.layout__resize--lr:after {
    height: calc( 100% - 38px );
	top:38px
}

#Splugin.button_on{
	background:var(--S-Splugin-on);
	background-color: #ee6f5b;
}
#Splugin{
	padding: 0px;
	margin-left: -54px;
	width: 20px;
	height: 20px;
	margin-top: 3px;
	border-radius: 50%;
}
#Splugin.button_off:hover{
	background:var(--S-Splugin-off);
	background-color: #ee6f5b;
	transition: none;
}

#savorToolbar,#savorToolbar::after{
	pointer-events: visibleFill;
	app-region: no-drag;
}



/*--------合并顶栏页签--------*/
.layout__dockl~.layout__center,.layout__dockl.layout--float~.layout__center{ 
	.fn__flex-1:first-child{
	&, & > &, & > & > & {
		>[data-type="wnd"]>.fn__flex{
			margin-left: 1px;
			transition: all 200ms;
			}
		}
	}
}
.layout__dockl[style*="width: 0px"]~.layout__center,.layout__dockl.layout--float~.layout__center{ 
	.fn__flex-1:first-child{
	&, & > &, & > & > & {
		>[data-type="wnd"]>.fn__flex{
			margin-left: 180px;
			transition: all 200ms;
			}
		}
	}
}

.layout__center:has(~.layout__dockr[style*="width: 0px"]),.layout__center:has(~.layout__dockr.layout--float){
	.fn__flex-1:first-child{
	&, & > &, & > & > & {
		>[data-type="wnd"]>.fn__flex{
			margin-right: 300px;
			transition: all 200ms;
			}
		}
	}
}
.layout__center:has(~.layout__dockr[style*="width: 0px"]),.layout__center:has(~.layout__dockr.layout--float){
	> .layout__resize--lr + .fn__flex-column > .fn__flex-1:first-child{
	&, & > &, & > & > & {
		>[data-type="wnd"]>.fn__flex{
			margin-right: 300px;
			transition: all 200ms;
			}
		}
	}
}
.layout__center .fn__flex-1:has(+.layout__resize--lr)>[data-type="wnd"]>.fn__flex{
	margin-right: 0px!important;
}
.layout__center .layout__resize--lr+.fn__flex-column .fn__flex-1>[data-type="wnd"]>.fn__flex{
	margin-left: 0px!important;
}

.layout__center .layout__resize:not(.layout__resize--lr)+.fn__flex .layout-tab-bar{
	background-color: var(--S-toolbar-background);
}



.layout-tab-bar .item:hover:not(.item--focus):not(.item--readonly) .item__text,.layout__wnd--active .layout-tab-bar .item--focus:hover>.item__text{
    color:var(--S-topfixed-background);
}
.layout-tab-bar .block__icon:hover:not([disabled]):not(.ft__primary), .layout-tab-bar .block__icon--active {
    color:var(--S-topfixed-background);
}


#savorToolbar{
	margin:6px 0px 4px 4px;
}