body:not(.body--mobile,.body--window)>#toolbar{
	z-index: 3;
	height: 38px;
	margin-bottom: -33px;
	pointer-events: none;
	counter-reset:plugin-counter;
	background-color: transparent;
    app-region: drag;
    #drag{
        opacity: 0;
    }
	& .toolbar__item {
		pointer-events: auto;
		app-region: no-drag;
	}
}

.layout__dockl:not(.layout--float),.layout__dockr:not(.layout--float){
    padding-top: 33px;
}
#dockLeft,#dockRight{
	padding-top: 33px;
}
body:not(.body--window) .layout__center .fn__flex-column > .fn__flex > .layout-tab-bar {
    min-width: 62px;
    z-index: 2;
    app-region: no-drag;
	border: none;
	& .item:not(.item--readonly)[data-type="tab-header"]{
			pointer-events: visibleFill;
	}
		& .item--readonly{
            pointer-events: none;
            app-region: drag;
		& .block__icon--show{
			pointer-events: visibleFill;
			app-region: no-drag;
			background-color: transparent;
            &[data-type="new"]{
                margin-right: 6px;
            }
            &:hover{
                background-color: var(--Sv-tab-bar-item-background-hover); 
            }
		}
	}
	&::before {
		top: 4px;
		box-shadow: 6px -6px 0 var(--Sv-toolbar-background);
	}
}
[data-menu]:not(.fn__none) ~ #barPlugins+#savorPlugins{
	display: flex;
	width: 0px;
	z-index:8;
}



.layout__empty{
    border-radius: 6px;
    box-shadow: 0 33px 0 0 var(--Sv-toolbar-background) inset;
}
body:not(.body--mobile,.body--window) #layouts{
    margin: var(--Sv-layout-margin-fixed);
}



.layout__resize--lr:after {
        top: 38px;
        height: calc(100% - 38px);
}

#toolbar + .fn__flex{
    box-shadow:0 -6px 0 0 var(--Sv-toolbar-background);
}

#layouts>.fn__flex{
    background-color: var(--Sv-dock-background);
    box-shadow:0 38px 0 0 var(--Sv-toolbar-background) inset;
}
.dock--vertical{
    box-shadow:0 38px 0 0 var(--Sv-toolbar-background) inset;
}



.layout__center .layout__resize + .fn__flex [data-type="wnd"]>.fn__flex>.layout-tab-bar:not(.layout-tab-bar--readonly){
    padding-left: 0px!important;
    margin-left: 0!important;
}
/* 左侧间距 
.layout--float,.layout__dockl[style*="width: 0"]{
    & ~ .layout__center [data-type="wnd"]>.fn__flex>.layout-tab-bar:not(.layout-tab-bar--readonly){
        margin-left: calc(var(--Sv-topfixed-marginLeft) + 60px);
        padding-left: 10px;
        transition: margin-left .2s cubic-bezier(0, 0, .2, 1) 0ms,padding-left .2s cubic-bezier(0, 0, .2, 1) 0ms;
    }
    & ~ .layout__center .layout__resize + .fn__flex-1 [data-type="wnd"]>.fn__flex>.layout-tab-bar:not(.layout-tab-bar--readonly),
    & ~ .layout__center .layout__resize + .fn__flex [data-type="wnd"]>.fn__flex>.layout-tab-bar:not(.layout-tab-bar--readonly){
        margin-left: 0!important;
        padding-left: 0px!important;
    }
}

.dock--vertical.fn__none + #layouts {
    .layout--float,.layout__dockl[style*="width: 0"]{
        & ~ .layout__center [data-type="wnd"]>.fn__flex>.layout-tab-bar:not(.layout-tab-bar--readonly){
            margin-left: calc(var(--Sv-topfixed-marginLeft) + 93px);
            transition: none;
        }
    }
}
.layout__center [data-type="wnd"]>.fn__flex>.layout-tab-bar:not(.layout-tab-bar--readonly){
    transition: margin-left .2s cubic-bezier(0, 0, .2, 1) 0ms,padding-left .2s cubic-bezier(0, 0, .2, 1) 0ms;
}*/

body--mac .layout__center [data-type="wnd"]>.fn__flex>.layout-tab-bar:not(.layout-tab-bar--readonly){
        padding-left: 140px;
}

.body--mac .dock--vertical.fn__none + #layouts {
        & ~ .layout__center [data-type="wnd"]>.fn__flex>.layout-tab-bar:not(.layout-tab-bar--readonly){
            padding-left: 173px;
     }
}


/*.layout__center .layout__resize:not(.layout__resize--lr) +.fn__flex .layout-tab-bar--readonly{
    background-color: var(--Sv-dock-background)!important;
}*/