.toolbar{
	height:35px;
	margin-bottom: -35px;
	opacity: 0;
	transition: all 300ms;
	transform:translateY(-13px);
	transition-delay: 700ms;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
}

/*.toolbar:has(.toolbar__item:hover){
	opacity: 1;
	transform:translateY(0px);
	transition: all 300ms;
}
.toolbar:has([data-type="NodeWidget"]:hover){
	opacity: 1;
	transform:translateY(0px);
	transition: all 300ms;
}
.toolbar:has(#myHistory:hover){
	opacity: 1;
	transform:translateY(0px);
	transition: all 300ms;
}*/

.toolbar:hover{
	opacity: 1;
	transform:translateY(0px);
	transition: all 300ms;
}
