
.toolbar{
	height:30px;
	margin-bottom: -30px;
	opacity: 0;
	transition: all 300ms;
	transform:translateY(-20px);
	z-index:8;
	transition-delay: 500ms;
}

.toolbar:hover{
	opacity: 1;
	transform:translateY(0px);
	transition: all 300ms;
}

.fn__flex-column.fn__flex-shrink>.fn__flex:first-child:not(.fn__none),
.layout__center~.fn__flex-column>.fn__flex:first-child,
.fn__flex-column.fn__flex-shrink>.fn__flex.fn__none+.layout__resize+.fn__flex,
.layout__center~.fn__flex-column>.fn__flex.fn__none+.layout__resize+.fn__flex{
	padding-top:0px;
}

.dock#dockLeft .dock__item:first-child,.dock#dockRight .dock__item:first-child{
	margin: 12px 5px 7px 5px;
}
.dock#dockRight .dock__item:last-child{
	margin: 7px 5px 40px 5px;
	bottom:0px;
}
#leftColumn,#rightColumn{
	margin:2px 0 4px 4px;
}

#notionToolbar{
	margin:2px 4px 4px 4px;
}
.toolbar__item--close{
	padding: 5px 5px 6px 5px;
}


.layout-tab-bar {
	margin-right:0!important;
	margin-left:0!important;
}
.layout__center .layout-tab-bar--readonly {
	-webkit-app-region: unset;
}


#drag{
	height:40px;
	margin-bottom: 0px;
}
