:root {
    /* 主色 */
    --b3-theme-primary: rgb(35, 131, 226);/* 主色 */
    --b3-theme-primary-light: rgba(35, 131, 226, 0.54);
    --b3-theme-primary-lighter: rgba(35, 131, 226, 0.38);
    --b3-theme-primary-lightest: rgba(35, 131, 226, 0.2);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #191919;/* 编辑区背景 */
	--b3-theme-background-light: rgba(230, 230, 230, .1);
    --b3-theme-surface:#202020;/* 面板主色 */
	--b3-theme-surface-light: rgba(41, 42, 45, .86);
	--b3-theme-surface-lighter:rgba(230, 230, 230, .06);
    --b3-theme-error: #e35555;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #ebebeb;
    --b3-theme-on-surface: #afb1b2;
    --b3-theme-on-surface-light: rgba(65, 69, 72, 0.8);
    --b3-theme-on-error: #fff;

   /* 线条 */
    --b3-border-color: rgba(230, 230, 230, .1);
	--b3-border-color2: rgba(230, 230, 230, .1);

    /* 滚动条 */
    --b3-scroll-color: #212121;
	--b3-scroll-color-hover: rgba(104,108,110);
	--b3-scroll-bgcolor: transparent;

	--b3-border-scroll: rgba(255, 255, 255, 0.2);

    /* 列表 */
    --b3-list-hover: rgba(230, 230, 230, .05);

    /* 菜单 */
    --b3-menu-background: #27282a;

    /* 提示 */
    --b3-tooltips-background: #333334;

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: #d69595;
    --b3-card-error-background: var(--b3-font-background13);
    --b3-card-warning-color: rgb(255, 213, 153);
    --b3-card-warning-background: var(--b3-font-background5);
    --b3-card-info-color: rgb(166, 213, 250);
    --b3-card-info-background: var(--b3-font-background10);
    --b3-card-success-color: rgb(183, 223, 185);
    --b3-card-success-background: var(--b3-font-background8);

    /* 自定义文字 */
	--b3-font-color1: #FFF;
    --b3-font-color2: #6f7477;
	--b3-font-color3: rgb(147, 114, 100);
    --b3-font-color4: rgb(253, 162, 68);
	--b3-font-color5: rgb(255, 184, 73);
    --b3-font-color6: rgb(255, 220, 73);
	--b3-font-color7: rgb(77, 171, 154);
    --b3-font-color8: rgb(82, 178, 202);
    --b3-font-color9: rgb(82, 156, 202);
    --b3-font-color10: rgb(154, 109, 215);
    --b3-font-color11: rgb(226, 85, 161);
    --b3-font-color12: rgb(255, 115, 105);
	--b3-font-color13: rgb(223, 84, 82);
    
	--b3-font-background1: rgb(35, 38, 40);
    --b3-font-background2: rgb(63, 68, 71);
    --b3-font-background3: rgb(69, 75, 78);
    --b3-font-background4: rgb(67, 64, 64);
	--b3-font-background5: rgb(89, 74, 58);
    --b3-font-background6: rgb(89, 79, 59);
    --b3-font-background7: rgb(89, 86, 59);
	--b3-font-background8: rgba(53, 76, 75);
    --b3-font-background9: rgb(54, 79, 84);
    --b3-font-background10: rgb(54, 73, 84);
    --b3-font-background11: rgb(68, 63, 87);
    --b3-font-background12: rgb(83, 59, 76);
    --b3-font-background13: rgb(89, 65, 65);
	/*callout*/
	--b3-bq-background1: rgb(35, 38, 40 , .3);
    --b3-bq-background2: rgb(63, 68, 71 , .3);
    --b3-bq-background3: rgb(69, 75, 78 , .3);
    --b3-bq-background4: rgb(67, 64, 64 , .3);
	--b3-bq-background5: rgb(89, 74, 58 , .3);
    --b3-bq-background6: rgb(89, 79, 59 , .3);
    --b3-bq-background7: rgb(89, 86, 59 , .3);
	--b3-bq-background8: rgba(53, 76, 75 , .3);
    --b3-bq-background9: rgb(54, 79, 84 , .3);
    --b3-bq-background10: rgb(54, 73, 84 , .3);
    --b3-bq-background11: rgb(68, 63, 87 , .3);
    --b3-bq-background12: rgb(83, 59, 76 , .3);
    --b3-bq-background13: rgb(89, 65, 65 , .3);
    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #32593c;
    --b3-protyle-search-border-color: #486a51;
    --b3-protyle-search-current-background: #204282;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(240, 246, 252, .15);
    --b3-protyle-code-linenumber-hl: #26364a;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #e8eaed;
    --b3-protyle-inline-em-color: #e8eaed;
    --b3-protyle-inline-s-color: #e8eaed;
    --b3-protyle-inline-link-color: #8ab4f8;
    --b3-protyle-inline-mark-background: #32593c;
    --b3-protyle-inline-mark-color: #e8eaed;
    --b3-protyle-inline-tag-color: #9aa0a6;
    --b3-protyle-inline-blockref-color: #9876aa;

    /* PDF */
    --b3-pdf-selection: #779170;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
	


	/*按钮*/
	--b3-button: #4496e7;

	/*导图*/
	--b3-border-daotu: 2px solid rgba(69, 74, 77);
	--b3-block-daotu:var(--b3-theme-surface-light);
	/*看板*/
	--kbline-boarditem-minwidth: 14rem;/*看板卡片的最小宽度*/
	--kb--li--background:rgba(55, 60, 63);


    /* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-toolbar-background: #0b0a0a;

	/* dock栏 */
	--Sv-dock-item-color: #afb1b2;
	
	/* 侧栏面板 */
    --Sv-block-icon-svg-color: #afb1b2;
	--Sv-list-background: rgba(255, 255, 255, 0.1 );
	--Sv-list-focus-hover: rgba(255, 255, 255, 0.2 );

	/* 页签 */
	--Sv-tab-bar-item-background: #161515;

    /* 底栏 */
    --Sv-status-msg-background:  var(--b3-theme-background);
    --Sv-status-barDock: var(--Sv-dock-item-active-background);
    --Sv-status-barDock-color: var(--Sv-dock--item--activefocus-color);
    --Sv-status-item-hover: #373737;
    
    /* 滚动条 */
	--Sv-scroll-color: #302f2f;
	--Sv-scroll-color-hover: #4b4a4a;

    /* 代码块 */
    --Sv-code-block-background: #202020;

    /* —————— 设置界面 —————— */
    --Sv--dialog-tab-bar: var(--b3-theme-surface);

    /* 集市界面 */
    --Sv-bazaar-focus: #232323;
    --Sv-bazaar-item: #1e1d1d;

    /* 按钮 */
    --Sv-button-background-hover: #318ee9;

    --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M12.8,15.6l4-4.1c0.2-0.2,0.2-0.4,0.2-0.6c0-0.5-0.4-0.9-0.9-0.9c-0.3,0-0.5,0.1-0.6,0.3L12,13.9l-3.4-3.6C8.3,10.1,8.1,10,7.9,10C7.4,10,7,10.4,7,10.9c0,0.2,0.1,0.4,0.2,0.6l4,4.1c0.2,0.2,0.4,0.3,0.7,0.3C12.3,15.9,12.5,15.8,12.8,15.6z'/></svg>") no-repeat right 2px center #303030;

    /* 合并顶栏插件收缩颜色 */
    --Sv-plugin-off-bg: #191919;
    --Sv-plugin-b-off-bg: #202020;
    --Sv-plugin-b-off-bg-hover: #2c2c2c;

    /*——————————————————————————— 收缩按钮 ——————————————————————————*/
    --Sv-Splugin-on:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M14.667 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333zM18.533 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333z'/></svg>") no-repeat left 16px top -6px;
    --Sv-Splugin-off:url("data:image/svg+xml;utf8,<svg fill='rgb(175, 177, 178)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M20.4 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133-0.133-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333zM16.533 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133 0-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333z'/></svg>") no-repeat left -10px top -6px;
    /*——————————————————————————————————————————————————————————————*/

}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}

.b3-text-field::-webkit-calendar-picker-indicator {
    fiilter: invert(1)
}



#buttonSavor-light,#buttonsalt,#buttonsugar{
	display:none!important;
}


#buttonSavor-dark.button_off{
	background:var(--Sv-Savor-dark-off);
}