:root {
    /* 主色 */
    --b3-theme-primary-base-l:75.97%;
    --b3-theme-primary-base-ch:0.1453 34.26;
    --b3-theme-surface-base-l:91.05%;
    --b3-theme-surface-base-ch:0.0011 17.18;

    /* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-toolbar-background: oklch(calc(var(--b3-theme-surface-base-l)*0.93) var(--b3-theme-surface-base-ch));
    --Sv-barWorkspace-color: var(--b3-theme-on-background);
    --Sv-barWorkspace-background: var(--Sv-list-background);
    --Sv-barWorkspace-background-hover: var(--Sv-list-focus-hover);

	/* dock栏 */
    --Sv-dock-background: oklch(calc(var(--b3-theme-surface-base-l)*0.93) var(--b3-theme-surface-base-ch));
    --Sv-dock-item-hover-color: var(--b3-theme-background);
    --Sv-dock--item--activefocus-color: var(--b3-theme-background);
    --Sv-dock-item-radius:10px;
    --Sv-dock-item-active-background: #2c2f32;
    --Sv-dock-item-active-background-hover: #2c2f32;
    --Sv-dock-item--activefocus-background:   #ff5f40!important;
    --Sv-dock--item--activefocus-shadow: 0 ;
	
	/* 侧栏面板 */
    --Sv-layout-resize-lr-width: 10px;
    --Sv-block-icon-active: #ff5f40;
    --Sv-backlink-top: 8px;

    /* 底栏 */
    --Sv-status-barDock-color: #ff5f40;
    --Sv-status-radius-r: 0 10px 10px 0;
    --Sv-status-radius-t: 0 0 10px 0;

    /* 页签 */
    --Sv-tab-bar-item--focus-radius: 10px 10px 0 0;
    --Sv-tab-bar-readonly-shadow: 10px -10px 0 var(--Sv-dock-background);

    /* 面包屑 */
    --Sv-breadcrumb-active: #ff5f40;
    --Sv-breadcrumb-active-hover:#ed5536;
    
    /* 滚动条 */
	--Sv-scroll-color: #d5d5d5;
	--Sv-scroll-color-hover: #bebebe;

    /* 块引用 */
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right,#ff5f40, #ff5f40) 1;

    --Sv-Savor-light-on:var(--Sv-Savor-light-off);

    /* 合并顶栏插件收缩颜色 */
    --Sv-plugin-off-bg: oklch(calc(var(--b3-theme-surface-base-l)*0.89) var(--b3-theme-surface-base-ch));
    --Sv-plugin-b-off-bg: oklch(calc(var(--b3-theme-surface-base-l)*0.86) var(--b3-theme-surface-base-ch));
	
}



.b3-list-item{
    filter: grayscale(50%);
}