:root {
    /* 主色 */
    --b3-theme-primary: rgb(255, 140, 113);/* 主色 */
    --b3-theme-primary-light: rgba(255, 140, 113, 0.54);
    --b3-theme-primary-lighter: rgba(255, 140, 113, 0.38);
    --b3-theme-primary-lightest: rgba(255, 140, 113, 0.1);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #f2f2f2;/* 编辑区背景 */
    --b3-theme-background-light: rgba(210, 201, 223, 0.3);
    --b3-theme-surface: #e2e1e1;/* 面板主色 */
    --b3-theme-surface-light: rgba(251, 251, 250, .5);
    --b3-theme-surface-lighter: rgb(220 219 215);
    --b3-theme-error: #eb5757;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: rgb(55, 53, 47);
    --b3-theme-on-surface: #84827d;
    --b3-theme-on-surface-light: rgba(95, 99, 104, .68);
    --b3-theme-on-error: #fff;

    /* 顶部工具栏 */
    --b3-toolbar-background: var(--b3-theme-surface);
    --b3-toolbar-blur-background: #fcfcfc;
    --b3-toolbar-color: var(--b3-theme-on-surface);
    --b3-toolbar-hover: var(--b3-theme-background-light);
    --b3-toolbar-left-mac: 69px;

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, 0.1);
    --b3-border-radius: 8px;
    --b3-border-radius-b: 12px;

    /* 滚动条 */
	--b3-scroll-color: rgba(211,209,203,.5);
	--b3-scroll-color-hover: rgba(174,172,166);
	--b3-scroll-bgcolor: transparent;


    /* 列表 */
    --b3-list-hover: var(--O-list-background);
    --b3-list-icon-hover: rgba(33, 34, 36, .1);

    /* 菜单 */
    --b3-menu-background: #e4e4e4;

    /* 提示 */
	--b3-tooltips-background: var(--b3-theme-on-background);
	--b3-tooltips-color: var(--b3-theme-background);
    --b3-tooltips-shadow: 0 2px 8px rgba(0, 0, 0, .1);

    /* 为空提示 */
    --b3-empty-color: var(--b3-theme-on-surface-light);

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 自定义文字 */
	--b3-font-color1: #000;
    --b3-font-color2: rgba(55, 53, 47, 0.6);
    --b3-font-color3: rgb(100, 71, 58);
	--b3-font-color4: rgb(217, 115, 13);
    --b3-font-color5: #f5822e;
	--b3-font-color6: rgb(223, 171, 1);
    --b3-font-color7: #65b84d;
	--b3-font-color8: rgb(15, 123, 108);
    --b3-font-color9: rgb(11, 110, 153);
    --b3-font-color10: rgb(105, 64, 165);
    --b3-font-color11: rgb(173, 26, 114);
    --b3-font-color12: rgb(224, 62, 62);
    --b3-font-color13: #e81123;
    
	--b3-font-background1: rgb(198, 203, 208);
    --b3-font-background2: rgb(225, 225, 225);
    --b3-font-background3: rgb(235, 236, 237);
    --b3-font-background4: rgb(233, 229, 227);
	--b3-font-background5: rgb(246, 225, 205);
    --b3-font-background6: rgb(250, 235, 221);
    --b3-font-background7: rgb(251, 243, 219);
	--b3-font-background8: rgba(221, 237, 226);
    --b3-font-background9: rgb(221, 237, 234);
    --b3-font-background10: rgb(221, 235, 241);
    --b3-font-background11: rgb(234, 228, 242);
    --b3-font-background12: rgb(244, 223, 235);
    --b3-font-background13: rgb(251, 228, 228);

    /* 动画效果 */
    --b3-transition: all .2s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .2s cubic-bezier(0, 0, .2, 1) 0ms;


    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #8250df;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);
    --b3-protyle-code-linenumber-hl: #b9d1f4;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: rgb(252, 212, 126);
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #8957e5;
    --b3-protyle-inline-fileref-color: #21862e;

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
    --b3-pdf-dark: #212224;
	

	
	/* 大纲数字 */
	--h1-list-graphic: #393939;
	--h2-list-graphic: #393939;
	--h3-list-graphic: #393939;
	--h4-list-graphic: #393939;
	--h5-list-graphic: #393939;
	--h6-list-graphic: #393939;
	
	/*导图*/
	--b3-border-daotu: 2px solid #ffb8b8;
	--b3-block-daotu:#FFF;
	
	/*看板*/
	--kbline-boarditem-minwidth: 14rem;/*看板卡片的最小宽度*/
	--kb--li--background:#fff;

    /* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-toolbar-background: #d5d5d5;
    --Sv-barWorkspace-color: var(--b3-theme-on-background);
    --Sv-barWorkspace-background: var(--Sv-list-background);
    --Sv-barWorkspace-background-hover: var(--Sv-list-focus-hover);

	/* dock栏 */
    --Sv-dock-item-hover-color: var(--b3-theme-background);
    --Sv-dock--item--activefocus-color: var(--b3-theme-background);
    --Sv-dock-item-radius:10px;
    --Sv-dock-item-active-background: #2c2f32;
    --Sv-dock-item-active-background-hover: #2c2f32;
    --Sv-dock-item-activefocus-background:  linear-gradient(to bottom right,#ff5f40, #ff5f40)!important;
    --Sv-dock--item--activefocus-shadow: 0 ;
	
	/* 侧栏面板 */
    --Sv-block-icon-svg-color: rgba(55, 53, 47, .5);
    --Sv-layout--resize-hover: #7878784f;
    --Sv-list-counter: rgba(55, 53, 47, 0.1);
    --Sv-layout-resize-lr-width: 10px;
    --Sv-layout--resize-margin: 1px 0;
    --Sv-list-counter-color: var(--b3-theme-on-background);
    --Sv-backlink-top: 8px;

    /* 底栏 */
	--Sv-status-msg-background: var(--b3-theme-background);
    --Sv-status-barDock: #dedede;
    --Sv-status-barDock-color: #ff5f40;
    --Sv-status-item-hover: #e9e9e9;
    --Sv-status-radius-r: 0 10px 10px 0;
    --Sv-status-radius-t: 0 0 10px 0;

    /* 页签 */
    --Sv-tab-bar-item-background: var(--b3-theme-surface);
    --Sv-tab-bar-item--focus-radius: 10px 10px 0 0;
    --Sv-tab-bar-readonly-shadow: 10px -10px 0 var(--Sv-dock-background);

    /* 面包屑 */
    --Sv-breadcrumb-active: #ff5f40;
    --Sv-breadcrumb-active-color: var(--b3-theme-background);
    --Sv-breadcrumb-active-hover:#ed5536;
    
    /* 滚动条 */
	--Sv-scroll-color: #d5d5d5;
	--Sv-scroll-color-hover: #bebebe;

    /* 块引用 */
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right,#ff5f40, #ff5f40) 1;

    /* 表格 */
	--Sv-table-thead: #ebebeb;

    /* 代码块 */
    --Sv-code-block-background: #e4e4e4;

    /* —————— 设置界面 —————— */
    --Sv--dialog-tab-bar: var(--b3-theme-surface);
    --Sv-button-background: var(--b3-theme-on-background);
    --Sv-button-color: var(--b3-theme-background);
    --Sv-button-background-hover: #000000;
    --Sv-button-cancel: var(--b3-theme-background);

    /* 集市界面 */
    --Sv-bazaar-focus: #e2e2e2;
    --Sv-bazaar-item: #eaeaea;
    --Sv-card--current: #ffeeea;
    --Sv-card-current-shadow: #ff765b9d 0px 0px 0px 2px;

    /* 合并顶栏插件收缩颜色 */
    --Sv-plugin-off-bg: #c5c5c5;
    --Sv-plugin-b-off-bg: #b9b9b9;
    --Sv-plugin-b-off-bg-hover: #dcdcdc;
    --Sv-plugin-counter: var(--b3-theme-on-background);
    --Sv-Savor-light-on:var(--Sv-Savor-light-off);
	
}



.b3-list-item{
    filter: grayscale(50%);
}