/* 主体结构*/

@import url(/appearance/themes/Savor/style/module/toolbar.css);/* 顶栏 */

@import url(/appearance/themes/Savor/style/module/dock.css);/* dock栏 */

@import url(/appearance/themes/Savor/style/module/shrink.css);/* 侧栏 */

@import url(/appearance/themes/Savor/style/module/tab-bar.css);/* 页签 */

@import url(/appearance/themes/Savor/style/module/breadcrumb.css);/* 面包屑 */

@import url(/appearance/themes/Savor/style/module/editor.css);/* 编辑器 */

@import url(/appearance/themes/Savor/style/module/ordered-list.css);/*有序列表*/

@import url(/appearance/themes/Savor/style/module/unordered-list.css);/*无序列表*/

@import url(/appearance/themes/Savor/style/module/h-reminder.css);/*标题符号*/

@import url(/appearance/themes/Savor/style/module/menu.css);/* 菜单、设置相关 */

@import url(/appearance/themes/Savor/style/module/status.css);/* 底栏 */


/* 引入特性 */

@import url(/appearance/themes/Savor/style/custom/list2map.css);/*列表转导图*/

@import url(/appearance/themes/Savor/style/custom/list2table.css);/*列表转表格*/

@import url(/appearance/themes/Savor/style/custom/list2board.css);/*列表转看板*/

@import url(/appearance/themes/Savor/style/custom/ctrlp.css);/* 搜索分栏*/

@import url(/appearance/themes/Savor/style/custom/bq-callout.css);/*引述转换样式*/

@import url(/appearance/themes/Savor/style/custom/link-icon.css);/* 引入网址链接前的图标相关代码 */

@import url(/appearance/themes/Savor/style/custom/progress.css);/* 进度条任务列表 */

@import url(/appearance/themes/Savor/style/custom/list-fold.css);/* 折叠块悬浮弹窗 */

@import url(/appearance/themes/Savor/style/custom/setting.css);/* 自定义功能按钮 */

@import url(/appearance/themes/Savor/style/custom/sidebar.css);/* 悬浮侧栏 */


/*-------------------------------------------*/
@keyframes menu {
	0% {opacity: 0;}
	50% { transform: scale(1.01);
	transform-origin: 0 0 ;
          opacity: 0.5;	}
	100% { transform: scale(1); 
	 }
}
@keyframes shrink{
 0% { transform:translateX(0%);
    transform-origin: 0 0 ;
          opacity: 1; }
 80% { transform:translateX(0%);
    transform-origin: 0 0 ;
          opacity: 1; }

}
@keyframes statusmsg {
	0% {max-width:1000px;}
	80% {max-width:1000px;}
	100% {max-width:180px;}
}
@keyframes item-focus {
	0% { transform: scale(.01);
          opacity: 0.5;	}
	100% { transform: scale(1); 
	 }
}
@keyframes flex-column{
	0% { transform: scale(1,.8);
	transform-origin: 0 0 ;
          opacity: 0;	}
	100% { transform: scale(1,1); 
	transform-origin: 0 0 ;
	 }
}
@keyframes rightcolumn{
	0% {transform:translateX(calc(100% - 20px));
	}
	100% {transform:translateX(0%); 
	 }
}
@keyframes leftcolumn{
	0% { transform:translateX(calc(-100% + 20px));
	}
	100% { transform:translateX(0%);
	 }
}
@keyframes checkbox {
	0% {opacity: 0;}
	50% { transform: scale(1.2);
          opacity: 0.5;	}
	100% { transform: scale(1); 
	 }
}
@keyframes focus {
	0% {transform: scaleY(1.3);
	transform-origin: 0 0 ;
		opacity: 0;}
	100% { transform: scaleY(1); 
	 }
}
/*@keyframes tabbar{
	0% {opacity: 0;	
	}
	100% {opacity: 1;
	 }
}页签动画*/
@keyframes cloudsuccbg{
	0% {background:var(--b3-font-background8);} 
	60% {background:var(--b3-font-background8);} 
	100% {background:transparent}
}	
@keyframes cloudsucc{
	0% {color:var(--b3-font-color7);} 
	60% {color:var(--b3-font-color7);} 
	100% {color:var(--b3-theme-on-background);}
}	
:root {
    /* 主色 */
    --b3-theme-primary: rgb(46, 170, 220);/* 主色 */
    --b3-theme-primary-light: rgba(46, 170, 220, 0.54);
    --b3-theme-primary-lighter: rgba(46, 170, 220, 0.38);
    --b3-theme-primary-lightest: rgba(46, 170, 220, 0.2);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #fff;/* 编辑区背景 */
    --b3-theme-background-light: rgb(247, 246, 243);
    --b3-theme-surface: rgb(247, 246, 243);/* 面板主色 */
    --b3-theme-surface-light: rgba(243, 243, 243, .5);
    --b3-theme-error: #eb5757;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: rgb(55, 53, 47);
    --b3-theme-on-surface: rgba(55, 53, 47, 0.6);
    --b3-theme-on-surface-light: rgba(95, 99, 104, .68);
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family:apple-system, BlinkMacSystemFont, "Segoe UI", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif,  "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, 0.1);
	--b3-border-color2: #e5e5e5;

    /* 滚动条 */
    --b3-scroll-color: rgba(211,209,203,.5);
	--b3-scroll-color-hover: rgba(174,172,166);
	--b3-scroll-bgcolor: transparent;

	--b3-border-scroll: rgba(55, 53, 47, 0.2);
	
	--webkit-scrollbar: 6px;
	--webkit-scrollbar-thumb: 4px;
    /* 列表 */
    --b3-list-hover: rgba(55, 53, 47, 0.08);

    /* 菜单 */
    --b3-menu-background: #f8f9fa;

    /* 提示 */
    --b3-tooltips-color: rgba(15, 15, 15);

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 自定义文字 */
	--b3-font-color1: #000;
    --b3-font-color2: rgba(55, 53, 47, 0.6);
    --b3-font-color3: rgb(100, 71, 58);
	--b3-font-color4: rgb(217, 115, 13);
    --b3-font-color5: #f5822e;
	--b3-font-color6: rgb(223, 171, 1);
    --b3-font-color7: #65b84d;
	--b3-font-color8: rgb(15, 123, 108);
    --b3-font-color9: rgb(11, 110, 153);
    --b3-font-color10: rgb(105, 64, 165);
    --b3-font-color11: rgb(173, 26, 114);
    --b3-font-color12: rgb(224, 62, 62);
    --b3-font-color13: #e81123;
    
	--b3-font-background1: rgb(198, 203, 208);
    --b3-font-background2: rgb(225, 225, 225);
    --b3-font-background3: rgb(235, 236, 237);
    --b3-font-background4: rgb(233, 229, 227);
	--b3-font-background5: rgb(246, 225, 205);
    --b3-font-background6: rgb(250, 235, 221);
    --b3-font-background7: rgb(251, 243, 219);
	--b3-font-background8: rgba(221, 237, 226);
    --b3-font-background9: rgb(221, 237, 234);
    --b3-font-background10: rgb(221, 235, 241);
    --b3-font-background11: rgb(234, 228, 242);
    --b3-font-background12: rgb(244, 223, 235);
    --b3-font-background13: rgb(251, 228, 228);
	/*callout*/
	--b3-bq-background1: rgb(198, 203, 208 , .3);
    --b3-bq-background2: rgb(225, 225, 225 , .3);
    --b3-bq-background3: rgb(235, 236, 237 , .3);
    --b3-bq-background4: rgb(233, 229, 227 , .3);
	--b3-bq-background5: rgb(246, 225, 205 , .3);
    --b3-bq-background6: rgb(250, 235, 221 , .3);
    --b3-bq-background7: rgb(251, 243, 219 , .3);
	--b3-bq-background8: rgba(221, 237, 226 , .3);
    --b3-bq-background9: rgb(221, 237, 234 , .3);
    --b3-bq-background10: rgb(221, 235, 241 , .3);
    --b3-bq-background11: rgb(234, 228, 242 , .3);
    --b3-bq-background12: rgb(244, 223, 235 , .3);
    --b3-bq-background13: rgb(251, 228, 228 , .3);
    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);
    --b3-protyle-code-linenumber-hl: #b9d1f4;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: #ffe955;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #660e7a;

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-font-background5);
    --b3-pdf-background2: var(--b3-font-background6);
    --b3-pdf-background3: var(--b3-font-background7);
    --b3-pdf-background4: var(--b3-font-background8);
    --b3-pdf-background5: var(--b3-font-background10);
    --b3-pdf-background6: var(--b3-font-background11);
    --b3-pdf-background7: var(--b3-font-background13);
	
	/* 自定义结构配色 */
	/* 顶栏 */
	--b3-toolbar-blur-background: transparent;
	--b3-toolbar-background: var(--b3-fn__flex-column-background);
	--b3-toolbar-item-hover: rgba(0, 0, 0, .05);
	--b3-toolbar-closeWindow-hover: #e81123;
	--b3-toolbar-closeWindow-svg: #fff;
	/* dock栏 */
	--b3-dockright-color: rgb(55, 53, 47, .5);
	--b3-dockright-background: rgba(237, 236, 233);
	--b3-dockleft-color: rgb(55, 53, 47, .5);
	--b3-dock-background: rgba(237, 236, 233);
	--b3-dockright-item-active-background: #fff;
	--b3-dockleft-item-active-background: #fff;
	--b3-dock-item-active-color: #eb8383;
	--b3-dock-item-hover-background: #fff;
	
	--b3-dock-item-width: 40px;
	--b3-dock-item-padding: 5px;
	--b3-dock-item-margin: 7px;
	--b3-dock-item-radius: 5px;
	/* 侧栏面板 */
	--b3-fn__flex-column-background: rgb(247, 246, 243);
	--b3-fn__flex-shrink-background: rgb(247, 246, 243);
	--b3-block-logo-color: rgb(247, 246, 243);
	--b3-block-logo-background-color: rgba(55, 53, 47, 0.3);
	--b3-block-icon-svg-color: rgba(161, 160, 156);
	--b3-block-icon-hover: rgba(55, 53, 47, 0.08);
	--b3-block-icon-active: #eb8383;
	--b3-list-item-arrow: rgba(55, 53, 47, 0.4);
	--b3-list-background: rgba(55, 53, 47, 0.08);
	--b3-list-background-focus: rgba(55, 53, 47, 0.14);
	--b3-list-background-more: rgba(108, 106, 101);
	
	--b3-flex-column-padding:6px 0px 2px 0px;
	--b3-list-item-radius: 3px;
	/* 大纲数字 */
	--h1-list-graphic: #eb8383;
	--h2-list-graphic: #ae9acb;
	--h3-list-graphic: #7db5cd;
	--h4-list-graphic: #71a796;
	--h5-list-graphic: #dcbf61;
	--h6-list-graphic: #dda36a;
	/* 线条 */
	--b3-layout-resize: rgba(230, 229, 225);
	--b3-shrink-layout-resize: rgba(230, 229, 225);
	--b3-layout-resize-hover: var(--b3-scroll-color);
	/*--flex-width-transition:width 150ms ease-in-out; 调节宽度动画*/
	--b3-border-fold: rgb(15, 15 , 15, .1);/*折叠边框*/
	--b3-layout-resize-width: 1px;
	/* 页签 */
	--b3-item-focus: rgb(0, 0, 0 ,1);
	/* 面包屑 */
	--b3-protyle-breadcrumb-shadow:var(--b3-layout-resize);
	--b3-protyle-breadcrumb-arrow: rgba(174,172,166);
	--b3-breadcrumb-svg: rgba(55, 53, 47, 0.8);
	/* 头图按钮 */
	--b3-icons-tooltips: rgba(55, 53, 47, 0.5);
	--b3-icons-tooltips-hover: var(--b3-list-background);
	--b3-img-icons-tooltips: var(--b3-theme-on-surface);
	--b3-img-icons-tooltips-bg: var(--b3-theme-background);
	--b3-img-icons-span: rgba(0, 0, 0, .5);
	/* 块标 */
	--b3-gutters-color: rgba(211,209,203);
	--b3-gutters-background: var(--b3-toolbar-item-hover);
	/* 弹出工具条字体颜色选择 */
	--b3-color--square: var(--b3-border-color);
	/* 任务列表 */
	--b3-task-done-color: var(--b3-scroll-color-hover);
	--b3-task-done-hover: #069ccd;
	/* 引述 */
	--b3-bq-background: rgba(249, 249, 250);
	/* 块引用 */
	--b3-block-ref-background: var(--b3-toolbar-item-hover);
	/* 代码块 */
	--b3-linenumber-rows: rgba(237, 236, 233);
	--b3-code-block-hljs: var(--b3-fn__flex-shrink-background);						  
	/*行内代码*/
	--b3-inline-code:var(--b3-theme-error);
	/*按钮*/
	--b3-button: #069ccd;
	/*pdf*/
	--b3-toolbarSidebar: rgba(237, 236, 233); 
	/*导图*/
	--b3-border-daotu: 2px solid #ffb8b8;
	--b3-block-daotu:#FFF;
	/*看板*/
	--kbline-boarditem-minwidth: 14rem;/*看板卡片的最小宽度*/
	--kb--li--background:#fff;
	/*ctrlp*/
	--b3-list-item--meta: rgba(55, 53, 47, 0.3);
	/*底栏状态*/
	--b3-status-msg-background: #e0dfda;
}



/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}

/*.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    background-color: #f8f9fa;
}*/

body{
	border: 0px!important;
}



.layout__center .protyle-wysiwyg:not([data-doc-type="NodeDocument"]){
	animation: focus 0.3s ease-in-out;
}




#barSync[aria-label*="上传"] svg {
	animation: cloudsucc 3s ease-in;
}

#barSync[aria-label*="上传"] {
	animation: cloudsuccbg 3s ease-in;
}
#barSync[aria-label*="同步失败"] svg {
	color:var(--h1-list-graphic);
}












.body--window .layout-tab-bar{
	border-bottom: 1px solid var(--b3-theme-background-light);
}











.dock#dockLeft{
	box-shadow:  var(--b3-dock-background) 0px 40px 0px 0px;
}

.dock#dockRight{
	box-shadow: var(--b3-dockright-background) 0px 40px 0px 0px;
}
.fn__flex-column.fn__flex-shrink{
	box-shadow: var(--b3-fn__flex-shrink-background) 0px 40px 0px 0px;
}
.layout__center+.layout__resize--lr+.fn__flex-column{
	box-shadow: var(--b3-fn__flex-column-background) 0px 40px 0px 0px;
}
#layouts{
	margin-bottom:-36px;
}

#layouts>.fn__flex+.layout__resize+.fn__flex-1{
	margin-bottom:36px;
	overflow:visible;
}
#toolbar + .fn__flex-1 {
    overflow: visible;
}
.fn__flex-column.fn__flex-shrink,.layout__center ~ .fn__flex-column{
	margin-bottom:35px;
}

.fn__flex-column.fn__flex-shrink + .layout__resize:after{
	box-shadow: var(--b3-layout-resize) 0px 40px 0px 0px;
}
.layout__center + .layout__resize:after{
	box-shadow: var(--b3-layout-resize) 0px 40px 0px 0px;
}


.fn__flex-1:has(~.status.fn__none) .fn__flex-column.fn__flex-shrink,.fn__flex-1:has(~.status.fn__none) .layout__center ~ .fn__flex-column,.fn__flex-1:has(~.status.fn__none) #layouts{
	margin-bottom:0px;
}

.fn__flex-1:has(~.status.fn__none) #layouts>.fn__flex+.layout__resize+.fn__flex-1{
	margin-bottom:0px;
}







.fn__flex-shrink.layout--float{
	min-height: unset;
	padding-top: 0px;
	top: 115px!important; 
	bottom: 40px!important; 
	box-shadow:  rgba(15, 15, 15, 0.2) 10px 16px 20px -12px, rgba(15, 15, 15, 0.05)  10px -10px 20px -12px; 
	border-radius:0 5px 5px 0;
	overflow:hidden;
}

.layout__center ~ .fn__flex-column.layout--float{
	min-height: unset;
	padding-top: 0px;
	top: 115px!important; 
	bottom: 40px!important; 
	box-shadow: rgba(15, 15, 15, 0.2) -10px 16px 20px -12px, rgba(15, 15, 15, 0.05)  -10px -10px 20px -12px; 
	border-radius:5px 0 0 5px;
	overflow:hidden;
}



.card__block .protyle-breadcrumb{
	border-top: 1px solid var(--b3-border-color2);
}

/*.b3-dialog__scrim[style*="background"]{
	background: url("/appearance/themes/Savor/img/1.jpg") repeat!important;
}*/




.fn__flex:has(>#cardPreview){
	border-top: 1px solid var(--b3-border-color2);
}

[data-type="card-item"]{
	margin:7px;
	box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
}
[data-type="card-item"].b3-list-item--focus{
	background-color: var(--b3-theme-background)!important;
}



#toolbar-theme-typewriter-switch svg.ft__primary{
	color:#eb8383;
}

/*卡包添加按钮*/
span[data-type="add"] svg{
	padding:3px 0;
}


#preview .list[custom-f="dt"][data-node-id] .protyle-action svg {
    left: 2px;
}


.layout__center .sy__backlink{
	padding-bottom:37px;
}


.toolbar{
	border:none;
}
.layout__center{
	position: relative;
}
.layout__center:before{
	content: '';
	position:absolute;
	width:100%;
    height: 0.5px;
    background-color: var(--b3-theme-background-light);
	z-index:1;
	opacity:0.5;
}

.sy__backlink .protyle-wysiwyg .protyle-breadcrumb__bar{
	font-size:80%;
	min-height: 24px;
}
.sy__backlink .protyle-breadcrumb__item,.sy__backlink  .protyle-breadcrumb__icon{
	padding: 3px;
}
.sy__backlink .protyle-breadcrumb__item:not(:first-child)>svg.popover__block {
    height: 10px;
    width: 10px;
    padding: 2px;
    border-radius: 3px;
}

.sy__backlink .protyle-breadcrumb__item:not(:first-child).protyle-breadcrumb__item--active>svg {
    color: var(--b3-theme-background);
    background-color:var(--h2-list-graphic)!important;
	opacity:0.7;
}

.b3-menu .b3-menu__submenu--row .b3-menu__item {
    margin: 0px 8px 0 2px;
    padding: 0;
    height: auto;
	background-color:transparent!important;
}

.b3-menu__submenu--row .color__square[style*="color"],.b3-menu__submenu--row .color__square[style*="text-shadow"]{
    border-radius: 3px;
    width: 22px;
    height: 22px;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 0 0 0 1px var(--b3-color--square) inset;
	line-height: 28px;
}
.hint--menu .color__square{
    border-radius: 3px;
    width: 20px;
    height: 20px;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0 0 0 1px var(--b3-color--square) inset;
	line-height: 28px;
	margin-left: 8px;
	margin-right: 0px;
}
.b3-menu__submenu--row .color__square[style*="background"]::before {
    content: "A";
    opacity: 1;
    width: 14px;
    height: 14px;
    transform: unset;
    right: unset;
    margin-left: 2px;
    border-bottom-color: transparent;
    margin-top: -15px;
    font-weight: 500;
}


.color__square[style*="--b3-card-error-background"]::before,
.color__square[style*="--b3-card-warning-background"]::before,
.color__square[style*="--b3-card-info-background"]::before,
.color__square[style*="--b3-card-success-background"]::before,
.color__square[style*="-webkit-text-stroke"]::before{
	display:none;
}

.b3-menu__submenu--row .color__square:hover{
	box-shadow: 0 0 0 1px var(--b3-theme-on-background) inset;
}
.b3-menu .b3-menu__submenu--row .b3-menu__item:last-child .b3-menu__label>.fn__flex {
    font-size: 1.3em;
	font-weight: 500;
    border-radius: 3px;
    height: 24px;
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1px 4px;
    line-height: 23px;
    margin: 4px 0;
	background-color: var(--b3-theme-background);
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
}
.b3-menu .b3-menu__submenu--row .b3-menu__item:last-child .b3-menu__label>.fn__flex::after {
    content: attr(aria-label);
    display: flex;
	font-size: 14px;
}
.b3-menu .b3-menu__submenu--row .b3-menu__item:last-child .b3-menu__label>.fn__flex>.color__square{
	box-shadow:none;
}
.b3-menu .b3-menu__submenu--row {
    width: 425px;
}


.b3-dialog__container{
	border-radius:5px;
	border:none;
}
.b3-dialog__container .config__panel>.b3-tab-bar::before {
    display: block;
    content: "⚙ Settings";
    font-size: 18px;
	font-weight: 600;
    margin:0 0 18px 14px;
	opacity: 1;
	color: var(--b3-theme-on-background);
}

.b3-dialog__container .config__panel>.b3-tab-bar .b3-form__icon{
	border-bottom: 1px solid var(--b3-theme-background-light);
	margin-bottom: 24px;
}
.b3-dialog__container .config__panel>.b3-tab-bar .b3-text-field{
	box-shadow: inset 0 0 0 0px var(--b3-theme-on-surface-light);
	line-height: 28px;
	margin-bottom: 24px;
}
.b3-dialog__container .config__panel>.b3-tab-bar .b3-form__icon-icon{
	top: 10px;
}
.b3-dialog__container .config__panel>.b3-tab-bar .b3-text-field:focus{
	box-shadow: inset 0 0 0 1px var(--b3-theme-primary),0 0 0 3px var(--b3-theme-primary-lightest);
}
.b3-dialog__container .config__panel>.b3-tab-bar, .b3-dialog__container .config__tab-container{
	height: 70vh;
}
.b3-dialog__container .config__panel>.b3-tab-bar{
	padding:22px 12px 0 12px;
	width: 240px;
}
.b3-dialog__container .config__tab-container{
	padding-top:40px;
	border-radius: 0 10px 10px 0;
}

.b3-dialog__container .config__panel>.b3-tab-bar .b3-list-item{
	height: 32px;
	line-height: 30px;
	margin:4px 8px;
}

.b3-dialog__container .fn__flex .b3-label{
	padding: 20px 0px;
	margin: 0 20px;
}
.b3-dialog__container .config__panel>.b3-tab-bar .b3-list-item__graphic{
	color: var(--b3-theme-on-surface);
}

.b3-dialog__container .config__panel>.b3-tab-bar .b3-list-item--focus .b3-list-item__graphic{
	color: var(--b3-theme-on-background)!important;
}





.block__icons--menu {
    background-color: var(--b3-fn__flex-shrink-background);
}