

@keyframes menu {
0% { transform: scale(.9); 
transform: translateY(-1px);
}
50% { transform: scale(1.01); }
100% { transform: scale(1); }
}

@keyframes toolbar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


:root {
    /* 主色 */
    --b3-theme-primary: rgb(46, 170, 220);/* 主色 */
    --b3-theme-primary-light: rgba(46, 170, 220, 0.54);/* 半透明色，用于输入框边框阴影等 */
    --b3-theme-primary-lighter: rgba(46, 170, 220, 0.38);
    --b3-theme-primary-lightest: rgba(46, 170, 220, 0.1);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #fff;/* 编辑区背景 */
    --b3-theme-surface:#fff;/* 面板 */
    --b3-theme-error: #ea583f;
	
	--b3-column-surface:rgb(247, 246, 243);/* 面板 */
	--toolbar-item-hover:rgba(239,239,239);
	--menu-pcr-result: rgba(247, 247, 245);
	--svg-theme-surface: rgba(161, 160, 156);
	--svg-theme-graphic: rgba(55, 53, 47, 0.4);
	--p-theme-background: rgba(249, 249, 250);

    /* 文字颜色 */
    --b3-theme-on-primary: rgb(55, 53, 47);
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: rgb(55, 53, 47);
    --b3-theme-on-surface: rgba(132, 130, 125);
    --b3-theme-on-error: #fff;
	
	--b3-list-background: rgba(55, 53, 47, 0.08);
	--b3-list-background-focus: rgba(55, 53, 47, 0.16);
	--b3-list-background-more:rgba(108, 106, 101);

   /* 字体 */
    --b3-font-family: "Segoe UI", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif,  "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, .1);
	--surface-border-color: rgba(230, 229, 225);

    /* 滚动条 */
    --b3-scroll-color: rgba(211,209,203);
	--b3-scroll-color-hover: rgba(174,172,166);
	--b3-scroll-bgcolor: rgba(237, 236, 233);


    /* 列表 */
    --b3-list-hover: rgba(0, 0, 0, .05);

    /* 页签 */
    --b3-tab-background: #f8f9fa;
    --b3-tab-background-hover: #e9eaeb;

    /* 提示 */
    --b3-tooltips-color: rgba(15, 15, 15);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 自定义文字 */
	--b3-font-color1: var(--b3-theme-background);
    --b3-font-color2: #000;
    --b3-font-color3: rgba(55, 53, 47, 0.6);
	--b3-font-color4: rgb(100, 71, 58);
    --b3-font-color5: rgb(217, 115, 13);
	--b3-font-color6: #f5822e;
    --b3-font-color7: rgb(223, 171, 1);
	--b3-font-color8: #65b84d;
    --b3-font-color9: rgb(15, 123, 108);
    --b3-font-color10: rgb(11, 110, 153);
    --b3-font-color11: rgb(105, 64, 165);
    --b3-font-color12: rgb(173, 26, 114);
    --b3-font-color13: rgb(224, 62, 62);
    
	--b3-font-background1: rgb(198, 203, 208);
    --b3-font-background2: rgb(225, 225, 225);
    --b3-font-background3: rgb(235, 236, 237);
    --b3-font-background4: rgb(233, 229, 227);
	--b3-font-background5: rgb(246, 225, 205);
    --b3-font-background6: rgb(250, 235, 221);
    --b3-font-background7: rgb(251, 243, 219);
	--b3-font-background8: rgba(221, 237, 226);
    --b3-font-background9: rgb(221, 237, 234);
    --b3-font-background10: rgb(221, 235, 241);
    --b3-font-background11: rgb(234, 228, 242);
    --b3-font-background12: rgb(244, 223, 235);
    --b3-font-background13: rgb(251, 228, 228);
    
    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1)

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #202124;
    --b3-protyle-inline-link-color: #4285f4;
    --b3-protyle-inline-mark-background: #ffe955;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #660e7a;
	
}

.render-node[data-subtype="graphviz"] .graph > polygon {
    fill: transparent;
}


/* ################顶栏################### */

.toolbar{
     background-color: var(--b3-theme-background);
}

.toolbar__item {
align-items: center;
}

.toolbar__item svg{
	height:10px;
	color: var(--b3-theme-on-background);
}
.toolbar__item:not(#closeWindow):hover {
  background-color: var(--toolbar-item-hover) !important;
}
/*弹出菜单*/
.b3-menu{
	animation: menu 0.2s ease-in-out;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom),
.b3-menu__item--current {
	background-color:var(--b3-list-background);
}
.b3-menu__separator{
    height: 1px;
}

/* ------------------------------- */
  



/* ############# 侧栏 ############ */
/* dock */
.dock{
    background-color: var(--b3-theme-background);
}
.dock__item--active{
	 color:var(--b3-theme-error);
	 }

/* 面板column */
.fn__flex-column{
    background-color: var(--b3-column-surface);
}

/* 面板列表 */
.b3-list-item__text{
	font-weight:500;
	color:var(--b3-theme-on-surface);
}
.b3-list-item__graphic{
	color:var(--b3-theme-on-background);
	padding:4px 4px;
	border-radius: 3px;
}
.b3-list-item__graphic--arrow{
	color:var(--svg-theme-graphic);
    margin-left: -5px;
    margin-right: 4px;
    border-radius: 3px;
}
.b3-list-item__graphic--arrow-open {
  padding: 4px 0;
}
.b3-list-item__action{
	padding:4px 2px;
	border-radius: 3px;
	color:var(--b3-list-background-more);
}


/* 面板列表项 选中状态*/
.b3-list--background .b3-list-item--focus {
    background-color: var(--b3-list-background)!important;
}
.b3-list--background .b3-list-item--focus .b3-list-item__text,
.b3-list--background .b3-list-item--focus .b3-list-item__graphic
{
	color:var(--b3-theme-on-background)!important;
}


/* 面板列表项 hover状态 */

.b3-list--background .b3-list-item:hover{
    background-color: var(--b3-list-background)!important ;
}
 .b3-list--background .b3-list-item--focus:hover{
    background-color: var(--b3-list-background-focus)!important ;
}
.b3-list-item__graphic:hover,
.b3-list-item__action:hover
{
  background-color: var(--b3-list-background)!important;
  color:var(--b3-list-background-more)!important;
}

/* 分界线 */
.layout__resize:after{
   background-color:var(--surface-border-color);
   
}
.layout__resize:hover:after{
   background-color:var(--b3-scroll-color);
}

.layout__resize--lr:after{
	background-color: var(--b3-column-surface);
	
}



/* 面板标题栏 */
.block__icons{
    background-color: var(--b3-column-surface);
	height:45px;  
}
.block__icons:hover{
	background-color: var(--b3-list-background)!important ;
}

.block__logo svg{
	width:10px;
	height:10px;
	padding: 4px 4px;
	margin:0px 10px 0px 0px;
	color: var(--b3-column-surface);
	background-color: var(--svg-theme-surface);
	border-radius: 2px;
}
.block__icon svg{
	color:var(--svg-theme-surface);
}


/* ----------------------------------- */

/* ################ 页签 ############# */
.layout-tab-bar .item{
  background-color: var(--b3-theme-background);
}
.layout-tab-bar .item--focus {
    border-bottom:2px solid #000!important;
}
.layout-tab-bar .item:hover {
  background-color: var(--toolbar-item-hover)!important;
}

.layout-tab-bar .item__text{
    padding: 3px 0px 3px 3px; 
}

.fn__flex .layout-tab-bar{
    background-color: var(--b3-theme-background);
	margin-bottom: 1px;
}
/* ----------------------------------- */

/* zoom in栏 */
.protyle-breadcrumb{
    background-color: var(--b3-theme-background);
	padding: 10px 10px;
}
.protyle-breadcrumb__item,.protyle-breadcrumb__icon{
	color: var( --b3-theme-on-background);
    padding: 5px 6px;
	margin:0 5px;
}

.protyle-breadcrumb__icon:hover,
.protyle-breadcrumb__item:hover{
	background-color:var(--toolbar-item-hover);
	border-radius: 3px;
}

.protyle-breadcrumb__arrow{
width:0px;
transform:rotate(20deg);
border-left:1px solid var(--b3-scroll-color-hover);
}
/* ----------------------------------- */

/* ##########设置菜单窗口################ */

.b3-dialog__container .fn__flex-column{
	background-color: var(--b3-theme-background);
    border-radius: 5px;
}
.b3-dialog__container .b3-list--background
{
	background-color:var(--b3-column-surface);
	border-radius:0 0 0 5px;
	border-right: 0px;

}
.fn__flex .b3-label{
	padding: 20px 0px;
	margin: 0% 4%;
}

/* 搜索框 */
.b3-text-filed, .pcr-app .pcr-interaction .pcr-result{
  border: 1px solid var(--b3-border-color);
  border-radius: 3px;
  background: var(--menu-pcr-result);
}

/* 选择下拉菜单 */
.b3-select {
  border: 1px solid var(--b3-border-color);
  padding: 2px 8px 4px 8px;
}

/* 开关 */
.b3-switch {
  height: 14px;
  width: 26px;
  padding: 1px;
  border-radius: 44px;
  box-sizing: content-box;
  background: var(--b3-border-color);
}

.b3-switch::after {
  border: none;
  box-shadow: none;
  width: 14px;
  height: 14px;
  border-radius: 44px;
  background: var(--b3-theme-background);
  transform: translateX(5px) translateY(4px);
}

.b3-switch::before {
  display: none !important;
}

.b3-switch:checked {
  background-color: var(--b3-theme-primary);
}

.b3-switch:checked:after {
  background: var(--b3-theme-background);
  transform: translateX(17px) translateY(4px);
}

/* 按钮 */
.b3-button:not(.b3-button--text):not(.b3-button--cancel){
  font-weight:700;
  color: var(--b3-theme-background) !important;
  box-shadow: 0 0 0 1px var(--b3-border-color) inset;
}

.b3-button:not(.b3-button--text):not(.b3-button--cancel):hover{
   background-color:#069ccd;
}
/* 警告 */
.b3-snackbar__content{
	color: var(--b3-theme-background);
}


/* #################### 编辑区 ###################### */

/*文本框选颜色*/
::selection {
    color: var(--b3-theme-on-primary);
    background: rgba(192,229,244);
}

/*滚动条*/
::-webkit-scrollbar {
    width : 10px; 
    overflow-y: hidden;
	background-color:var(--b3-scroll-bgcolor);
}
::-webkit-scrollbar-thumb:hover{
    background-color:var(--b3-scroll-color-hover);
}


/* 块标 */
.protyle-gutters svg {
    color: var(--b3-scroll-color);
}

.protyle-gutters button{
	padding-top:3px;
    width: 24px;
    height: 24px;
	position: relative;
    bottom: 5px;
	margin-right: 0px;
}
.protyle-gutters button:hover {
    background-color: var(--toolbar-item-hover);
    border-radius: 3px;
}

/* 标题 */
.protyle-wysiwyg .h1,.protyle-wysiwyg .h2,
.protyle-wysiwyg .h3,.protyle-wysiwyg .h4,.protyle-wysiwyg .h5,.protyle-wysiwyg .h6
{font-weight:700;

}

/* 图片缩放控制 */
.protyle-wysiwyg [data-node-id] .img .protyle-action__drag{
	background-color: var(--b3-theme-on-surface);
    width: 6px;
}

/* 工具条 */
.protyle-toolbar{
    border-radius: 3px;
    padding: 0px 6px;
	height:29px;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; 
	animation: toolbar 0.2s ease-in-out;
}
.protyle-util{
animation: menu 0.2s ease-in-out;
box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

}
.b3-color__square[data-type="color"]{
	 border-radius: 2px;
	 width:22px;
	 height:22px;
	 background: no-repeat round url("img/a1.svg");
	 box-shadow: 0 0 0 1px var(--b3-border-color) inset;
}

.b3-color__square[data-type="backgroundColor"]{
	 border-radius: 2px;
	 width:22px;
	 height:22px;
	 background: no-repeat round url("img/a2.svg") #fff;
	 box-shadow: 0 0 0 1px var(--b3-border-color) inset;
}

.b3-color__square:hover{
	box-shadow: 0 0 0 1px var(--b3-theme-on-primary) inset;
}

/* ------------------------------------------------------------------*/

/* 任务列表 */
.protyle-task--done{
    color: var(--b3-scroll-color);
    text-decoration: line-through;
}

.protyle-task--done svg{
    color: var(--b3-theme-primary) !important;
}

/* 引述 */
.protyle-wysiwyg .bq{
    padding: 0.5em;
    color: var( --b3-theme-on-background);
    border-left: 0.3em solid var(--b3-theme-on-primary);
    margin: 0 0 20px 0;
    background-color: var(--p-theme-background);
}


/* 表格 */

.protyle-wysiwyg table tr th:first-child,
.protyle-wysiwyg table tr td:first-child {
  border-left-width: 0px;
}
.protyle-wysiwyg table tr td{
	font-size: 90%;
}

.protyle-wysiwyg table tr th:last-child,
.protyle-wysiwyg table tr td:last-child {
  border-right-width: 0px;
}



/* 标签 */
.protyle-wysiwyg span[data-type="tag"] {
  font-size: 90%;
  border-radius: 3px;
  padding:0px 6px 2px 6px;
  color: var( --b3-theme-on-background)!important;
  border-bottom:none !important; 
  background-color:var(--b3-font-background7);
}
.protyle-wysiwyg span[data-type='tag']:hover {
    background-color:var(--b3-font-background6);
}


/*块引用*/
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]{
	font-size: 95%;
  padding:0px 5px 1px 5px;
  color:var(--b3-theme-on-primary)!important;
  background-color:var(--toolbar-item-hover);
  border-bottom: 1px dashed var(--b3-theme-on-surface);
}
.block__popover--open{
	border:none;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; 
}
.block__icons--border{
	height:30px;
}

.ft__primary {
    color: var(--b3-theme-primary)!important;
	transition: all 200ms;
	transform: rotate(-46deg);
}

/* 超链接 */
.protyle-wysiwyg [data-node-id] span[data-type="a"]{
    padding: 0 2px;
	font-size: 90%;
	color: var(--b3-theme-on-surface);
	border-bottom:1px solid var(--b3-border-color);
}

.protyle-wysiwyg [data-node-id] span[data-type="a"]:hover{
	color: var(--b3-theme-on-primary);
	border-bottom:1px solid var(--b3-theme-on-primary);
}

/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"]{
    color: var( --b3-theme-on-background);
    border-left: 1px dashed var(--b3-theme-on-surface);
    background-color: var(--p-theme-background);
}


