/* ———————————————————————————————————————————————————为链接前的icon图标设置格式———————————————————————————————————————————————— */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a']:first-child:not(:empty)::before {
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    top: 0.1em !important;
    width: 1em;
    height: 1em;
    margin-right: 0.2em !important;
}

/* ————————————————————为常见的文件格式设置图标———————————————————— */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href^="file://"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/folder.svg');
}

/* ————————————————————为没有收集icon图标的网站设置格式—————————————————— */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href ^="http"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/link2.svg');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="weibo.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/weibo_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="zhihu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/zhihu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="t.bilibili.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/t_bilibili_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="bilibili.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/bilibili_com.png');
}


.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="douban.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/douban_com.png');
}


.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="oschina.net"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/oschina_net.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="ld246.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/ld246_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="music.163.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/music_163_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="runoob.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/runoob_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="iconfont.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/iconfont_cn.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="pan.baidu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/pan_baidu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="yuque.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/yuque_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="52pojie.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/52pojie_cn.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="sspai.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/sspai_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="uisdc.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/uisdc_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="cn.bing.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/cn_bing_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="jianshu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/jianshu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="blog.csdn.net"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/blog_csdn_net.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="zcool.com.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/zcool_com_cn.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="ixigua.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/ixigua_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="weixin.sogou.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/weixin_sogou_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="baidu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/baidu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="tieba.baidu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/tieba_baidu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="fanyi.baidu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fanyi_baidu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="iplaysoft.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/iplaysoft_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="huaban.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/huaban_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="v.qq.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/v_qq_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="iqiyi.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/iqiyi_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="youku.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/youku_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="haokan.baidu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/haokan_baidu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="y.qq.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/y_qq_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="kugou.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/kugou_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="kuwo.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/kuwo_cn.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="toutiao.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/toutiao_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="tianya.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/tianya_cn.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="bbs.hupu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/bbs_hupu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="wiz.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/wiz_cn.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="yinxiang.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/yinxiang_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="logseq.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/logseq_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="obsidian.md"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/obsidian_md.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="taobao.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/taobao_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="so.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/so_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="mp.weixin.qq.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/mp_weixin_qq_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="yandex.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/yandex_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="wolai.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/wolai_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="auth.alipay.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/auth_alipay_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="aliyundrive.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/aliyundrive_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="baike.baidu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/baike_baidu_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="apple.com.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/apple_com_cn.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="huawei.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/huawei_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="samsung.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/samsung_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="mi.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/mi_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="oppo.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/oppo_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="vivo.com.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/vivo_com_cn.png');
}


.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="topbook.cc"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/topbook_cc.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="appinn.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/appinn_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="ghxi.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/ghxi_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="weread.qq.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/weread_qq_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="news.qq.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/news_qq_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="news.163.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/news_163_com.png');
}

.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="guancha.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/guancha_cn.png');
}

/* pocket */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="getpocket.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/getpocket_com.png');
}

/* instapaper */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="instapaper.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/instapaper_com.png');
}

/* GitHub */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="github.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/github_com.png');
}

/* 谷歌翻译 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="translate.google.cn"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/translate_google_cn.png');
}


/* zotero */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="zotero"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/zotero.png');
}

/* 搜狐 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="sohu.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/souhu.svg');
}

/* 豌豆荚 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="wandoujia.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/wandou.svg');
}

/* Reddit */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="redditinc.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/reddit.svg');
}

/* Instagram.com */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="Instagram.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/ins.svg');
}

/* twitter.com */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="twitter.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/Twitter.svg');
}

/* facebook.com */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="facebook.com"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/Facebook.svg');
}

/* notion */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="notion"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/notion.svg');
}

/* Youtube */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href *="youtube"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/youtube.svg');
}
/* bookxnote */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href^="bookxnotepro://"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/bookxnote.ico');
}
/* liquidtext */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href^="lt://"]:first-child:not(:empty)::before{
	content:"";
	background-image:url("/appearance/themes/Savor/icon/liquidtext.svg")
}
/* ————————————————————为常见的文件格式设置图标———————————————————— */
/* 文件夹 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href^="file://"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/folder.svg');
}

/* 压缩包 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".zip"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".rar"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".7z"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/zip.svg');
}

/* word */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".docx"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".doc"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/word.svg');
}

/* ppt */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".pptx"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".ppt"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/ppt.svg');
}

/* excel */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".xlsx"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".xls"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/excel.svg');
}

/* pdf */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".pdf"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/pdf.svg');
}

/* txt */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".txt"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/txt.svg');
}

/* 视频 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".mp4"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".m4v"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".mov"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".flv"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".avi"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/MP4.svg');
}

/* 图片 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".jpg"]:first-child:not(:empty)::before,
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".png"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/jpg.svg');
}

/* json */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".json"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/json.svg');
}

/* css */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".css"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/css.svg');
}

/* js,c++等 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".java"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/JAVA.svg');
}

/* js,c++等 */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".js"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/vscode.svg');
}

/* xmind */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".xmind"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/xmind.svg');
}

/* xmind */
.protyle-wysiwyg [data-node-id] [contenteditable] span[data-type^='a'][data-href $=".md"]:first-child:not(:empty)::before{
    content: "";
    background-image: url('/appearance/themes/Savor/icon/fold/md.svg');
}

/* ————————————————————————————————————————————————————文件格式到此为止—————————————————————————————————————————————————————— */