#buttonSavor-light.button_off{
	background:var(--S-Savor-light-off);
}
#buttonsalt.button_on{
	background:var(--S-salt-on);
}
#buttonsalt.button_off{
	background:var(--S-salt-off);
}
#buttonsugar.button_on{
	background:var(--S-sugar-on);
}
#buttonsugar.button_off{
	background:var(--S-sugar-off);
}
#buttonSavor-dark.button_on{
	background:var(--S-Savor-dark-on);
}
#buttonSavor-dark.button_off{
	background:var(--S-Savor-dark-off);
}
#buttonvinegar.button_on{
	background:var(--S-vinegar-on);
}
#buttonvinegar.button_off{
	background:var(--S-vinegar-off);
}
#conceal.button_on{
	background:var(--S-conceal-on);
}
#conceal.button_off{
	background:var(--S-conceal-off);
}
#tabbarVertical.button_on{
	background:var(--S-tabbarVertical-on);
}
#tabbarVertical.button_off{
	background:var(--S-tabbarVertical-off);
}
#topBar.button_on{
	background:var(--S-topBar-on);
}
#topBar.button_off{
	background:var(--S-topBar-off);
}
#bulletThreading.button_on{
	background:var(--S-bulletThreading-on);
}
#bulletThreading.button_off{
	background:var(--S-bulletThreading-off);
}

#savorToolbar{
	width:24px;
	height:24px;
	margin:3px 0px 4px 4px;
	border-radius:4px;
	overflow:hidden;
	background:var(--S-settings);
	position:relative;
}

#savorToolbar:hover{
	overflow:visible;
	background-color:var(--S-toolbar-item-hover);
}
#savorToolbar:after{
	content: "";
	background-color:var(--b3-theme-background);
	position:absolute;
	width:136px;
	height:218px;
	top:22px;
	left:-112px;
	z-index:5;
	border-radius:6px;
	box-shadow:rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	display:none;
}
#savorToolbar:hover:after{
	display:block;
}
#buttonSavor-light,#buttonSavor-dark,#buttonsalt,#buttonvinegar,#buttonsugar,#topBar,#conceal,#tabbarVertical,#bulletThreading{
	margin:0px;
	height:30px;
	left: -108px;
	border-bottom:none;
	width:128px;
	z-index:8;
	border-radius:4px;
	background-size:18%;
}

#buttonSavor-light,#buttonSavor-dark{
	margin-top:27px;
}


#buttonSavor-light::after,#buttonSavor-dark::after,#buttonsalt::after,#buttonvinegar::after,#buttonsugar::after,#topBar::after,#conceal::after,#tabbarVertical::after,#bulletThreading::after{
	font-size:14px;
	line-height:20px;
	transform:none;
	opacity:1;
	color:var(--b3-theme-on-background);
	background-color:transparent;
	position:static;
	margin:0;
	padding:0 0 0 30px;
	box-shadow:none;
	filter: none;
}


#buttonSavor-light::before,#buttonSavor-dark::before,#buttonsalt::before,#topBar::before,#conceal::before,#tabbarVertical::before,#buttonvinegar::before,#buttonsugar::before,#bulletThreading::before{
	display:none;
}

#buttonSavor-light:hover,#buttonSavor-dark:hover,#buttonsalt:hover,#topBar:hover,#conceal:hover,#tabbarVertical:hover,#buttonvinegar:hover,#buttonsugar:hover,#bulletThreading:hover{
	background-color:var(--S-list-background)!important;
}


#savorToolplus{
	border:8px solid transparent;
	margin-left:-16px;
	margin-right:0px;
	margin-top:30px;
}