
#notionToolbar{
	height:26px;
}


#notionToolbar div,#notionToolplus div{
	height:26px;
	width:26px!important;
	display: inline-block;
	margin: 7px 0px;
	background-size:22px 22px;
	 background-position: center!important; 
}



#notionToolbar div:hover,#notionToolplus div:hover{
	background-color: var(--b3-toolbar-item-hover);
}
