#leftColumn,#rightColumn{
	width:12px;
	height:40px;
	margin:7px 0 5px 0px;

	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
}
#leftColumn:hover,#rightColumn:hover{
	background-color:var(--b3-toolbar-item-hover)!important;
}

.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
	padding-left:2px;
}


#leftColumn.b3-tooltips::after{
	left:-40px;
}



#shrinkLeft{
	opacity:0;
	position:absolute;
	top:40%;
	z-index:5;
	margin-left:calc(100% - 6px);
	padding:0;
	background-color:var( --b3-theme-background)!important;
	transition: opacity 300ms;
}

#leftColumn{
	float:right!important;
	margin:0;
}

#shrinkRight{
	opacity:0;
	position:absolute;
	top:40%;
	z-index:5;
	margin-left:-6px;
	padding:0;
	background-color:var( --b3-theme-background)!important;
	transition: opacity 300ms;
}

#rightColumn{
	float:right!important;
	margin:0;
}
