:root[data-theme-mode="light"] {
    /* 主色 */
    --b3-theme-primary-base-l:74.85%;
    --b3-theme-primary-base-ch:0.0828 303.23;
    --b3-theme-surface-base-l:0.9484;
    --b3-theme-surface-base-ch:0.0074 132.42;

    --b3-theme-background: #fff;/* 编辑区背景 必须用HEX颜色*/

    --Sv-menu-background: oklch(calc(var(--b3-theme-surface-base-l)*1.02) var(--b3-theme-surface-base-ch));

    --Sv-tab-bar-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23e0e4de'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23e0e4de'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%23e0e4de'/></svg>");

    --Sv-tab-bar-V-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C100 44.772 55.228 0 0 0H100V100z' fill='%23fff'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23fff'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  width='100%' height='100%' fill='%23fff'/></svg>");

    --Sv-tab-bar-item-focus-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23fff'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23fff'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%23fff'/></svg>");

    /* ————————————————————  自定义结构配色  ———————————————————— */
	
	/* 顶栏 */
    --Sv-barWorkspace-background: #2c2f32;
    --Sv-barWorkspace-background-hover: #3c3f43;
    --Sv-plugin-off-bg: #e0e4de;

	/* 边栏 */
    --Sv-dock-item--activefocus-color: var(--b3-theme-background);
    --Sv-dock-item--activefocus-background: #a18ef9;
    --Sv-dock--item--activefocus-shadow: 0 ;

    /* 侧栏面板 */
    --Sv-block-icon-active: #dbc9f5;
    --Sv--dialog-container: #ecefea;
	--Sv-list-focus-active: rgba(161, 142, 249, 0.1) ;

    /* 底栏 */
    --Sv-status-barDock-color: #9d80ec;


    /* 面包屑 */
    --Sv-breadcrumb-active: #ab90f7;
    --Sv-breadcrumb-active-hover:#9d80ec;

    /* 引用 */
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right, #8788ff, #c796f1) 1;

    /* 代码块 */
    --Sv-code-block-background: oklch(calc(var(--b3-theme-surface-base-l)*1.02) var(--b3-theme-surface-base-ch));

}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}


#savorToolbar #buttonSavor-light svg{
    color: var(--b3-theme-on-surface);
}