:root[data-theme-mode="light"] {
    /* 主色 */
    --b3-theme-primary-base-l:75.97%;
    --b3-theme-primary-base-ch:0.1453 34.26;
    --b3-theme-surface-base-l:89.05%;
    --b3-theme-surface-base-ch:0.0011 17.18;

    --b3-theme-background: #f1f0f0;/* 编辑区背景 必须用HEX颜色*/

    --Sv-tab-bar-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23d4d3d3'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23d4d3d3'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%23d4d3d3'/></svg>");

    --Sv-tab-bar-V-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C100 44.772 55.228 0 0 0H100V100z' fill='%23f1f0f0'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23f1f0f0'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  width='100%' height='100%' fill='%23f1f0f0'/></svg>");

    --Sv-tab-bar-item-focus-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23f1f0f0'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23f1f0f0'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%23f1f0f0'/></svg>");

    /* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-barWorkspace-color: var(--b3-theme-on-background);
    --Sv-barWorkspace-background: var(--Sv-list-background);
    --Sv-barWorkspace-background-hover: var(--Sv-list-focus-hover);
    --Sv-plugin-off-bg: #d0cfcf;

	/* dock栏 */
    --Sv-dock-item-hover-color: var(--b3-theme-background);
    --Sv-dock--item--activefocus-color: var(--b3-theme-background);
    --Sv-dock-item-active-background: #2c2f32;
    --Sv-dock-item-active-background-hover: #2c2f32;
    --Sv-dock-item--activefocus-background:   #ff5f40!important;
    --Sv-dock--item--activefocus-shadow: 0 ;
	
	/* 侧栏面板 */
    --Sv-block-icon-active: #ff5f40;
    --Sv--dialog-container: #e2e1e1;

    /* 底栏 */
    --Sv-status-barDock-color: #ff5f40;

    /* 面包屑 */
    --Sv-breadcrumb-active: #ff5f40;
    --Sv-breadcrumb-active-hover:#ed5536;
    


    /* 块引用 */
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right,#ff5f40, #ff5f40) 1;

    --Sv-Savor-light-on:var(--Sv-Savor-light-off);

    /* 代码块 */
    --Sv-code-block-background: oklch(calc(var(--b3-theme-surface-base-l)*1.02) var(--b3-theme-surface-base-ch));

}



.b3-list-item{
    filter: grayscale(50%);
}


body::before {
    content: "";
    position: fixed;
    width: 100%;  
    height: 100%; 
    background: url('savor-wind.png');
    background-attachment: fixed;
    background-size: auto;
    z-index: 10;
    pointer-events: none;
}