:root[data-theme-mode="dark"] {
    /* 主色 */
	--b3-theme-primary-base-l:86.08%;
    --b3-theme-primary-base-ch:0.1912 123.83;
    --b3-theme-surface-base-l:0.2115;
    --b3-theme-surface-base-ch: 0.0266 270.84   ;

    --b3-theme-background: #1e2330;/* 编辑区背景 必须用HEX颜色*/

    --b3-theme-on-surface: oklch(calc(20.38%*3.5) 0 0);
    --Sv-plugin-off-bg: #1b202c;

    --Sv-dock-item-color: oklch(calc(20.38%*2.5) 0 0 );

	--Sv-tab-bar-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%231b202c'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%231b202c'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%231b202c'/></svg>");

    --Sv-tab-bar-V-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C100 44.772 55.228 0 0 0H100V100z' fill='%231e2330'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%231e2330'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  width='100%' height='100%' fill='%231e2330'/></svg>");
    
    --Sv-tab-bar-item-focus-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%231e2330'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%231e2330'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%231e2330'/></svg>");

	/* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
	--Sv-barWorkspace-color: var(--b3-theme-on-background);
    --Sv-barWorkspace-background: var(--Sv-list-background);
    --Sv-barWorkspace-background-hover: var(--Sv-list-focus-hover);

	/* dock栏 */
    --Sv-dock-item-radius:8px;
    --Sv-dock-item--activefocus-background:  #cdff3b!important;
	--Sv-dock--item--activefocus-shadow: 0 ;
	
	/* 侧栏面板 */
    --Sv-block-icon-active: #cdff3b;
    --Sv-list-focus-active: rgba(205, 255, 59, 0.1) ;

    /* 底栏 */
    --Sv-status-barDock-color: #cdff3b;

    /* 面包屑 */
	--Sv-breadcrumb-active: #cdff3b;
	--Sv-breadcrumb-active-hover:#b6de3e;


    /* 块引用 */
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right,#cdff3b, #cdff3b) 1;

}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}



#savorToolbar #buttonSavor-dark svg{
    color: var(--b3-theme-on-surface);
}


