:root[data-theme-mode="dark"] {
    /* 主色 */
    --b3-theme-primary-base-l:64.04%;
    --b3-theme-primary-base-ch:0.1865 43.18;
    --b3-theme-surface-base-l:0.2449;
    --b3-theme-surface-base-ch: 0.0048 145.43;

    --b3-theme-background: #2d302d;/* 编辑区背景 必须用HEX颜色*/
    --Sv-plugin-off-bg: #272a27;

    --Sv-tab-bar-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23272a27'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23272a27'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%23272a27'/></svg>");

    --Sv-tab-bar-V-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C100 44.772 55.228 0 0 0H100V100z' fill='%232d302d'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%232d302d'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  width='100%' height='100%' fill='%232d302d'/></svg>");

    --Sv-tab-bar-item-focus-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%232d302d'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%232d302d'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%232d302d'/></svg>");
	
	/* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-barWorkspace-color: var(--b3-theme-on-background);
    --Sv-barWorkspace-background: var(--Sv-list-background);
    --Sv-barWorkspace-background-hover: var(--Sv-list-focus-hover);

	/* dock栏 */
    --Sv-dock-item--activefocus-background:  #ff6000!important;
	
	/* 侧栏面板 */
    --Sv-block-icon-active: #ff6000;

    /* 底栏 */
    --Sv-status-barDock-color: #ff6000;
    
	/* 面包屑 */
	--Sv-breadcrumb-active: #ff6000;
	--Sv-breadcrumb-active-hover:#e16314;
    
    /* 块引用 */
    --Sv-block-ref-background: transparent;
    --Sv-block-ref-bottom: 3px solid;
    --Sv-block-ref-bottom-image: linear-gradient(to bottom right,#ff6000, #ff6000) 1;

}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}


body{
	border: 0px!important;
}


.b3-select:hover {
    background-color: #4e504d;
}

#savorToolbar #buttonSavor-dark svg{
    color: var(--b3-theme-on-surface);
}