:root[data-theme-mode="dark"][savor-theme="dark"] {
    /* 基础数 */
    --b3-theme-primary-base-l:69.42%;
    --b3-theme-primary-base-ch:0.1265 230.5;
    --b3-theme-surface-base-l:0.2607 ;
    --b3-theme-surface-base-ch:0.0092 234.08;
    --b3-theme-on-background-base:94.01% 0 0;
    --Sv-dock-item--activefocus-background--base:68.98% 0.161 30.76;

    --b3-theme-background: #2f3437;/* 编辑区背景 必须用HEX颜色*/
    --Sv-plugin-off-bg: #2a2e32;

    --Sv-tab-bar-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%232a2e32'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%232a2e32'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='0%' width='100%' height='80%' fill='%232a2e32'/></svg>");

    --Sv-tab-bar-V-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C100 44.772 55.228 0 0 0H100V100z' fill='%232f3437'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%232f3437'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  width='100%' height='100%' fill='%232f3437'/></svg>");

    --Sv-tab-bar-item-focus-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%232f3437'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%232f3437'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='0%' width='100%' height='80%' fill='%232f3437'/></svg>");

    --b3-font-background1: #484c4f;
    --b3-font-background2: #363b3e;
    --b3-font-background3: #453739;
    --b3-font-background4: #3b3b3c;
	--b3-font-background5: #484037;
    --b3-font-background6: #484337;
    --b3-font-background7: #484837;
	--b3-font-background8: #314243;
    --b3-font-background9: #324349;
    --b3-font-background10: #324049;
    --b3-font-background11: #3c3a4b;
    --b3-font-background12: #453744;
    --b3-font-background13: #483a3c;

    .protyle-attr--refcount{
        background-color: oklch(calc(var(--b3-theme-surface-base-l)*1.2) var(--b3-theme-surface-base-ch));
    }

    body::before {
        display: none;
    }
}

