:root[data-theme-mode="light"] {
    /* 主色 */
    --b3-theme-primary-base-l:53.63%;
    --b3-theme-primary-base-ch:0.0979 220.45;
    --b3-theme-surface-base-l:0.8996;
    --b3-theme-surface-base-ch:0.0098 189.04;

    --b3-theme-on-background-base:0.28 0.0159 264.27;
    --Sv-dock-item--activefocus-background--base:68.98% 0.161 30.76;

    --b3-theme-background: #eaf2f2;/* 编辑区背景 必须用HEX颜色*/
    --Sv-menu-background: oklch(calc(var(--b3-theme-surface-base-l)*1.06) var(--b3-theme-surface-base-ch));

    --Sv-tab-bar-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23ccd5d4'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23ccd5d4'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect y='15%' width='100%' height='80%' fill='%23ccd5d4'/></svg>");

    --Sv-tab-bar-V-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C100 44.772 55.228 0 0 0H100V100z' fill='%23eaf2f2'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23eaf2f2'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  width='100%' height='100%' fill='%23eaf2f2'/></svg>");

    --Sv-tab-bar-item-focus-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23eaf2f2'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23eaf2f2'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect y='15%' width='100%' height='80%' fill='%23eaf2f2'/></svg>");
	
    /* ————————————————————  自定义结构配色  ———————————————————— */

	/* 顶栏 */
    --Sv-barWorkspace-background: #252830;
    --Sv-barWorkspace-background-hover: #2b2d32;

    --Sv--dialog-container: #d7e0df;
    --Sv-plugin-off-bg: #ccd5d4;
	
	/* 侧栏面板 */
    --Sv-block-icon-svg-color: rgba(55, 53, 47, .5);

    /* 代码块 */
    --Sv-code-block-background: oklch(calc(var(--b3-theme-surface-base-l)*1.02) var(--b3-theme-surface-base-ch));

}

