:root[data-theme-mode="light"] {
    /* 主色 */
	--b3-theme-primary-base-l:74.89%;
    --b3-theme-primary-base-ch:0.0673 136.83;
	--b3-theme-surface-base-l:0.9494;
    --b3-theme-surface-base-ch:0.0093 62.58;

	--Sv-barWorkspace-background: #ea556b;
    --Sv-barWorkspace-background-hover: #dd3952;
	--b3-theme-background: #f9f8f5;
	--Sv--dialog-container: #eeeae3;
    --Sv-plugin-off-bg: #e8e1dc;

	--Sv-dock-item--activefocus-background: #ea556b;

	--Sv-code-block-background: oklch(calc(var(--b3-theme-surface-base-l)*1.01) var(--b3-theme-surface-base-ch));

	--Sv-tab-bar-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23e8e1dc'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23e8e1dc'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%23e8e1dc'/></svg>");
	
	--Sv-tab-bar-V-item-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C100 44.772 55.228 0 0 0H100V100z' fill='%23f9f8f5'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23f9f8f5'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  width='100%' height='100%' fill='%23f9f8f5'/></svg>");

	--Sv-tab-bar-item-focus-after:url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23f9f8f5'/></svg>"),
    url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23f9f8f5'/></svg>"),
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><rect  y='15%' width='100%' height='80%' fill='%23f9f8f5'/></svg>");
    /* ————————————————————  自定义结构配色  ———————————————————— */


    
    /*——————————————————————————— 收缩按钮 ——————————————————————————*/
    --Sv-Splugin-on:url("data:image/svg+xml;utf8,<svg fill='rgb(144, 140, 134)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M14.667 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333zM18.533 20.533c0.133 0.133 0.267 0.133 0.4 0.133 0.267 0 0.533-0.267 0.533-0.533 0-0.133 0-0.267-0.133-0.4l-3.067-2.933 3.067-2.933c0.133-0.133 0.133-0.267 0.133-0.4 0-0.267-0.267-0.533-0.533-0.533-0.133 0-0.267 0-0.4 0.133l-3.333 3.333c-0.133 0.133-0.133 0.267-0.133 0.4s0 0.267 0.133 0.4l3.333 3.333z'/></svg>") no-repeat left 16px top -6px;
    --Sv-Splugin-off:url("data:image/svg+xml;utf8,<svg fill='rgb(144, 140, 134)' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M20.4 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133-0.133-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333zM16.533 17.2c0.133-0.133 0.133-0.267 0.133-0.4s0-0.267-0.133-0.4l-3.333-3.333c-0.133 0-0.267-0.133-0.4-0.133-0.267 0-0.533 0.267-0.533 0.533 0 0.133 0 0.267 0.133 0.4l3.067 2.933-3.067 2.933c-0.133 0.133-0.133 0.267-0.133 0.4 0 0.267 0.267 0.533 0.533 0.533 0.133 0 0.267 0 0.4-0.133l3.333-3.333z'/></svg>") no-repeat left -10px top -6px;
    /*——————————————————————————————————————————————————————————————*/
}


.sy__file .b3-list--background:nth-child(4n-3) [data-type="navigation-root"]>.b3-list-item__toggle>.b3-list-item__arrow{
	color:#f67563;
}
.sy__file .b3-list--background:nth-child(4n-2) [data-type="navigation-root"]>.b3-list-item__toggle>.b3-list-item__arrow{
	color:#ff9b1e;
}
.sy__file .b3-list--background:nth-child(4n-1) [data-type="navigation-root"]>.b3-list-item__toggle>.b3-list-item__arrow{
	color:#64bbaa;
}
.sy__file .b3-list--background:nth-child(4n) [data-type="navigation-root"]>.b3-list-item__toggle>.b3-list-item__arrow{
	color:#49adbb;
}

/*.protyle-wysiwyg .h1{
	color:var(--h1-list-graphic);
}
.protyle-wysiwyg .h2{
	color: #8a7da0;
}
.protyle-wysiwyg .h3{
	color:var(--h3-list-graphic);
}
.protyle-wysiwyg .h4{
	color:var(--h4-list-graphic);
}
.protyle-wysiwyg .h5{
	color:#b6a277;
}
.protyle-wysiwyg .h6{
	color:var(--h6-list-graphic);
}*/


#savorToolbar #buttonSavor-light svg{
    color: var(--b3-theme-on-surface);
}

