/*数据库*/
.av__celltext--ref{
	font-weight:600;
}
.av__cell .b3-chip[data-type="block-more"],.av__cell .b3-chip[data-type="block-ref"]{
	padding: 4px!important;
    background-color: var(--b3-theme-background)!important;
    color: var(--b3-theme-on-surface);
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
	border-bottom:none!important;
}
.av__gallery-fields{
	.av__cell .b3-chip[data-type="block-more"],.av__cell .b3-chip[data-type="block-ref"]{
		top: 2px!important;
	}
}
.av__header{
    display: grid;
	.layout-tab-bar .item__graphic{
		padding: 6px 4px 4px 7px;
	}
}
[data-type="av-search-icon"] +div{
	font-size: 90%;
	& svg{
		right: 5px;
	}
}
.protyle-hint .b3-text-field{
	margin:5px 8px 4px 0px!important;
}

.av__panel{
	.b3-chip {
		margin:0 5px 0 0;
		border-radius:6px;
	}
	.b3-menu .b3-chips input {
		height: 24px;
		padding: 0;
		border-radius: 5px;
	}
	.b3-menu .b3-chips+div:not(:empty){
		margin-top: 5px;
	}
}

.custom-attr__avvalue .b3-chip,.av__cell .b3-chip, .b3-menu__label .b3-chip{
	border-radius:6px;
}
.custom-attr__avvalue .b3-chip[style*="color1)"],.av__cell .b3-chip[style*="color1)"],.av__panel .b3-chip[style*="color1)"],[data-name="av-col-option"] .color__square[style*="color1)"],.b3-menu__label .b3-chip[data-color="1"]{
	background-color:var(--b3-font-background3)!important;
	color:var(--Sv-font-color3)!important;
}
.custom-attr__avvalue .b3-chip[style*="color2)"],.av__cell .b3-chip[style*="color2)"],.av__panel .b3-chip[style*="color2)"],[data-name="av-col-option"] .color__square[style*="color2)"],.b3-menu__label .b3-chip[data-color="2"]{
	background-color:var(--b3-font-background13)!important;
	color:var(--Sv-font-color13)!important;
}
.custom-attr__avvalue .b3-chip[style*="color3)"],.av__cell .b3-chip[style*="color3)"],.av__panel .b3-chip[style*="color3)"],[data-name="av-col-option"] .color__square[style*="color3)"],.b3-menu__label .b3-chip[data-color="3"]{
	background-color:var(--b3-font-background12)!important;
	color:var(--Sv-font-color12)!important;
}
.custom-attr__avvalue .b3-chip[style*="color4)"],.av__cell .b3-chip[style*="color4)"],.av__panel .b3-chip[style*="color4)"],[data-name="av-col-option"] .color__square[style*="color4)"],.b3-menu__label .b3-chip[data-color="4"]{
	background-color:var(--b3-font-background11)!important;
	color:var(--Sv-font-color11)!important;
}
.custom-attr__avvalue .b3-chip[style*="color5)"],.av__cell .b3-chip[style*="color5)"],.av__panel .b3-chip[style*="color5)"],[data-name="av-col-option"] .color__square[style*="color5)"],.b3-menu__label .b3-chip[data-color="5"]{
	background-color:var(--b3-font-background10)!important;
	color:var(--Sv-font-color10)!important;
}
.custom-attr__avvalue .b3-chip[style*="color6)"],.av__cell .b3-chip[style*="color6)"],.av__panel .b3-chip[style*="color6)"],[data-name="av-col-option"] .color__square[style*="color6)"],.b3-menu__label .b3-chip[data-color="6"]{
	background-color:var(--b3-font-background9)!important;
	color:var(--Sv-font-color9)!important;
}
.custom-attr__avvalue .b3-chip[style*="color7)"],.av__cell .b3-chip[style*="color7)"],.av__panel .b3-chip[style*="color7)"],[data-name="av-col-option"] .color__square[style*="color7)"],.b3-menu__label .b3-chip[data-color="7"]{
	background-color:var(--b3-font-background8)!important;
	color:var(--Sv-font-color8)!important;
}
.custom-attr__avvalue .b3-chip[style*="color8)"],.av__cell .b3-chip[style*="color8)"],.av__panel .b3-chip[style*="color8)"],[data-name="av-col-option"] .color__square[style*="color8)"],.b3-menu__label .b3-chip[data-color="8"]{
	background-color:var(--b3-font-background7)!important;
	color:var(--Sv-font-color7)!important;
}
.custom-attr__avvalue .b3-chip[style*="color9)"],.av__cell .b3-chip[style*="color9)"],.av__panel .b3-chip[style*="color9)"],[data-name="av-col-option"] .color__square[style*="color9)"],.b3-menu__label .b3-chip[data-color="9"]{
	background-color:var(--b3-font-background6)!important;
	color:var(--Sv-font-color6)!important;
}
.custom-attr__avvalue .b3-chip[style*="color10)"],.av__cell .b3-chip[style*="color10)"],.av__panel .b3-chip[style*="color10)"],[data-name="av-col-option"] .color__square[style*="color10)"],.b3-menu__label .b3-chip[data-color="10"]{
	background-color:var(--b3-font-background5)!important;
	color:var(--Sv-font-color5)!important;
}
.custom-attr__avvalue .b3-chip[style*="color11)"],.av__cell .b3-chip[style*="color11)"],.av__panel .b3-chip[style*="color11)"],[data-name="av-col-option"] .color__square[style*="color11)"],.b3-menu__label .b3-chip[data-color="11"]{
	background-color:var(--b3-font-background4)!important;
	color:var(--Sv-font-color4)!important;
}
.custom-attr__avvalue .b3-chip[style*="color12)"],.av__cell .b3-chip[style*="color12)"],.av__panel .b3-chip[style*="color12)"],[data-name="av-col-option"] .color__square[style*="color12)"],.b3-menu__label .b3-chip[data-color="12"]{
	background-color:var(--b3-font-background2)!important;
	color:var(--Sv-font-color2)!important;
}
.custom-attr__avvalue .b3-chip[style*="color13)"],.av__cell .b3-chip[style*="color13)"],.av__panel .b3-chip[style*="color13)"],[data-name="av-col-option"] .color__square[style*="color13)"],.b3-menu__label .b3-chip[data-color="13"]{
	background-color:var(--b3-font-background1)!important;
	color:var(--Sv-font-color1)!important;
}

.av__title{
	padding: 5px 0px 5px 6px;
	order: 1;
    font-size: 1.4em;
	&:empty::after{
		opacity: 0.4;
	}
}
.av__mask .b3-text-field:not(#searchInput, #replaceInput, #searchAssetInput,.b3-text-field--text){
	background-color: var(--Sv-theme-surface);
	box-shadow: inset 0 0 0 .6px var(--b3-scroll-color);
	&:hover{
		background-color: var(--Sv-theme-surface) !important;
	}
	
}

.av__gallery-img{
    background-color: var(--b3-theme-background);
}
.av__gallery-item:hover .av__gallery-cover .av__gallery-img{
    background-color: unset;
}



.av__views{
    box-shadow: none!important;
    order: 2;
    border: none;
    .layout-tab-bar{
        border: none;
    }
    .item{
        min-height: 32px;
        border-radius: 8px;
        padding: 0 4px;
        margin: 0 4px 0px 0;
    &:hover{
        background-color: var(--Sv-breadcrumb-hover);
        }
    }
    .item--focus{
        box-shadow: none!important;
        background-color: var(--Sv-breadcrumb-hover);
        &::after{
            display: none;
        }
    }
}

.av__gallery-item{
    border-radius: 8px;
}
.av__gallery-cover{
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid var(--Sv-theme-surface);
}


.av__gallery,.av__gallery--top,.av__body{
    margin-top: 10px;
}


.av__panel .b3-menu__item[data-type=nobg]{
    padding-right: 0px!important;
}



