/* 引述 */
.protyle-wysiwyg .bq{
    color: var(--Sv-bq-color);
    background-color: transparent;
}
.protyle-wysiwyg .bq:before{
    background-color: var(--Sv-bq-color);
}
.list .bq {
	margin-right:0px!important;
}/*列表里代码块对齐*/
.bq[style*="background1)"]{
	border: none;
    background-color: var(--Sv-bq-background1)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background1) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background2"]{
	border: none;
    background-color: var(--Sv-bq-background2)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background2) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background3"]{
	border: none;
    background-color: var(--Sv-bq-background3)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background3) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background4"]{
	border: none;
    background-color: var(--Sv-bq-background4)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background4) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background5"]{
	border: none;
    background-color: var(--Sv-bq-background5)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background5) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background6"]{
	border: none;
    background-color: var(--Sv-bq-background6)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background6) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background7"]{
	border: none;
    background-color: var(--Sv-bq-background7)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background7) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background8"]{
	border: none;
    background-color: var(--Sv-bq-background8)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background8) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background9"]{
	border: none;
    background-color: var(--Sv-bq-background9)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background9) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background10"]{
	border: none;
    background-color: var(--Sv-bq-background10)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background10) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background11"]{
	border: none;
    background-color: var(--Sv-bq-background11)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background11) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background12"]{
	border: none;
    background-color: var(--Sv-bq-background12)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background12) inset;
    &:before{
        display: none;
    }
}
.bq[style*="background13"]{
	border: none;
    background-color: var(--Sv-bq-background13)!important;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--b3-font-background13) inset;
    &:before{
        display: none;
    }
}