/* ————————————————————面包屑———————————————————— */
.protyle-breadcrumb{
	padding: 6px 8px 7px 8px;
	/*border-top: 1px solid var(--b3-border-color2);*/
	margin-left: 1px;
}
.block__popover .protyle-breadcrumb{
	padding: 6px 8px 0px 8px;
	margin-bottom: -10px;
}
.protyle-breadcrumb__item--active{
	background-color: transparent;
	color: var(--b3-theme-on-surface);
}
.protyle-breadcrumb__item:not(:first-child).protyle-breadcrumb__item--active>svg{
	color: var(--b3-theme-background) ;
	background-color: var(--b3-block-icon-active)!important;
}

.protyle-breadcrumb__text{
	margin-left: 6px;
	font-size:90%;
}
/*.protyle-breadcrumb__item:not(:last-child)::after {
    content: "/";
    display: flex;
    margin: 0 8px;
    color: var(--b3-protyle-breadcrumb-arrow);
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    line-height: 26px;
}*/

.protyle-breadcrumb__arrow{
	width: 0px;
	height: 13px;
	margin-top:1px;
	transform: rotate(22deg);
	border-left: 1px solid var(--b3-protyle-breadcrumb-arrow);
}
.protyle-breadcrumb>.block__icon:not(.ft__primary):hover,
.protyle-breadcrumb__icon:hover,.protyle-breadcrumb__item:hover,
.protyle-breadcrumb>.b3-tooltips__w:hover{
	background-color: var(--b3-list-background);
}



.protyle-breadcrumb__item:first-child>svg.popover__block{
	background: url("/appearance/themes/Savor/img/page-facing-up.png") no-repeat center;
	background-size: 1em 1em;
	color:transparent!important;
}
.protyle-breadcrumb__item:not(:first-child)>svg.popover__block{
	height: 10px;
    width: 10px;
	padding:4px;
	border-radius:3px;
	background-color: var(--b3-list-background);
}

/*退出聚焦按钮 */
.protyle-breadcrumb__icon[data-type="exit-focus"]{
	font-weight: 700;
	border-radius: 6px;
    background-color: var(--b3-block-icon-active);
    color: var(--b3-theme-background) !important;
    box-shadow: rgb(15 15 15 / 10%) 0px 1px 2px;
	height:24px;
}
.protyle-breadcrumb__icon[data-type="exit-focus"]:hover{
	border-radius: 6px!important;
	background-color:var(--b3-font-color12)!important;
}



.protyle-breadcrumb .block__icon--show[data-type="more"] {
	width: 24px;
	height: 24px;
	border-radius:6px;
	box-shadow: none;
	padding:6px;
	margin:0px;
}
.protyle-breadcrumb .block__icon--show[data-type="more"] svg{
	width:13px;
	height: 13px;
}


