/* ————————————————————面包屑———————————————————— */
.protyle-breadcrumb{
	padding: 4px 8px 5px 8px;
	border-top: 1px solid var(--b3-border-color2);
}
.block__popover .protyle-breadcrumb{
	padding: 6px 8px 0px 8px;
	margin-bottom: -10px;
}
.protyle-breadcrumb__item--active,.protyle-breadcrumb__item--active>svg,
.protyle-breadcrumb__item--active>svg.ft__primary+span{
	color: var(--b3-theme-primary)!important;
	background-color: transparent;
}
.protyle-breadcrumb__item,.protyle-breadcrumb__icon{
    padding: 5px;
	margin: 0px;
}
.protyle-breadcrumb__text{
	margin-left: 6px;
}
/*.protyle-breadcrumb__item:not(:last-child)::after {
    content: "/";
    display: flex;
    margin: 0 8px;
    color: var(--b3-protyle-breadcrumb-arrow);
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    line-height: 26px;
}*/

.protyle-breadcrumb__arrow{
	width: 0px;
	height: 13px;
	margin-top:1px;
	transform: rotate(22deg);
	border-left: 1px solid var(--b3-protyle-breadcrumb-arrow);
}
.protyle-breadcrumb>.block__icon:not(.ft__primary):hover,
.protyle-breadcrumb__icon:hover,.protyle-breadcrumb__item:hover,
.protyle-breadcrumb>.b3-tooltips__w:hover{
	background-color: var(--b3-list-background);
	border-radius: 3px;
}
/*面包屑更多*/
.protyle-breadcrumb>.block__icon:not(.ft__primary) svg{
	color: var(--b3-breadcrumb-svg)!important;
	width: 19px;
	height: 19px;
	padding: 3px 1px;
}
.protyle-breadcrumb>.b3-tooltips__w{
	padding: 0 4px;
}
