/* ————————————————————dock栏———————————————————— */
.dock{
	background-color: var(--S-dock-background);
}

.dock#dockLeft{
	width: var(--S-dock-item-width);
	border: none;
	padding-bottom:8px;
}
.dock#dockRight{
	width: var(--S-dock-item-width);
	border: none;
	padding-bottom:42px;
}
.dock#dockLeft .dock__item{
	color: var(--S-dock-color);
	margin: 7px 0 7px 8px;
}
.dock#dockRight .dock__item{
	color: var(--S-dock-color);
	margin: 7px 8px 7px 0;
}
.dock#dockLeft .dock__item--active{
	color: var(--b3-theme-on-background);
	background-color: var(--S-dockleft-item-active-background);
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
.dock#dockRight .dock__item--active{
	color: var(--b3-theme-on-background);
	background-color: var(--S-dockleft-item-active-background);
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}

.dock#dockLeft .dock__item:first-child,.dock#dockRight .dock__item:first-child{
	margin-top: 0px;
}
.dock#dockLeft .dock__item:last-child,.dock#dockRight .dock__item:last-child{
	margin-bottom: 0px;
}
.dock__item svg{
	width: 12px;
}
.dock__item {
	padding:6px 7px;
	border-radius: 6px;
}
.dock#dockLeft .dock__item:hover,
.dock#dockRight .dock__item:hover{
	background-color: var(--S-dock-item-hover-background);
	transition: all 300ms;
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}

/*dock焦点状态*/
.dock__item--activefocus{
	background-color: var(--S-dock--item--activefocus)!important;
	color:var(--b3-theme-background)!important;
}

/* 底dock栏 */
.dock#dockBottom{
	border-top:none;
	height: 32px;
	padding: 0 40px;
	background-color: var(--S-toolbar-background);
}

#dockBottom .fn__flex-1{
	flex: 0;
}
#dockBottom .dock__item{
	margin: 0 7px 7px 0;
	padding: 6px 7px;
}
.dock#dockBottom .dock__item--active{
	color: var(--b3-theme-on-background);
    background-color: var(--S-dockleft-item-active-background);
    box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
.dock#dockBottom .dock__item:hover{
    background-color: var(--S-dock-item-hover-background);
    transition: all 300ms;
    box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}

.layout__dockb.layout--float{
	bottom:40px!important;
	margin-left:41px;
	margin-right:41px;
	border-radius:6px;
	overflow:hidden;
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
.layout__dockb.layout--float[style*="bottom: 26px"]{
	bottom:8px!important;
	margin-left:8px;
	margin-right:8px;
}