/* ————————————————————编辑区———————————————————— */
/*头图、图标、标签*/

.protyle-background__iconw{
	margin-left:6px;
}
.protyle-background__icon{
	margin-bottom:10px;
	border-radius:5px;
}
.protyle-background__icon:not(.fn__none)+.protyle-icons {
	margin-left:-99px;
	margin-bottom:-48px;
}

.protyle-background__iconw .protyle-icons .b3-tooltips{
	display:inline-flex;
	height:28px;
	border-radius:5px;
	padding:0 6px 0 0;
	margin:0 2px;
	color:var(--b3-icons-tooltips);
	background-color:transparent;
}

.protyle-background__iconw .protyle-icons .b3-tooltips svg{
	width:12px!important;
	height:12px!important;
	padding:2px!important;
	margin:6px!important;
	display:inline-flex;
	color: var(--b3-theme-background);
	background-color: var(--b3-icons-tooltips);
	border-radius:3px;
	opacity:0.6;
}
.protyle-background__iconw .protyle-icons .b3-tooltips::after{
	display:inline-flex;
	height:28px;
	font-size:12px;
	line-height:28px;
	transform:none;
	opacity:1;
	color:var(--b3-icons-tooltips);
	background-color:transparent;
	position:static;
	margin:0;
	padding:0;
	box-shadow: none;
}
.protyle-background .protyle-icons .b3-tooltips input{
	width:100% !important;
}/*上传按钮*/
.protyle-background__iconw .protyle-icons .b3-tooltips:hover{
	background-color:var(--b3-icons-tooltips-hover);
}

.protyle-background .protyle-background__icon svg{
	width:78px;
	height:78px
}
.protyle-background .protyle-background__icon:hover{
	background-color:var(--b3-icons-tooltips-hover);
	opacity:1;
}
.protyle-background:hover >.protyle-background__iconw >.protyle-icons{
	opacity:1
}
.protyle-background .protyle-icons  .b3-tooltips::before{
	border:none
}/*取消箭头*/

/*头图选项*/
.protyle-background__img .protyle-icons{
	background-color:transparent;
	left: auto;
	right:max(calc((100% - min(1920px, max(1500px, 46.9vw))) / 2), 103px);
	opacity:0;
	border-radius:3px;
}
.protyle-background__img .protyle-icons .b3-tooltips{
	display:inline-flex;
	height:28px;
	padding:0 10px 0 6px!important;
	color:var(--b3-img-icons-tooltips);
}
.protyle-background__img .protyle-icons .b3-tooltips svg{
	width:12px;
	height:12px;
	padding:8px 6px 0 2px;
	display:inline-flex
}
.protyle-background__img .protyle-icons .b3-tooltips::after{
	display:inline-flex;
	height:28px;
	font-size:12px;
	line-height:28px;
	transform:none;
	transition:none;
	opacity:1;
	color:var(--b3-img-icons-tooltips);
	background-color:transparent;
	position:static;
	margin:0;
	padding:0;
	box-shadow: none;
}

.protyle-background__img .protyle-icons>span{
	color:var(--b3-img-icons-tooltips);
	background-color:var(--b3-img-icons-tooltips-bg);
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;

}
.protyle-background__img .protyle-icons .b3-tooltips:hover,.protyle-background__img.protyle-icons>span:hover{
	background-color:var(--b3-fn__flex-shrink-background);
	color:var(--b3-img-icons-tooltips);
}

.protyle-background__img .protyle-icons>span:not(span[data-type='cancel']):not(span[data-type='confirm']):not(span[data-type='link']):not(span[data-type='random']):not(span[data-type='position']):not(span[data-type='remove']):not(span[style*="relative"])
{
	background-color: var(--b3-img-icons-span);
	color:var(--b3-theme-background);
	padding:5px 20px;
}/*上下移动题图提示语*/

.protyle-background .protyle-background__img:hover .protyle-icons{opacity:1;}
/*选项块透明度*/


/*文档标签*/

.b3-chips{
	right:76px;
	float:right;
	z-index:10;
}
.b3-chips .b3-chip{
	margin: 15px 3px 3px 3px;
	border-radius: 6px;
	padding: 2px 6px 3px 6px;
}
.b3-chips .b3-chip:last-child{
	margin-right: 15px;
}
.b3-chip__close{
	width:0;
}
.b3-chip:hover .b3-chip__close,.b3-chip__close:hover{
	width:14px;
}
.protyle-background[style*="30vh"]>.b3-chips{
	float:right;
	margin-top:30vh;
}


.body--window .protyle-background[style*="30vh"]>.b3-chips{
	float:right;
	margin-top:24vh;
}
/*文档标题块*/
.protyle-title__input{
	font-weight:700;
	font-size: 40px;
}
/*h1~6标题间距*/
.protyle-wysiwyg .h1,.protyle-wysiwyg .h2,
.protyle-wysiwyg .h3,.protyle-wysiwyg .h4,
.protyle-wysiwyg .h5,.protyle-wysiwyg .h6{
	font-weight:700;
	margin-top: 1.2em;
    margin-bottom: .4em;
}
.sb[fold="1"] .h1,.sb[fold="1"] .h2,
.sb[fold="1"] .h3,.sb[fold="1"] .h4,
.sb[fold="1"] .h5,.sb[fold="1"] .h6{
	margin-top: 0em;
}
/*.protyle-wysiwyg[data-doc-type="NodeDocument"]>[data-type="NodeHeading"]{
	margin-top: 0em;
}*/
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h1,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h2,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h3,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h4,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h5,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h6{
	margin-top: 0em!important;
    margin-bottom: 0.2em!important;
}
/*块标*/ 
.protyle-gutters button svg {
    color: var(--b3-gutters-color);
	padding:0 5px;
	border-radius:6px;
	height: 24px!important;
}
.protyle-gutters button[data-type="fold"] svg {
	padding:0px 7px;
}
.protyle-gutters button svg:hover {
	background-color: var(--b3-gutters-background);
}
.protyle-gutters button{
	padding:5px 0px;
}
.protyle-gutters{
	transition: all 200ms ease-out;
}
/*块右上角引用数*/
.protyle-attr--refcount{
	height: 20px;
    width: 20px;
    padding: 0;
    line-height: 20px;
	text-align: center;
}
/* 超级块 */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"],
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="row"],
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]>div,
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="row"]>div{
	margin-bottom: 5px;
	border-radius: 3px;
}
.protyle-wysiwyg [data-node-id].sb[data-sb-layout=col]>div:not(:nth-last-child(2)),
.protyle-wysiwyg [data-node-id].sb[data-sb-layout=col] .sb:not(:nth-last-child(2)){
	margin-right:5px;
}

/* 图片圆角 */
.protyle-wysiwyg img{
	border-radius: 3px;
}
/* 文字弹出工具条 */
.protyle-toolbar{
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; 
	animation: toolbar 0.2s ease-in-out;
	border:none;
}

.protyle-toolbar__item{
	height:30px;
    width:30px;
	padding-top:3px;
}
.protyle-toolbar__item:not(.protyle-toolbar__item--current){
	color:var(--b3-theme-on-background);
}

.protyle-toolbar__item:hover {
	background-color: var(--b3-toolbar-item-hover);
}
.protyle-toolbar__divider{
	margin:0px;
}
.protyle-util{
	animation: menu 0.2s ease-in-out;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	border:none;
	background-color: var(--b3-theme-background);
}
/* 引用弹出搜索菜单 */
.protyle-hint{
	padding:0 5px;
	animation: menu 0.2s ease-in-out;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	border:none;
	background-color: var(--b3-theme-background);
}
.protyle-hint .b3-list-item{
	margin:5px 0px;
	width:100%!important;
}

/* 弹出工具条字体颜色选择 */
.color__square[data-type="style1"]{
	 border-radius: 3px;
	 width:22px;
	 height:22px;
	 font-size:1.3em;
	 font-weight: 500;
	 box-shadow: 0 0 0 1px var(--b3-color--square) inset;
}
.color__square[data-type="color"]{
	 border-radius: 3px;
	 width:22px;
	 height:22px;
	 background-color:transparent!important;
	 font-size:1.3em;
	 font-weight: 500;
	 box-shadow: 0 0 0 1px var(--b3-color--square) inset;
}
/*.b3-color__square[style="background-color:var(--b3-font-color1)"]::before{
	 color:var(--b3-font-color1);
}
.b3-color__square[style="background-color:var(--b3-font-color2)"]::before{
	 color:var(--b3-font-color2);
}
.b3-color__square[style="background-color:var(--b3-font-color3)"]::before{
	 color:var(--b3-font-color3);
}
.b3-color__square[style="background-color:var(--b3-font-color4)"]::before{
	 color:var(--b3-font-color4);
}
.b3-color__square[style="background-color:var(--b3-font-color5)"]::before{
	 color:var(--b3-font-color5);
}
.b3-color__square[style="background-color:var(--b3-font-color6)"]::before{
	 color:var(--b3-font-color6);
}
.b3-color__square[style="background-color:var(--b3-font-color7)"]::before{
	 color:var(--b3-font-color7);
}
.b3-color__square[style="background-color:var(--b3-font-color8)"]::before{
	 color:var(--b3-font-color8);
}
.b3-color__square[style="background-color:var(--b3-font-color9)"]::before{
	 color:var(--b3-font-color9);
}
.b3-color__square[style="background-color:var(--b3-font-color10)"]::before{
	 color:var(--b3-font-color10);
}
.b3-color__square[style="background-color:var(--b3-font-color11)"]::before{
	 color:var(--b3-font-color11);
}
.b3-color__square[style="background-color:var(--b3-font-color12)"]::before{
	 color:var(--b3-font-color12);
}
.b3-color__square[style="background-color:var(--b3-font-color13)"]::before{
	color:var(--b3-font-color13);
}*/
.color__square[data-type="backgroundColor"]{
	 border-radius: 3px;
	 width:22px;
	 height:22px;															   
	 box-shadow: 0 0 0 1px var(--b3-color--square) inset;
}
.color__square[data-type="backgroundColor"]::before{
	 content: "A";
	 color:var(--b3-theme-on-background);
}
.color__square:hover{
	box-shadow: 0 0 0 1px var(--b3-theme-on-background) inset;
}
.color__square[style="background-color:var(--b3-font-color1)"]::before,
.color__square[style="background-color:var(--b3-font-color2)"]::before,
.color__square[style="background-color:var(--b3-font-color3)"]::before,
.color__square[style="background-color:var(--b3-font-color4)"]::before,
.color__square[style="background-color:var(--b3-font-color5)"]::before,
.color__square[style="background-color:var(--b3-font-color6)"]::before,
.color__square[style="background-color:var(--b3-font-color7)"]::before,
.color__square[style="background-color:var(--b3-font-color8)"]::before,
.color__square[style="background-color:var(--b3-font-color9)"]::before,
.color__square[style="background-color:var(--b3-font-color10)"]::before,
.color__square[style="background-color:var(--b3-font-color11)"]::before,
.color__square[style="background-color:var(--b3-font-color12)"]::before,
.color__square[style="background-color:var(--b3-font-color13)"]::before,
.color__square[data-type="backgroundColor"]::before{
	content: "A";
	opacity:1;
	width:22px;
	height:22px;
	transform:unset;
	right:unset;
	bottom:-5px;
	margin-right:unset;
	border-bottom-color:transparent;
	margin-top:-1px;
	font-weight: 500;
	font-size:1.3em;
}
/* 无序列表 */
.protyle-wysiwyg [data-node-id].li>.protyle-action{
	color: var(--b3-theme-on-background);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:after, .protyle-wysiwyg [data-node-id].li>.protyle-action:hover:after{
    background-color: var(--b3-border-color)!important;
}
/* 有序列表 */
.protyle-wysiwyg [data-node-id].li[data-subtype="o"]>.protyle-action--order:after{
	 padding:0px 4px 6px 4px;
	 margin:-1em 0 0 -0.7em;
	 height:1.6em;
}
.protyle-wysiwyg div[fold="1"].li[data-subtype="o"]>.protyle-action--order:after{
	 background: url("/appearance/themes/Savor/img/square.svg") no-repeat center!important;
	 transition:none;
}
.protyle-wysiwyg [data-node-id].li[data-subtype="o"]>.protyle-action--order:hover:after{
	 background: url("/appearance/themes/Savor/img/square.svg") no-repeat center!important;
	 transition:none;
}
/* 任务列表 */
.protyle-task--done svg{
    color: var(--b3-theme-primary);
}
.protyle-task--done:hover svg{
    color: var(--b3-task-done-hover);
}
.protyle-wysiwyg [data-node-id].li>.protyle-action--task:hover:after{
	display:none;
}
/*.protyle-task--done>.protyle-action--task>svg{
	animation: checkbox 0.2s ease-in;
}*//*勾选动画*/
/* 表格 */
.b3-typography table, .protyle-wysiwyg table{
	font-weight:500;
}

.protyle-wysiwyg div.table[data-node-id] table {
    width: auto;
}
.protyle-wysiwyg table tbody tr td{
	background-color:var(--b3-theme-background);
}
/*页面宽度*/
.protyle-wysiwyg div.table[data-node-id][custom-f~=full] table{
	font-weight:500;
	width: 100%;
	display: table;
}
.protyle-wysiwyg [data-node-id][custom-f~=full] colgroup{
	border-style:unset;
}


/* 自定义表格宽度 */
/*.protyle-wysiwyg div.table[data-node-id]{
    width: calc(100% - 8px);
}*/
.protyle-wysiwyg div.table[data-node-id][custom-f~=auto] table {
    width: auto;
}
.protyle-wysiwyg [data-node-id][custom-f~=auto] table {
    width: auto !important;
    white-space: pre;
}
/* 表头和表行格式一致 */
.protyle-wysiwyg [data-node-id][custom-t~=biaotou] table th {
    font-weight: normal !important;
    color: inherit !important;
    background-color: var(--b3-theme-background) !important;
}
/* 冻结表头样式 */
.protyle-wysiwyg div.table[data-node-id][custom-t~=dongjie] table {
  /* 表格滚动条 */
	display: inline-block;
	overflow-y: auto!important;
	max-height: 50vh;
	width:unset;
	border-radius:0px;
}
.protyle-wysiwyg div.table[data-node-id][custom-t~=dongjie] table > thead {
	position: sticky;
	top: 0px;
	z-index: 1;
}
/* 竖表头格式 */
.protyle-wysiwyg [data-node-id][custom-t~=vbiaotou] table th {
    font-weight: normal !important;
    color: inherit !important;
    background-color: var(--b3-theme-background) !important;
}
.protyle-wysiwyg [data-node-id][custom-t~=vbiaotou] table tr th:first-child,
.protyle-wysiwyg [data-node-id][custom-t~=vbiaotou] table tr td:first-child{
    font-weight: bold !important;
    background-color: var(--b3-theme-surface) !important;
}

/* 标签 */
.protyle-wysiwyg span[data-type="tag"] {
	font-size: 90%;
	border-radius: 3px;
	padding:0px 6px 2px 6px;
	color: var( --b3-theme-on-background)!important;
	border-bottom:none !important; 
	background-color:var(--b3-font-background7);
}

/*块引用*/
.protyle-wysiwyg [data-node-id] span[data-type*="block-ref"]:not([data-type="virtual-block-ref"]):not([data-type*="sup"]):not([data-type*="sub"]){
	font-size: 95%;
	padding:0px 5px 1px 5px;
	color:var(--b3-theme-on-background);
	background-color:var(--b3-block-ref-background);
	border-bottom: 1px dashed var(--b3-theme-on-surface);
}
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover{
	background-color:var(--b3-list-background-focus);
}
/*上标块引*/
.protyle-wysiwyg [data-node-id] span[data-type*="block-ref"][data-type*="sup"],.protyle-wysiwyg [data-node-id] span[data-type*="block-ref"][data-type*="sub"]{
	font-size:65%;
	color:var(--b3-theme-background);
	background-color:var(--b3-theme-on-background);
	border-radius:5px;
	padding: 1px 4px 2px 4px;
	border-bottom:none;
}
/* 超链接 */
.protyle-wysiwyg [data-node-id] span[data-type~=a]{
	color: var(--b3-theme-on-surface);
	border-bottom:1px solid var(--b3-border-color);
}
/*上标链接*/
.protyle-wysiwyg [data-node-id] span[data-type*="a"][data-type*="sup"],.protyle-wysiwyg [data-node-id] span[data-type*="a"][data-type*="sub"]{
	font-size:65%;
	border-radius:5px;
	padding: 1px 4px 2px 4px;
	border: 1px solid var(--b3-border-color);
}
.protyle-wysiwyg [data-node-id] span[data-type*="a"][data-type*="sup"]:hover,.protyle-wysiwyg [data-node-id] span[data-type*="a"][data-type*="sub"]:hover{
	border:1px solid var(--b3-theme-on-background);
}
.protyle-wysiwyg [data-node-id] span[data-type~=a]:hover{
	color: var(--b3-theme-on-background);
	border-bottom:1px solid var(--b3-theme-on-background);
}
/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"]{
    color: var( --b3-theme-on-background);
    background-color: var(--b3-theme-surface-light);
	border-radius:0 5px 5px 0;
}
/* 命名，别名，备注*/
.protyle-attr--name,.protyle-attr--alias,.protyle-attr--memo{
	color: var(--b3-font-color3);
	font-size:90%;
	padding:0 3px;
	width:auto;
}
/*代码块*/
.code-block {
	margin-left:4px!important;
	margin-right:4px!important;
}
.list .code-block {
	margin-right:0px!important;
}/*列表里代码块对齐*/
.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
	background-color:var(--b3-code-block-hljs);
	padding: 30px 10px 22px 10px;
}
.protyle-wysiwyg[contenteditable="true"] .code-block .protyle-action{
	padding:4px 3px;
}
.code-block .protyle-action .protyle-action__language{
	height:16px;
	line-height:14px;
	border-radius:3px;
	padding:4px;
}
.b3-typography .code-block .protyle-action .protyle-action__language, .protyle-wysiwyg .code-block .protyle-action .protyle-action__language{
	margin-top: -2px;
}
.code-block .protyle-action .protyle-action__language:hover{
	background-color:var(--b3-list-background);	
}
.code-block .protyle-action .protyle-action__copy,.code-block .protyle-action .protyle-action__menu{
	margin-top:-3px;
	color:var(--b3-icons-tooltips);
	background-color:var(--b3-list-background);
}
.code-block .protyle-action .protyle-action__copy:hover,
.code-block .protyle-action .protyle-action__menu:hover{
	background-color:var(--b3-list-background-focus);
}
.protyle-linenumber__rows{
	background-color: var(--b3-linenumber-rows);
	padding: 30px 4px 22px 4px;
}
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li):not([data-type="NodeHeading"]).code-block{
	height: 2.2em;
}
/*行内代码*/
.fn__code, .b3-typography code:not(.hljs), .b3-typography span[data-type~=code], .protyle-wysiwyg code:not(.hljs), .protyle-wysiwyg span[data-type~=code]{
	color:var(--b3-inline-code);
}
/*折叠样式*/
.protyle-wysiwyg div[fold="1"]:not(div[data-type="NodeListItem"]){
	background-color:var(--b3-fn__flex-shrink-background);
	border-radius:5px;
	border:1px solid var(--b3-border-fold);
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:before{
	background-color:transparent;
}

/*pdf批注*/
.protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:before {
    content:"💡 ";
}
.protyle-wysiwyg span[data-type="file-annotation-ref"] {
  font-size: 90%;
  border-radius: 3px;
  padding:2px 6px 4px 6px;
  color: var( --b3-theme-on-background)!important;
  background-color:var(--b3-toolbar-item-hover);
}
.protyle-wysiwyg span[data-type="file-annotation-ref"]:hover {
  background-color:var(--b3-border-color);
}

/*备注*/
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: var(--b3-theme-primary-lightest);
    border-bottom: 2px solid var(--b3-theme-primary);
}
.tooltip--memo{
	font-size:14px;
	color:var(--b3-theme-on-background);
	background-color:var(--b3-theme-background);
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	padding:10px;
}







/*分栏大纲*/
.layout__center .file-tree>.block__icons+.b3-list-item{
	margin-top:-5px!important;
	opacity:0;
}/*对齐alt o大纲树*/
.layout__center .layout-tab-container:has(.sy__outline){
	background-color:var(--b3-theme-background);
}


/* iframe调节控件 */
.protyle-action__drag{
	background-color:var(--b3-theme-on-surface)!important;
}
.iframe .protyle-action__drag:after{
	background-color:var(--b3-theme-on-surface)!important;
}





