.protyle-wysiwyg {
    .h1, .h2, .h3, .h4, .h5, .h6 {
        & > [spellcheck]:not(:empty) {
            display: inline-block;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                margin-left: 0.2em;
                height: 1.2em;
                width: 1.2em;
                right: -1.3em;
                pointer-events: none;
            }
        }
    }
    
    .h1 > [spellcheck]:not(:empty)::before { background: var(--h1-r-graphic);background-size: 100% 100%; }
    .h2 > [spellcheck]:not(:empty)::before { background: var(--h2-r-graphic);background-size: 100% 100%; }
    .h3 > [spellcheck]:not(:empty)::before { background: var(--h3-r-graphic);background-size: 100% 100%; }
    .h4 > [spellcheck]:not(:empty)::before { background: var(--h4-r-graphic);background-size: 100% 100%; }
    .h5 > [spellcheck]:not(:empty)::before { background: var(--h5-r-graphic);background-size: 100% 100%; }
    .h6 > [spellcheck]:not(:empty)::before { background: var(--h6-r-graphic);background-size: 100% 100%; }
}