/* ————————————————————弹出菜单&设置菜单———————————————————— */
.b3-menu{
	box-shadow: var(--Sv-menu-shadow);
	background-color: var(--Sv-menu-background);
	border:none;
	border-radius: var(--Sv-layout-radius);
	padding: 4px 0;
    .b3-menu__items{
        padding: 0 4px;
        .b3-menu__item:not(.submenu-inline){
            &:not([data-type=nobg]):hover,&.b3-menu__item--current:not(.b3-menu__item--readonly){
                background-color: var(--Sv-menu-item-hover);
            }
        }
    }
    .b3-menu__submenu{
        background-color:var(--Sv-menu-background);
        box-shadow: var(--Sv-menu-shadow);
        border:none;
        border-radius: var(--Sv-layout-radius);
        padding: 4px 0;
        margin-top: 4px;
    }
    .b3-menu__icon--small{
        margin-right:-4px;
    }
    .b3-menu__accelerator{
        color:var(--Sv-menu-accelerator);
    }/*快捷键提示*/
    .b3-menu__separator{
        height: 0.5px;
    }
}


/*快捷键面板*/
#keymapList .b3-list--border .b3-list__panel:before{
	left: -16px;
}

/* 按钮 */
.b3-button--outline,.b3-button--text:not(.ft__selectnone,.bk_label),.b3-button.fn__block{
    font-weight:700;
	background-color:var( --Sv-button-background);
	color: var(--Sv-button-color);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    &:hover,&:focus{
        background-color: var(--Sv-button-background-hover);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    }
    svg{
        height: 14px;
        width: 14px;
    }
}
.b3-button--cancel{
    font-weight:700;
	background-color: var(--Sv-button-cancel);
	color: var(--b3-theme-on-background);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    &:hover,&:focus{
        background-color: var(--b3-theme-surface-lighter);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    }
    svg{
        height: 14px;
        width: 14px;
    }
}

/* 开关 */
.b3-switch {
	height: 18px;
	width: 30px;
	border-radius: 44px;
	border: none;
    &:hover{
        box-shadow: 0 0 0 3px oklch(calc(var(--b3-theme-surface-base-l)*0.8) var(--b3-theme-surface-base-ch) / 0.1);
    }
    &:after {
        box-shadow: none;
        width: 12px;
        height: 12px;
        border-radius: 44px;
        background: var(--b3-theme-background);
        transform: translate(-4px,3px);
        top: 0px;
        border: none;
    }
    &:before{
        display: none !important;
    }
    &:checked:after {
        background: var(--b3-theme-background)!important;
        transform: translate(-2px,3px);
    }
}



/*引用块弹出框*/
.block__popover--open{
	border:none;
	box-shadow: var(--b3-dialog-shadow);
    .block__icons--menu{
        background-color: oklch(var(--b3-theme-surface-base-l) var(--b3-theme-surface-base-ch) / 0.6);
        padding: 0 4px;
        height: 34px;
        min-height: 34px;
    }
    .protyle,.protyle-breadcrumb{
        background-color: var(--b3-theme-background);
    }
}
.block__popover .protyle-wysiwyg>[data-node-id].li[fold="1"]>div:nth-child(3):not(.protyle-attr){
	display: block;
}/*弹窗列表不折叠*/

/* 选择下拉菜单、输入框  */
.b3-text-field:not(#searchInput, #replaceInput, #searchAssetInput,.b3-text-field--text,.search__label){
	box-shadow: none;
	background-color: var(--Sv-select-field);
    &:hover{
        background-color: var(--Sv-list-focus-hover)!important;
        box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px inset!important;
    }
    &:focus:hover{
            box-shadow: inset 0 0 0 1px var(--b3-theme-primary), 0 0 0 3px var(--b3-theme-primary-lightest)!important;
    }
}
.b3-select,.b3-select:hover{
    box-shadow: none;
}


/* 移动文档菜单 */

/* —————— 设置、搜索界面 —————— */
.b3-dialog--open[data-key="dialog-setting"],
.b3-dialog--open[data-key="dialog-search"],
.b3-dialog--open[data-key="dialog-replace"],
.b3-dialog--open[data-key="dialog-globalsearch"]{
    .b3-dialog__scrim{
        backdrop-filter: blur(2px);
        }
}
.b3-dialog{
    .b3-dialog__scrim{
    background-color: var(--Sv--dialog-scrim);
    }
    .b3-dialog__container{
        border: none;
        border-radius: 10px;
        background-color: var(--Sv--dialog-container);
        /*.b3-label:not(.b3-label--inner) {
            box-shadow: 0 15px 0 0 var(--b3-theme-background), 0 15.5px 0 0 var(--b3-border-color);
        }这个影响太多 暂时不能加*/
        .b3-tab-bar{
            margin: 5px 0 5px 5px;
            /*background-color: var(--Sv--dialog-tab-bar);*/
            .config__tab-hr{
                margin: 16px 8px;;
            }
            .b3-list-item{
                &:hover,&.b3-list-item--focus{
                background-color: var(--Sv-list-background)!important;
                }
                &.b3-list-item--focus:hover{
                background-color: var(--Sv-list-focus-hover)!important;
                }
                &.b3-list-item--focus .b3-list-item__text{
                    font-weight: 600;
                    color: var(--b3-theme-on-background)!important;
                }
            }
            .b3-list-item__graphic{
                color: var(--Sv-list-item-color)
            }
        }
        .config__tab-wrap{
            margin: 5px 5px 5px 0px;
            border-radius: 6px;
            height: unset;
            .config__tab-container {
            &[data-name="bazaar"],&[data-name="image"]{
                background-color: var(--Sv--dialog-container);
            }
            & .b3-label :where(.fn__flex-1,.fn__block,.fn__flex-center):not(.ft__on-surface,.b3-button,.b3-form__icon,.fn__size200,ul,input):first-child,& :where(.b3-label,.config__ite)::first-line{
                font-weight: 600;
            }
            & .config-query .fn__flex-1, & .b3-label__text, & .b3-label :where(a,code,.ft__on-surface):not(.b3-button--outline) {
                font-weight: 400 !important;
            }
            .layout-tab-bar{
                background-color: transparent;
                border: none;
                height: 43px;
                margin-bottom: -6px;
                .item:not(.item--readonly){
                    min-height: 33px;
                    border-radius: 6px;
                    overflow: unset !important;
                    /*background-color: var(--Sv-bazaar-item);*/
                    margin: 0 10px 10px -5px;/*消除鼠标滚轮左右浮动*/
                    transition:none;
                    &:last-child{
                        margin-right: 0px;
                    }
                    &:first-child{
                        margin-left: 0px;/*消除鼠标滚轮左右浮动*/
                    }
                    &:hover{
                        background-color: var(--Sv-bazaar-focus); 
                    }
                    &.item--focus{
                        background-color: var(--Sv-tab-bar-item-background-focus);
                        border-radius: var(--Sv-tab-bar-item--focus-radius);
                            &::after{
                                background-color:transparent;
                                top: 27px;
                                height: 10px;  
                                left: calc(-1 * var(--Sv-dock-item-radius) - 2px) ;
                                border-radius: 0;
                                width: calc(100% + var(--Sv-dock-item-radius)*2 + 4px);
                                transition: var(--b3-transition);
                                background-image: var(--Sv-tab-bar-item-focus-after);
                                background-size: 12px 12px,12px 12px,
                                calc(100% - var(--Sv-dock-item-radius)*2 - 4px) calc(100% + var(--Sv-dock-item-radius)*2 + 8px);
                                background-position: right bottom, left bottom, center top;
                                background-repeat: no-repeat;
                                box-shadow: var(--Sv-tab-bar-item-background-focus) 0 8px 0 0;
                            }
                            & .item__text {
                                font-weight: 700;
                            }
            
                    }
                }
            }
        }
            .fn__hr--b:not(.resize__move){
                height: 11px;
            }
            [data-name="bazaar"]/*集市*/{
                .b3-card--wrap {
                    min-width: 300px;
                }

            .config-bazaar__panel{
                background-color: var(--Sv-bazaar-focus); 
                border-radius: 8px 8px 0 0;
            }
            }
        }
        .config-assets{
            background-color: var(--Sv-bazaar-focus); 
            border-radius: 8px;
        }
        .config-bazaar__title{
            padding: 12px 16px 8px 16px;;
            background-color: var(--Sv-bazaar-focus); 
	        backdrop-filter:none;
        }
    
        .config-bazaar__panel[data-type=downloaded]{
            .b3-button{
                background-color: var(--Sv-bazaar-item);
                height:24px;
                margin-top:4px;
                padding: 4px 6px;
                clip-path: inset(-4px );
                box-shadow: 0 0 0 50px var(--Sv-bazaar-item);
                transition:none;
                color:var(--b3-theme-on-background);
                font-weight: 500;
            }
            .b3-button:not(.b3-button--outline){
                background-color:var(--b3-theme-background);
                color:var(--b3-theme-on-background);
                font-weight: 700;
                box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12),0 0 0 50px  var(--Sv-bazaar-item);
            }
            .b3-button[data-type="install-all"]{
                box-shadow: none;
                margin-top: 0px;
                background-color: #ee6f5b;
                color: #fff;
            }
            [data-type="myPlugin"]{
                clip-path: inset(-4px round 6px 0 0 6px);
            }
            [data-type="myWidget"]{
                clip-path: inset(-4px round 0 6px 6px 0);
                & ~ .b3-form__icon .b3-text-field{
                    padding: 6px 8px;
                }
                & ~ .b3-form__icon .b3-form__icon-icon{
                    top: 8px;
                }
                & + .fn__space{
                    width: 16px;
                }
            }            
            .config-bazaar__content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
            gap: 0px;
            width: auto;
            margin-top: 0px;
            margin-right: 6px;
            margin-bottom: 6px;
            .b3-card {
                display: grid;
                grid-template-columns: 90px 1fr;
                margin: 6px 0 0 6px;
                box-shadow: none;
                background-color: var(--Sv-select-field);
                &:hover{
                    box-shadow: var(--Sv-card-current-shadow);
                }
            }
            .b3-card__info{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            /*.b3-card__desc{
                display: block;
            }*/
            .b3-card__actions{
                position: absolute;
                top: 70px;
                right: 0px;
            }
        }
        }
    }
    .config-bazaar__content {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 0px;
        width: auto;
        margin-top: 0px;
        margin-bottom: 6px;
        .b3-card {
            display: grid;
            grid-template-columns: 90px 1fr;
            margin: 6px 0 0 6px;
            box-shadow: none;
            background-color: var(--Sv-select-field);
            &:hover{
                box-shadow: var(--Sv-card-current-shadow);
            }
        }
        .b3-card--current{
            box-shadow: var(--Sv-card-current-shadow);
        }
        .b3-cards>.fn__flex-1{
            margin-left: 6px!important;
            min-width: 300px!important;
        }
    }
}

#configBazaarReadme{
    background-color: var(--Sv-theme-surface);
    padding: 5px 5px 5px 0;
    .item__main{
        background-color: var(--b3-theme-background);
        border-radius: 6px;
        margin-left: 0px;
        .b3-typography{
            margin-left: 20px;
            margin-right: 20px;
            &:not(.item__readme){
                background-color: var(--Sv-bq-background7) !important;
                border-radius: 5px;
                box-shadow: 0 0 0 2px var(--b3-font-background7) inset;
            }
            blockquote::before{
                display: none;
            }
        }
    }
    .item__side{
        padding: 0 24px;
        [data-type="goBack"]{
            margin-left: -20px;
        }
    }
    .item__side>.ft__on-surface {
        font-weight: 600;
        color: var(--b3-theme-on-background)
    }
    .item__side>.ft__on-surface::first-line {
        font-weight: normal;
        color: var(--b3-theme-on-surface)
    }
}



[data-key="dialog-history"]{
    .b3-dialog__scrim{
        backdrop-filter: blur(2px);
        }
    .b3-dialog__container{
        background-color: var(--Sv--dialog-container);
        padding: 6px;
        border-radius: 12px;
    }
    #historyContainer{
        background-color: var(--b3-theme-background);
        border-radius: 6px;
    }
    .layout-tab-bar{
        background-color: transparent;
        border: none;
        height: 43px;
        margin-bottom: -6px;
        &+.fn__flex-1{
            background-color:  var(--Sv--dialog-container);
        }
        .item:not(.item--readonly){
            min-height: 33px;
            border-radius: 6px;
            overflow: unset !important;
            /*background-color: var(--Sv-bazaar-item);*/
            margin: 0 10px 10px -5px;/*消除鼠标滚轮左右浮动*/
            transition:none;
            &:last-child{
                margin-right: 0px;
            }
            &:first-child{
                margin-left: 0px;/*消除鼠标滚轮左右浮动*/
            }
            &:hover{
                background-color: var(--Sv-bazaar-focus); 
            }
            &.item--focus{
                background-color: var(--Sv-tab-bar-item-background-focus);
                border-radius: var(--Sv-tab-bar-item--focus-radius);
                    &::after{
                        background-color:transparent;
                        top: 27px;
                        height: 10px;  
                        left: calc(-1 * var(--Sv-dock-item-radius) - 2px) ;
                        border-radius: 0;
                        width: calc(100% + var(--Sv-dock-item-radius)*2 + 4px);
                        transition: var(--b3-transition);
                        background-image: var(--Sv-tab-bar-item-focus-after);
                        background-size: 12px 12px,12px 12px,
                        calc(100% - var(--Sv-dock-item-radius)*2 - 4px) calc(100% + var(--Sv-dock-item-radius)*2 + 8px);
                        background-position: right bottom, left bottom, center top;
                        background-repeat: no-repeat;
                        box-shadow: var(--Sv-tab-bar-item-background-focus) 0 8px 0 0;
                    }
                    & .item__text {
                        font-weight: 700;
                    }
    
            }
        }
    }
}


/*登录页面*/
[data-name="account"]{
    background-color: var(--Sv--dialog-container);
    .config-account__center--text{
        overflow: visible;
    }
   .config-account__center:not(.config-account__center--text){
    background-color: var(--b3-theme-background);
    height: 400px;
    margin: auto 30px;
    border-radius: 20px;
    box-shadow:rgba(0, 0, 0, 0.03) 0px 12px 32px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: relative;
    z-index: 2;
    .config-account__bg{
        margin-bottom: 20px;
        min-height: 208px;
        .config-account__cover{
            border-radius: 20px 20px 0 0;
        }
    }
    .config-account__info{
        margin-top: 40px;
    }
   }
}

.config-account__center{
	background-color:transparent;
    .b3-chip::before {
        display:none;
    }
    .config-account__svg{
        margin-left:-120%;
        svg{
            width:30px;
            height:30px;
            padding:16px;
            margin:0px;
            opacity:0.1;
            transition: all 2000ms ease-out;
            &:hover{
                opacity:1;
                transition: all 100ms ease-out;
            }
        }
    }
}



/* pdf */
#sidebarContainer,#viewerContainer{
	top:40px;
    .thumbnail{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
    }
}
.pdfViewer{
	background-color:var(--Sv-theme-surface);
    border-radius: 6px;
}
#toolbarViewer{
	padding:5px 5px 5px 8px;
	height:40px;
    background-color: var(--b3-theme-background);
}
#sidebarResizer {
    margin: 0 -0.5px;
    right: -3px;
    &:after{
        width: 5px;
        border-radius: 3px;
        background-color: var(--Sv-layout--resize);
    }
    &:hover:after{
        background-color: var(--Sv-layout--resize-hover);
    }
}


/* '/'弹出分栏*/
.hint--menu{
	box-shadow: var(--Sv-menu-shadow);
    background-color: var(--Sv-protyle-toolbar-bg);
	padding:5px;
	border:none;
	border-radius: 6px;
    &>div{
        min-width: 50vw;
        column-width: 180px;
        column-rule:1px outset var(--b3-border-color);
        /*column-fill:auto;
        max-height: 402px !important;*/
    }
    .b3-list-item{
        margin:0!important;
        width:100%!important;
    }
    .b3-list-item__text{
        color:var(--b3-theme-on-background);
    }
    .b3-list-item__graphic,.color__square {
        margin:0px;
        width:10px;
        height:12px;
        border:1px solid var(--b3-border-color);
        padding: 2px 3px;
        border-radius: 3px;
        box-shadow:none;
        & + .b3-list-item__text{
            margin-left: 8px;
        }
    }
    .b3-menu__accelerator,.b3-list-item__meta{
        color: var(--Sv-scroll-color-hover);
    }
}
.hint--menu>.emojis{
	min-width: unset;
}

.hint--menu>.b3-list-item--two{
	margin:0;
}
@media screen and (min-width: 1280px){
	.hint--menu .b3-list-item--two{
	width:calc(25% - 5px);
}
	.hint--menu{
	max-height: 600px !important;
	}
}
@media screen and (max-width: 1280px) {
	.hint--menu>div{
	columns:unset;
}
}
.emojis{
    width: 366px!important;
}
.emojis__panel{
    padding-right: 0px;
}
.emojis__item {
    height: 32px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 32px;
    font-size: 22px;
    margin: 0 3px 4px 0;
    img,svg.custom-icon {
        margin: 0;
        width: 18px;
        height:18px;
        padding: 7px;
        display: block;
    }
    &:hover{
        font-size: 24px;
    }
}


/*滚动条*/
::-webkit-scrollbar {
    width : var(--webkit-scrollbar);
	height: var(--webkit-scrollbar);
	background-color:transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: var(--webkit-scrollbar-thumb);
	background-color:var(--Sv-scroll-color);
	box-shadow: none;
}
::-webkit-scrollbar-thumb:hover{
    background-color:var(--Sv-scroll-color-hover);
}
.b3-slider::-webkit-slider-runnable-track {
    height: 2px;
	background-color: var(--Sv--slider-thumb)!important;
}
.b3-slider::-webkit-slider-thumb {
	transform:unset !important;
    width: 7px;
    height: 7px;
	margin-top: -2px;
    background-color: var(--b3-theme-background)!important;
	box-shadow: 0px 0px 0px 3px var(--Sv--slider-thumb)!important;
}
.b3-slider.fn__size200::-webkit-slider-runnable-track {
	background-color: var(--b3-theme-primary)!important;
}
.b3-slider.fn__size200::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px 3px var(--b3-theme-primary)!important;
}
.b3-slider::-webkit-slider-thumb:hover{
	box-shadow:0px 0px 0px 3px var(--b3-theme-primary),0px 0px 0px 5px var(--b3-theme-primary-lighter)!important;
	transition:all 300ms;
}



/*闪卡*/
.card__main{
    .b3-button{
        font-weight: 700;
        box-shadow: 0 4px 9px rgba(0, 0, 0, .05), 0 1.5px 2.8px rgba(0, 0, 0, .07), 0 0.3px 0.7px rgba(0, 0, 0, .12);
    }
    .b3-button:not(.b3-button--cancel){
        color: var(--Sv-button-cancel);
    }
    .b3-button--error{
        background-color:var(--b3-font-color12)!important;
    }
    .b3-button--warning{
        background-color:var(--b3-font-color5)!important;
    }
    .b3-button--info{
        background-color:var(--b3-font-color8)!important;
    }
    .b3-button--success{
        background-color:var(--b3-font-color7)!important;
    }
}
.card__main.fullscreen{
	z-index:11;
}

.card__block--hidemark span[data-type~=mark]{
	border:none!important;
	font-size: 0px!important;
	padding:0!important;
}/*闪卡挖空样式*/



[data-key="dialog-snippets"] .b3-dialog__body{
    margin: 5px;
    overflow:hidden;
    .layout-tab-bar{
        background-color: var(--Sv--dialog-container);
        border: none;
        overflow: unset !important;
        &+.fn__flex-1{
            border-radius: 6px;
            background-color: var(--b3-theme-background);
        }
        .item:not(.item--readonly){
            border-radius: 6px;
            overflow: unset !important;
            &.item--focus{
                background-color: var(--Sv-tab-bar-item-background-focus);
                border-radius: var(--Sv-tab-bar-item--focus-radius);
            &::after{
                background-color:transparent;
                top: 32px;
                height: 10px;  
                left: calc(-1 * var(--Sv-dock-item-radius) - 2px) ;
                border-radius: 0;
                width: calc(100% + var(--Sv-dock-item-radius)*2 + 4px);
                transition: var(--b3-transition);
                background-image: var(--Sv-tab-bar-item-focus-after);
                background-size: 12px 12px,12px 12px,
                calc(100% - var(--Sv-dock-item-radius)*2 - 4px) calc(100% + var(--Sv-dock-item-radius)*2 + 8px);
                background-position: right bottom, left bottom, center top;
                background-repeat: no-repeat;
                box-shadow: var(--Sv-tab-bar-item-background-focus) 0 8px 0 0;
            }
            & .item__text {
                font-weight: 700;
            }
        }
    }
}
}



[data-name="topBarPlugin"]{
    .b3-menu__icon--small,.submenu-inline .b3-menu__label{
        display: none;
    }
}
[data-name="topBarPlugin"] {
    .b3-menu__item{
        padding: 0 0 0 8px;
    }}
.submenu-inline{
    width: 30px;
    background-color:transparent;
}