/* ————————————————————弹出菜单&设置菜单———————————————————— */
.b3-menu{
	animation: menu 0.2s ease-in-out;
	box-shadow: var(--b3-menu-shadow);
	background-color:var(--b3-theme-background);
	border:none;
	border-radius:6px;
}

.b3-menu__item{
	background-color: var(--b3-theme-background);
}
.b3-menu .b3-menu__submenu{
	background-color:var(--b3-theme-background);
	box-shadow: var(--b3-menu-shadow);
	border:none;
	border-radius:6px;
}

.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom){
	background-color:var(--S-list-background);
}
.b3-menu__item--current:not(.b3-menu__item--readonly){
	background-color:var(--b3-list-hover);
}

.b3-menu__separator{
	color:var(--b3-scroll-color-hover);
	box-shadow: 4px 0 0px var(--b3-list-hover),-4px 0 0px var(--b3-list-hover);
}

.b3-menu .b3-menu__icon--arrow{
	margin-right:-8px;
}
.b3-menu__accelerator{
	color:var(--b3-scroll-color-hover);
	margin-right:-4px;
}/*快捷键提示*/
.b3-menu__accelerator:has(+.b3-menu__icon--arrow){
	margin-right: 4px;
}
.b3-list-item--big{
	padding: 14px 24px;
	border-radius: 0px;
	margin: 4px 8px;
}

.b3-dialog__container{
	border:none;
}


.b3-dialog__container .config__panel>.b3-tab-bar .b3-text-field{
	box-shadow: inset 0 0 0 0.2px var(--b3-theme-on-surface-light);

}

.b3-dialog__container .config__panel>.b3-tab-bar .b3-text-field:focus{
	box-shadow: inset 0 0 0 1px var(--b3-theme-primary),0 0 0 3px var(--b3-theme-primary-lightest);
}
/*.b3-dialog__container:not([style*="auto"]){
	height: 70vh!important;
}*/
@media (min-width: 750px){
.b3-dialog__container .config__panel>.b3-tab-bar{
	padding:8px 12px;
}
}

.b3-dialog__container .config__panel>.b3-tab-bar .b3-list-item{
	height: 32px;
	line-height: 30px;
	margin:4px 8px;
}

.b3-dialog__container .fn__flex .b3-label{
	margin: 0 20px;
}
.b3-dialog__container .config__panel>.b3-tab-bar .b3-list-item__graphic{
	color: var(--b3-theme-on-surface);
}

.b3-dialog__container .config__panel>.b3-tab-bar .b3-list-item--focus .b3-list-item__graphic{
	color: var(--b3-theme-on-background)!important;
}
/*快捷键面板*/
#keymapList .b3-list--background{
	margin:5px 0;
	border-radius: 3px;
}
#keymapList .b3-list-item.toggle{
	margin:0!important;
}
#keymapList .b3-list--border .b3-list__panel:before{
	left: -15px;
}
/* 按钮 */
.b3-button--outline,.b3-button:not(.b3-button--cancel),#searchInclude.b3-button:not(.b3-button--cancel){
	font-weight:700;
	background-color:var(--b3-button);
	color: var(--b3-theme-background);
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
.b3-button--outline:hover, .b3-button--outline:focus,.b3-button:hover{
	background-color: var(--b3-theme-primary);
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}

.bazaarPanel .b3-button.b3-button--outline{
	font-weight:500;
	color:var(--b3-theme-on-background);
	border:none;
	background-color: var(--b3-theme-background);
    box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
/*消息确认按钮*/
.b3-button--cancel{
    background-color: var(--b3-theme-background);
    box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
.b3-button--cancel:hover{
	background-color: var(--S-fn__flex-shrink-background);
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
/* 开关 */
.b3-switch {
  height: 14px;
  width: 26px;
  padding: 1px;
  border-radius: 44px;
  box-sizing: content-box;
  background: var(--b3-border-color);
}

.b3-switch::after {
  border: none;
  box-shadow: none;
  width: 14px;
  height: 14px;
  border-radius: 44px;
  background: var(--b3-theme-background);
  transform: translateX(5px) translateY(4px);
}

.b3-switch::before {
  display: none !important;
}

.b3-switch:checked {
  background-color: var(--b3-theme-primary);
}

.b3-switch:checked:after {
  background: var(--b3-theme-background);
  transform: translateX(17px) translateY(4px);
}
/*引用块弹出框*/
.block__popover--open{
	border:none;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	animation: menu 0.2s ease-in-out;
}
.block__edit>.protyle-breadcrumb>.block__icon svg{
	color:var(--b3-theme-on-surface);
	width:14px;
	height:14px;
}
.block__popover--move>.block__icons{
	padding:0 10px;
}
.block__icon:hover:not([disabled]):not(.ft__primary), .block__icon--active{
	background-color: var(--S-list-background);
}
.block__popover .block__icon[data-type="close"] svg {
    padding: 0 2px;
}
.block__icons--menu {
    background-color: var(--S-fn__flex-shrink-background);
}
/* 弹出框钉住 */
.block__icon--active[data-type='pin'] svg{
    color: var(--b3-theme-primary)!important;
	transition: all 200ms;
	transform: rotate(-46deg);
}
.block__icon--active{
	background-color:transparent;
}
/* 选择下拉菜单 */
.b3-select{
	box-shadow: inset 0 0 0 1px var(--S-list-background);
	background-color: var(--S-list-background);
}
/* 输入框 */
.b3-text-field{
	box-shadow: inset 0 0 0 1px var(--S-list-background);
}
.b3-text-field:not(#searchInput):not(.fn__block):not(.fn__size200):not(#simpleSearchInput){
	background-color: var(--S-list-background);
}
/* 移动文档菜单 */
#foldList .b3-list-item__icon{
	padding-left:18px;
}
#foldList .b3-list-item__showall{
	padding-left:3px;
	color:var(--b3-theme-on-surface);
}
/*历史面板,集市*/
.b3-dialog__container .layout-tab-bar{
	height:40px;
	z-index:unset;
}
.b3-dialog__container .layout-tab-bar .item{
	padding: 2px 0px;
}
.b3-dialog__container .layout-tab-bar .item--focus{
	position:relative;
}
.b3-dialog__container .layout-tab-bar .item--focus::after{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0px;
	right: 0px;
	height: 2px;
	background-color:var(--S-item-focus);
}
div#historyContainer{
	border-top:1px solid var(--b3-border-color);
}
.bazaarPanel .counter{
	background-color:var(--S-list-background)!important;
}
/*已下载页面*/
.bazaarPanel[data-type="downloaded"] .fn__flex>.fn__space:first-child{
	width: 11px;
}

.bazaarPanel[data-type="downloaded"] .b3-button{
	background-color:var(--S-list-background);
	height:20px;
	margin-top:4px;
	padding: 4px 6px;
	clip-path: inset(-4px );
	box-shadow: 0 0 0 50px var(--S-list-background);
	transition:none;
}
.bazaarPanel[data-type="downloaded"] [data-type="myPlugin"]{
	clip-path: inset(-4px round 4px 0 0 4px);
}

.bazaarPanel[data-type="downloaded"] [data-type="myWidget"]{
	clip-path: inset(-4px round 0 4px 4px 0);
}

.bazaarPanel[data-type="downloaded"] .b3-button:not(.b3-button--outline){
	background-color:var(--b3-theme-background);
	color:var(--b3-theme-on-background);
	font-weight: 500;
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12),0 0 0 50px var(--S-list-background);
}
[data-type="myWidget"]+.fn__space{
	width: 16px;
}
#configBazaarDownloaded>.fn__flex{
	margin-top: -46px;
	margin-right:56px;
	width:50px;
	float:right;
}
/*登录页面*/
.config-account__center{
	background-color:transparent;
}
.config-account__center .b3-chip::before {
	display:none;
}
.config-account__center--text{
	overflow: visible;
}
.config-account__svg{
	margin-left:-100%;
}
.config-account__svg svg{
	width:30px;
	height:30px;
	padding:16px;
	margin:0px;
	opacity:0.1;
	transition: all 2000ms ease-out;
}
.config-account__svg svg:hover{
	opacity:1;
	transition: all 100ms ease-out;
}
/*最近打开文档*/
[data-key="⌘E"] .b3-list--background.fn__flex-1 .b3-list-item{
	margin: 2px 8px;
}
/*集市悬浮样式*/
.b3-card{
	box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
	border:none;
}

.b3-card--current{
	box-shadow: var(--b3-theme-primary-light) 0px 0px 0px 1px, var(--b3-theme-primary-light) 0px 2px 4px,0px 0px 0px 3px var(--b3-theme-primary-light) inset;
}
.b3-card--current .b3-card__info, .b3-card--current .b3-card__actions{
	background-color:transparent;
}

.b3-card:hover{
	box-shadow: var(--b3-theme-primary-light) 0px 0px 0px 1px, var(--b3-theme-primary-light) 0px 2px 4px;
	background-color:transparent;
}
/*pdf*/
.pdf__outer,#sidebarContainer,#toolbarViewer,#toolbarViewer>.fn__flex-1{
	background-color:var(--S-fn__flex-shrink-background);
}

#toolbarSidebar,#toolbarSidebar>.fn__flex-1{
	background-color:var(--b3-toolbarSidebar);
}
#sidebarContainer{
	top:40px;
}
.pdfViewer{
	background-color:var(--b3-theme-background);
}
.b3-color__square{
	 border-radius: 3px;
	 width:22px;
	 height:22px;											   
	 box-shadow: 0 0 0 1px var(--b3-border-color) inset;
	 font-weight: 500;
}
.b3-color__square[style*="--b3-pdf-background"]::before{
	 content: "A";
	 color:var(--b3-theme-on-background);
	 margin-top:-2px;
	 font-weight:500;
	 font-size:1.1em;
	}
#toolbarViewer{
	padding:5px 5px 5px 8px;
	height:40px;
}
#viewerContainer{
	top:40px;
}
#sidebarResizer{
	right: -3px;
}
/* '/'弹出分栏*/
.hint--menu{
	animation: menu 0.2s ease-in-out;
	box-shadow: var(--b3-menu-shadow);
    background-color: var(--b3-theme-background);
	padding:5px;
	border:none;
	min-width: 50vw;
	border-radius: 6px;
}
.hint--menu>div{
	columns: 50px 4;
	column-rule:1px outset var(--b3-border-color);
	/*column-fill:auto;
	max-height: 402px !important;*/
}
.hint--menu .b3-list-item{
	margin:0!important;
	width:100%!important;
}
.hint--menu .b3-list-item__text{
	margin:0 0 0 8px;	
	color:var(--b3-theme-on-background);
}
.hint--menu .b3-list-item__graphic,.hint--menu .color__square {
	margin:0px;
	width:10px;
	height:12px;
	border:1px solid var(--b3-border-color);
	padding: 2px 3px;
    border-radius: 3px;
	box-shadow:none;
}
.hint--menu>.b3-list-item--two{
	margin:0;
}
@media screen and (min-width: 1280px){
	.hint--menu .b3-list-item--two{
	width:calc(25% - 5px);
}
	.hint--menu{
	max-height: 412px !important;
	}
}
@media screen and (max-width: 1280px) {
	.hint--menu>div{
	columns:unset;
}
	.hint--menu{
	columns:unset;
	min-width: unset !important;
}
}
.protyle-hint.hint--menu:has(>.emojis) {
    min-width: 372px;
    width: 372px !important;
}
.protyle-hint.hint--menu>.emojis {
    column-span: all;
    width: 360px!important;
}
.emojis__item {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32px;
    font-size: 18px;
    margin: 0 4px 4px 0;
}
.emojis__item img, .emojis__item svg.custom-icon {
    margin: 0;
    width: 18px;
	height:18px;
    padding: 7px;
	display: block;
}
/*文本框选颜色*/
::selection{
	background-color:var( --b3-theme-primary-lightest);
}
/*滚动条*/
::-webkit-scrollbar {
    width : var(--webkit-scrollbar);
	height: var(--webkit-scrollbar);
	background-color:var(--b3-scroll-bgcolor);
}
::-webkit-scrollbar-thumb:hover{
    background-color:var(--b3-scroll-color-hover);
}
::-webkit-scrollbar-thumb{
	border-radius: var(--webkit-scrollbar-thumb);
	background-color:var(--b3-scroll-color);
}

.b3-slider::-webkit-slider-runnable-track {
    height: 3px;
}
.b3-slider::-webkit-slider-thumb {
	transform:unset !important;
    width: 7px;
    height: 7px;
	margin-top: -2px;
    background-color: var(--b3-theme-background);
	box-shadow: 0px 0px 0px 3px var(--b3-theme-primary) ;
}
.b3-slider::-webkit-slider-thumb:hover{
	box-shadow:0px 0px 0px 3px var(--b3-theme-primary),0px 0px 0px 5px var(--b3-theme-primary-lighter);
	transition:all 500ms;
}

/*闪卡*/
.b3-button--error{
	background-color:var(--b3-font-color12)!important;
}
.b3-button--warning{
	background-color:var(--b3-font-color5)!important;
}
.b3-button--info{
	background-color:var(--b3-font-color8)!important;
}
.b3-button--success{
	background-color:var(--b3-font-color7)!important;
}
.card__main.fullscreen{
	z-index:11;
}