.body--mobile{
    background-color: var(--Sv-theme-surface);
    .protyle-breadcrumb{
        padding: 6px;
    }
    .protyle-wysiwyg [data-node-id].sb[data-sb-layout=col]>[data-node-id]{
        flex: unset !important;
        width: unset !important;
    }
    .sb-resize-handle{
        display: none;
    }
    #savorToolbar button{
    &#tabbarVertical,&#topBar,&#colorFolder,&#typewriterMode,&#sidebarMemo{
        display: none;
    }
}
}
body>.toolbar--border{
    margin: 0px 6px;
    border: none;
    border-radius: 6px;
    background-color: var(--Sv-theme-surface);
}
#sidebar.side-panel{
	background-color: var(--Sv-theme-surface);
    &>.toolbar--border{
        margin: 0px 6px;
        border-radius: 6px;
        border: none;
        background-color: var(--Sv-theme-surface);
    }
}
.b3-list--mobile{
	 margin: 0px 10px;
	border-radius: 6px;
	& .toolbar--border{
        border: none;
		background-color: var(--b3-theme-background);
	}
	&>.fn__flex-column{
	height:unset;
	.fn__flex-1{
		background-color: var(--b3-theme-background);
	}
}
}
#menu.b3-menu--fullscreen{
    background-color: var(--Sv-theme-surface);
    padding: 0;
    &>.b3-menu__title{
        background-color: var(--Sv-theme-surface);
    }
    &>div{
        margin: 0px 10px;
        border: none;
        border-radius: 6px;
    }
    .b3-menu__items{
        padding: 0;
    }
    .b3-menu__item{
        border: none;
        &:last-of-type,&:has(+ .b3-menu__separator) {
            border-radius: 0 0 6px 6px;
        }
    }
    .b3-menu__separator{
        border: none;
        margin: 0;
        height: 10px;
		background-color: var(--Sv-theme-surface);
        & + .b3-menu__item{
            border-radius: 6px 6px 0 0;
        }
    }
}
#editor{
    margin: 0px 10px;
    border-radius: 6px;
}

