/* 手机端适配 */
.toolbar{
	margin-bottom:0px;
	padding: 0 6px 0 5px!important;
    border-bottom: 1px solid var(--b3-theme-surface-lighter);
}
#toolbarName{
	border-radius: 6px;
	box-shadow: inset 0 0 0 1px var(--b3-border-color);
}
#sidebar .toolbar__icon{
    height: 14px;
    width: 14px;
    padding: 6px;
}
.toolbar__text{
	font-size: 16px;
}
.toolbar__icon--active{
	background-color: var(--b3-block-icon-active);
	border-radius: 6px;
}
.protyle-breadcrumb {
    border-top: none;
}
.protyle-background__img img{
	height: 24vh;
}
.protyle-background--enable[style="min-height: 30vh;"]{
	min-height: 24vh!important;
}
.protyle-wysiwyg .h1, .protyle-wysiwyg .h2, .protyle-wysiwyg .h3, .protyle-wysiwyg .h4, .protyle-wysiwyg .h5, .protyle-wysiwyg .h6 {
    font-weight: 700;
    margin-top: .6em!important;
    margin-bottom: .2em!important;
}
[data-doc-type="NodeDocument"]{
	padding-top:0px!important;
}
.protyle-background{
	padding-bottom: 30px;
}
.protyle-background__img .protyle-icons{
	right: 20px;
}
.protyle-background__img .protyle-icons .b3-tooltips{
	padding: 0 2px 0 6px;
}
.protyle-background__iconw .protyle-icons .b3-tooltips svg {
    width: 14px;
    height: 14px;
    padding: 7px 0 0 0;
}
.protyle-background[style*="30vh"]>.protyle-background__iconw >.protyle-icons, .protyle-background[style*="64px"]>.protyle-background__iconw >.protyle-icons, .protyle-background[style*="56px"]>.protyle-background__iconw >.protyle-icons, .protyle-background[style*="103px"]>.protyle-background__iconw >.protyle-icons {
	left: 80px;
}
.protyle-background[style*="30vh"]>.protyle-background__iconw >.protyle-background__icon.fn__none+.protyle-icons, .protyle-background[style*="64px"]>.protyle-background__iconw >.protyle-background__icon.fn__none+.protyle-icons, .protyle-background[style*="56px"]>.protyle-background__iconw >.protyle-background__icon.fn__none+.protyle-icons, .protyle-background[style*="103px"]>.protyle-background__iconw > .protyle-background__icon.fn__none+.protyle-icons {
	left: 0px;
}

.protyle-background[style*="30vh"]>.protyle-background__iconw >.protyle-icons>.b3-tooltips, .protyle-background[style*="64px"]>.protyle-background__iconw >.protyle-icons>.b3-tooltips, .protyle-background[style*="56px"]>.protyle-background__iconw >.protyle-icons>.b3-tooltips, .protyle-background[style*="103px"]>.protyle-background__iconw >.protyle-icons>.b3-tooltips {
    margin-top: 45px;
}
.protyle-background--mobileshow .protyle-background__iconw>.protyle-icons, .protyle-background--mobileshow .protyle-background__img .protyle-icons, .protyle-background--mobileshow .protyle-background__tags .item svg {
    opacity: 1;
}
.protyle-background[style="min-height: 0px;"]{
	padding-bottom: 0px;
}
#keyboardToolbar{
	height:36px;
}




#menu .b3-list-item--big{
	padding: 10px 24px 16px 24px;
	border-bottom: 1px solid var(--b3-border-color2);
}

.b3-list--mobile .b3-list-item{
	margin: 0 8px 0 4px;
	line-height: 36px;
}
.b3-list--mobile .toolbar+.fn__flex-1{
	padding:8px 0;
}
.b3-list-item .counter:not(:empty){
	background-color: transparent;
}
.b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom){
	background-color:transparent;
}


.protyle-wysiwyg div.table[data-node-id] table {
    white-space: nowrap;
}