.list[data-subtype="o"]{
	counter-reset: o1 0 o2 0 o3 0;
}
.li[data-subtype="o"]{
    & & .protyle-action--order{
        color:transparent!important;
    }
    & & .protyle-action::after{
        color:var(--b3-theme-on-background);
    }
    &>.protyle-action::after{
        padding:3px 2px;
        width: 24px;
        display:flex;
        justify-content: center;
    }
    & &>.protyle-action::after{
        counter-increment: o2;
        content: counter(o2,lower-latin)".";
        position:absolute;
    }
    & & &>.protyle-action::after{
        counter-increment: o3;
        content: counter(o3,lower-roman)".";
        position:absolute;
    }
    & & & &>.protyle-action::after{
        counter-increment: o1;
        content: counter(o1,decimal)".";
        position:absolute;
    }
    & & & & &>.protyle-action::after{
        counter-increment: o2;
        content: counter(o2,lower-latin)".";
        position:absolute;
    }
    & & & & & &>.protyle-action::after{
        counter-increment: o3;
        content: counter(o3,lower-roman)".";
        position:absolute;
    }
    & & & & & & &>.protyle-action::after{
        counter-increment: o1;
        content: counter(o1,decimal)".";
        position:absolute;
    }
    & & & & & & & &>.protyle-action::after{
        counter-increment: o2;
        content: counter(o2,lower-latin)".";
        position:absolute;
    }
    & & & & & & & & &>.protyle-action::after{
        counter-increment: o3;
        content: counter(o3,lower-roman)".";
        position:absolute;
    }
    & & & & & & & & & &>.protyle-action::after{
        counter-increment: o1;
        content: counter(o1,decimal)".";
        position:absolute;
    }
    & & & & & & & & & & &>.protyle-action::after{
        counter-increment: o2;
        content: counter(o2,lower-latin)".";
        position:absolute;
    }
    & & & & & & & & & & & &>.protyle-action::after{
        counter-increment: o3;
        content: counter(o3,lower-roman)".";
        position:absolute;
    }
    & & & & & & & & & & & & &>.protyle-action::after{
        counter-increment: o1;
        content: counter(o1,decimal)".";
        position:absolute;
    }
    & & & & & & & & & & & & & &>.protyle-action::after{
        counter-increment: o2;
        content: counter(o2,lower-latin)".";
        position:absolute;
    }
    & & & & & & & & & & & & & & &>.protyle-action::after{
        counter-increment: o3;
        content: counter(o3,lower-roman)".";
        position:absolute;
    }
    & & & & & & & & & & & & & & & &>.protyle-action::after{
        counter-increment: o1;
        content: counter(o1,decimal)".";
        position:absolute;
    }
    & & & & & & & & & & & & & & & & &>.protyle-action::after{
        counter-increment: o2;
        content: counter(o2,lower-latin)".";
        position:absolute;
    }
    & & & & & & & & & & & & & & & & & &>.protyle-action::after{
        counter-increment: o3;
        content: counter(o3,lower-roman)".";
        position:absolute;
    }
}

