/* 搜索 */
.b3-dialog--open[data-key="dialog-search"] .b3-dialog__container,
.b3-dialog--open[data-key="dialog-replace"] .b3-dialog__container,
.b3-dialog--open[data-key="dialog-globalsearch"] .b3-dialog__container{
	/*box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;*/
    .fn__flex-column{
        & > .block__icons {
            min-height: 38px;
            margin-right: 8px;
            border: none;
        }
        .b3-form__icon.search__header{
            border-top:none;
            margin: 0 8px ;
            border-radius:8px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2), 0px .5px .5px .5px var(--b3-theme-background) inset;
            .block__icons{
                padding-left: 3px;
                border: none;
            }
            .block__icons svg{
                color: var(--b3-theme-on-background);
            }
            &+.b3-form__icon.search__header{
                margin-top: 7px;
            }
            .fn__flex-1{
                border-radius: 10px 10px 0 0;
            }
            #searchHistoryBtn,#replaceHistoryBtn,#assetHistoryBtn{
                margin-left: 5px;
                .search__arrowdown{
                    margin-left: 5px;
                }
            }
            #searchInput,#replaceInput,#searchAssetInput{
                padding: 5px 8px 5px 60px !important;
                background-color: transparent;
            }
            .b3-button{
				height: 28px;
				border-radius: 6px;
				background-color: var(--b3-theme-on-background);
				padding: 2px 8px;
            }
        }
    }
	#searchAssets{
		&>.search__layout{
			margin-top:10px;
			#searchAssetList{
            border-top: none;
			}
		}
	}
    #searchUnRefPanel{
        & > .block__icons{
            border-radius:0;
        }
    }
    .search__empty{
        box-shadow:none!important;
    }
    .search__layout--row{
        #searchList,#searchAssetList{
            border-radius: 8px;
            margin: 0 8px;
        }
        .search__drag{
            width: 8px;
            margin-left: -8px;
            margin-right: 0px;
            &::after{
                width: 8px;
                border-radius: 8px;
                background-color: transparent;
            }   
            &:hover::after{
                background-color: var(--b3-scroll-color);
            }
        }
        #searchPreview,#searchAssetPreview{
            border-radius: 8px;
            margin-right: 8px;
            border-left:none;
        }
    }
    .search__layout:not(.search__layout--row){
        #searchList,#searchAssetList{
            border-radius: 8px;
            margin: 0 8px;
        }
        .search__drag{
            height: 8px;
            margin-bottom: 0px;
            &::after{
                height: 8px;
                border-radius: 8px;
                background-color: transparent;
            }   
            &:hover::after{
                background-color: var(--b3-scroll-color);
            }
        }
        #searchPreview,#searchAssetPreview{
            border-radius: 8px;
            margin: 0 8px;
            border:none;
        }
    }
	#criteria {
        border-top:none;
        background-color: transparent;
        .search__list{
            padding-top:0;
        }
        
		.b3-button{
			height: 28px;
			border-radius: 8px;
			background-color:var(--b3-theme-on-background);
            padding: 2px 8px;
		}
		.b3-chips .b3-chip{
			height: 28px;
			margin-left: 4px;
            padding: 0 10px;
			border-radius: 8px;
            background-color: var(--b3-theme-background);
            &.b3-chip--primary, &.b3-chip--current {
                background-color: var(--b3-theme-primary);
                color: var(--b3-theme-on-primary);
            }
		}
	}
	.search__tip{
		background-color:var(--Sv-search-result-tip);
		border-radius: 0 0 10px 10px;
        border: none;
        padding: 5px 8px;
	}
	.search__tip kbd{
		border:none;
        border-radius: 4px;
        box-shadow: rgba(15, 15, 15, 0.07) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0 2px 1px;
        background-color: var(--Sv-kbd-background);
        font: 100%  "var(--b3-font-family)";
        padding:3px 5px;
	}
}


.b3-list-item[data-type="search-new"] {
    border-radius: 6px;
    height: 40px;
    margin: 6px 6px 0px 6px;
    padding: 0 16px 0 10px;
    background-color: var(--Sv-card--current) !important;
    box-shadow: var(--Sv-card-current-shadow) inset !important;
}


#searchList{
	padding-top: 0  ;
    &>.b3-list-item:not([data-type="search-item"]){
        margin: 6px;
    }
	&>.b3-list-item:is([data-type="search-item"]){
	flex-wrap: wrap;
	justify-content: flex-end;
	padding-right:0px;
	padding-bottom:4px;
	border-top:6px solid var(--b3-theme-background);
    border-left:6px solid var(--b3-theme-background);
    border-right:6px solid var(--b3-theme-background);
    border-radius: 12px;
    margin: 0px;
		&.b3-list-item--focus,&:hover{
			background-color: var(--Sv-select-field)!important;
		}
		&>.b3-list-item__graphic{
			position: absolute;
			margin-top: 8px;
			left:4px;
			top:0px;
		}
		&>.b3-list-item__graphic+.b3-list-item__graphic{
			position: absolute;
			margin-top: 8px;
			margin-left: 22px;
		}
		&>.b3-list-item__graphic+.b3-list-item__graphic+.b3-list-item__text{
			text-indent: 20px;
		}
		&>.b3-list-item__text{
			margin-left: 20px;
			padding:6px 6px 2px 5px;
			text-overflow: ellipsis !important;
			line-height: 1.3;
			-webkit-line-clamp:10;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: calc(100% - 28px);
		}
		&>.b3-list-item__meta--ellipsis{
			color:var(--Sv-list-meta-ellipsis);
			background-color: var(--Sv-list-background);
			font-size: .7rem;
			line-height: 20px;
			border-radius:4px;
			padding:0 4px;
			margin-right:4px;
			max-width:34vw;
			white-space:nowrap;
			overflow:hidden !important;
			text-overflow: ellipsis;
			&:before{
				font-size: 1em;
				line-height: 1;
				margin-right:2px;
				content: "🏷";
			}
			&.ariaLabel::before{
				content: "📄";
			}
		}
		&>.b3-list-item__meta.fn__flex{
			line-height:20px;
		}
	}
}


[data-key="dialog-searchtype"] .b3-dialog__content{
    display: grid;
    gap: 0px 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    .b3-label{
        border-bottom:none;
    }
    .fn__flex-1:last-child{
        overflow: visible;
        .b3-label__text{
        margin-right: -100px; 
        padding: 16px 24px;
    } } 
}
.search__layout:not(.search__layout--row) .search__list,.search__layout--row{
    border-top:none;
}