/* ————————————————————侧栏面板———————————————————— */
.layout__dockl,.layout__dockr{
	min-height:90%;
}
.layout-tab-container>.fn__flex-column {
    padding: var(--b3-flex-column-padding);
	min-height:90%;
}
/*.fn__flex-shrink:not([style*="width: 0px"]),.layout__center~.fn__flex-column:not([style*="width: 0px"]){
	min-width:210px;
}侧栏最小宽度*/

/*.fn__flex-column.fn__flex-shrink:before{
	content: "";
	position:absolute;
	width:calc(100% - 20px);
	left:10px;
    height: 1px;
	z-index:9;
	background-color:var(--b3-layout-resize);
}
.layout__center+.layout__resize--lr+.fn__flex-column{
	position:relative;
}
.layout__center+.layout__resize--lr+.fn__flex-column:after{
	content: "";
	position:absolute;
	width:calc(100% - 20px);
	right:10px;
    height: 1px;
	z-index:9;
	background-color:var(--b3-layout-resize);
}*/
/*侧栏滚动出现分割线
.layout-tab-container>.fn__flex-column>.fn__flex-1{
	background: linear-gradient(var(--b3-fn__flex-column-background), transparent 100%),
				linear-gradient(var(--b3-border-scroll), transparent 100%);
    background-size: 100% 30px, 100% 1px;
    background-repeat: no-repeat;
    background-attachment: local, scroll;
}*/

/*侧栏展开动画
#layouts>.fn__flex>.fn__flex-column>.fn__flex>div[data-type=wnd]>.layout-tab-container>.fn__flex-column{animation: flex-column  0.2s ease-in-out;}*/
/*面板标题*/
.file-tree .block__icons{
	height:30px; 
    padding: 0px 10px 4px 11px;
	min-height: unset;
}
.graph.file-tree .block__icons{
	padding-top:7px;
}
/*面板标题图标*/
.block__logo svg{
	width: 13px;
	height: 13px;
	padding: 4px;
	margin: 0px 4px 0px 0px;
	color: var(--b3-theme-on-background);
}
/*面板功能*/
.file-tree .block__icons>.block__icon svg,
.file-tree .block__icons>.fn__flex>.block__icon svg{
	padding: 3px 0px;
	color: var(--b3-block-icon-svg-color);
	margin:0px 3px
}
.file-tree .block__icons>.block__icon,.file-tree .block__icons>.fn__flex>.block__icon{
	padding: 0px;
	margin:-2px;
}
.file-tree .block__icons>.fn__flex>.block__icon[type="checkbox"]{
	margin:0px 0px 0px -8px;
}
.file-tree .block__icons .block__icon:hover{
	background-color: var(--b3-block-icon-hover);
	border-radius: 3px;
}
/*面板标题激活状态
.layout__tab--active .block__logo svg{
	background-color: var(--b3-block-icon-active);
}*/
/*
.block__icons.block__icons--active>.block__logo,
.block__icons.block__icons--active>.block__icon svg,
.block__icons.block__icons--active>.fn__flex>.block__icon svg{
	color: var(--b3-block-icon-active);
}
.block__icons--active{
	background-color: transparent;
}*/

.layout__tab--active .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom){
	background-color:var(--b3-list-hover);
}
/*面板列表项*/
.file-tree .b3-list-item{
	margin:0px 4px 2px 4px!important;
	line-height: 26px;
}
.b3-list-item{
	border-radius:var(--b3-list-item-radius);
}
.fn__flex>.fn__flex>.layout-tab-container>.fn__flex-column .b3-list-item{
	margin:0 4px;
	padding:1px 4px 1px 2px;
}
.b3-list-item__arrow{
	color:var(--b3-list-item-arrow);
	padding:5px;
    margin:0px 0px 0px 1px;
    border-radius: 3px;
}
.b3-list-item__icon{
	margin-left:-4px;
	height: 22px;
	width: 16px;
	font-size:14px;
	line-height:22px;
	padding: 0 3px;
}
.b3-list-item__icon svg,.b3-list-item__icon img{
	margin: 0px;
	padding: 3px 0px 2px 0px;
	border-radius: 3px;
}
.b3-list-item__graphic{
	padding: 3px 3px;
    border-radius: 3px;
}
.b3-list-item__toggle.fn__hidden:before {
	visibility: visible!important;
    content: "";  
	margin:0px -13px 0 10px;
    clip-path: circle(45% at center);
    width: 3px;
    height: 3px;
	background-color:var(--b3-list-item-arrow);
}
.b3-list-item__text{
	color:var(--b3-theme-on-surface);
}
.b3-list-item--hide-action .b3-list-item__action {
    height:20px;
	padding: 0 3px;
	margin-left:4px;
	border-radius: 3px;
	color:var(--b3-list-background-more);
}
/*新建文档*/

/*引用数*/
.b3-list-item .counter:not(:empty){
	height: 20px;
	line-height: 20px;
	text-align: center;
	min-width: 12px;
	border-radius: 3px;
	padding: 0 4px;
	margin-left: 4px;
	box-shadow: 0 0 0 1px var(--b3-border-color) inset;
}
/*面板列表项hover状态*/
.b3-list-item:hover,.b3-list-item__arrow:hover,
.b3-list-item__action:hover,.counter:not(:empty):hover,.b3-list-item__icon:hover{
    background-color: var(--b3-list-background)!important ;
}
.b3-list-item--focus:hover{
    background-color: var(--b3-list-background-focus)!important ;
}
.b3-list-item__toggle:hover{
	background-color: rgba(0, 0, 0, 0)!important;
}

/* 面板列表项 选中状态*/
.b3-list-item--focus .b3-list-item__text{   
	font-weight:600;
	color:var(--b3-theme-on-background)!important;
}
/*书签、标签树*/
.sy__bookmark>.fn__flex-1>ul>.b3-list-item>.b3-list-item__graphic,
.sy__bookmark ul ul li>.b3-list-item__graphic,
.sy__tag>.fn__flex-1>ul>.b3-list-item>.b3-list-item__graphic,
.sy__tag ul ul li>.b3-list-item__graphic{
	margin:0 0 0 -6px;
	width:10px;
	color: var(--b3-theme-on-surface);
	/*display:none;*/
}
/*.sy__tag>.fn__flex-1>ul>.b3-list-item>.b3-list-item__text:before,
.sy__tag ul ul li>.b3-list-item__text:before{
	visibility: visible!important;
    content: "# ";  
    color:var(--b3-list-item-arrow);
	padding-left:0px;
}*/
/*收集箱面板*/
.sy__inbox .inbox__details{
	top: 40px;
}
input[type="checkbox" i] {
	margin-left:6px;
}
/*大纲面板*/
.sy__outline>.b3-list-item>.b3-list-item__graphic{
	padding-left: 8px;
}
/*大纲前圆点*/
.sy__outline .b3-list-item__arrow.fn__hidden{
	visibility: visible!important;
	opacity: 0.6;
	width: 3px;
	height: 3px;
	color: transparent;
	background-color:var(--b3-list-item-arrow);
	border-radius: 50%;
	padding: 0px;
	margin: 0 8px 0 11px;
}
.sy__outline .b3-list-item__arrow.fn__hidden:hover{
	background-color: var(--b3-list-item-arrow)!important ;
}
/*大纲数字*/
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"]>span:first-child::after{
	visibility: visible!important;
	position:relative;
	left:4px;
	border-radius:3px;
	opacity:0.5;
	font-size:10px;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic{
	margin-left:-19px;
	margin-right:2px;
    color:transparent;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"]>span:first-child::after{
	content:"❶";
	color:var(--h1-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"]>span:first-child::after{
	content:"❷";
	color:var(--h2-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"]>span:first-child::after{
	content:"❸";
	color:var(--h3-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"]>span:first-child::after{
	content:"❹";
	color:var(--h4-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"]>span:first-child::after{
	content:"❺";
	color:var(--h5-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"]>span:first-child::after{
	content:"❻";
	color:var(--h6-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic:hover{
	background-color:var(--h1-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic:hover{
	background-color:var(--h2-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic:hover{
	background-color:var(--h3-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic:hover{
	background-color:var(--h4-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic:hover{
	background-color:var(--h5-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic:hover{
	background-color:var(--h6-list-graphic);
	opacity:0.2;
}

/* 反链面板 */
.sy__backlink .block__icons .counter{
	position:absolute;
	padding: 0px;
	width:20px;
	height: 20px;
	line-height: 20px;
	color: var(--b3-block-logo-color);
    background-color: var(--b3-block-logo-background-color);
	text-align:center;
	border-radius:6px;
}

.sy__backlink .protyle-wysiwyg [data-node-id].li>.list {
    padding-left: 0px!important;
}/*反链列表间距收窄*/
.sy__backlink.layout__tab--active  .block__icons .counter{
	background-color: var(--b3-block-icon-active);
}
.sy__backlink .block__icons .counter:hover{
	background-color: var(--b3-block-logo-background-color)!important;
}
.backlinkList>.b3-list>.protyle,.backlinkMList>.b3-list>.protyle{
	margin:0 4px 6px 4px;
	border-radius:0 0 6px 6px;
	box-shadow: inset 0 0 0 1px var(--b3-layout-resize);
}

.backlinkList>.b3-list .b3-list-item:has(+.protyle:not(.fn__none)),.backlinkMList>.b3-list .b3-list-item:has(+.protyle:not(.fn__none)){
	margin-bottom:0px!important;
	border-radius:6px 6px 0 0;
	background-color: var(--b3-list-background);
}
.sy__backlink .b3-text-field{
	height:24px;
}
.b3-form__icon--small .b3-form__icon-input {
    padding-left: 24px !important;
}
.sy__backlink .b3-text-field:not(.b3-text-field:focus){
	box-shadow: inset 0 0 0 1px var(--b3-layout-resize);
}

.sy__backlink .protyle-wysiwyg [data-node-id] [contenteditable] {
    font-size:90%;
}


.sy__backlink .protyle-breadcrumb__bar:not(:first-child) {
	padding-top:3px;
    border-top: 1px dashed var(--b3-border-color);
}

.sy__backlink .protyle-wysiwyg>[data-node-id] {
    margin:0 10px 0 24px;
}

.sy__backlink .protyle-wysiwyg>[data-node-id]:last-child {
    margin-bottom: 16px;
}
.sy__backlink .protyle-wysiwyg {
    padding: 6px !important;
}


.sy__backlink .protyle-wysiwyg .protyle-breadcrumb__bar>span:last-child>.protyle-breadcrumb__text{
    opacity: 0;
}
.sy__backlink .protyle-wysiwyg .protyle-breadcrumb__bar>span:last-child:hover>.protyle-breadcrumb__text{
    opacity: 1;
	transition: all 200ms;
}
/*分界线*/
.layout__resize{
	z-index:1;
}
.layout__center + .layout__resize{
	z-index:2;
}
.layout__center .layout__resize--lr{
	z-index:2;
}
.layout__resize:after{
	background-color: var(--b3-layout-resize);
}
.fn__flex-shrink .layout__resize:after{
	background-color: var(--b3-shrink-layout-resize);
}
.fn__flex-shrink+.layout__resize--lr:after,.layout__center+.layout__resize--lr:after{
	width:1px;
	/*opacity:0;*/
}
.layout__resize--lr:hover:after,.layout__resize--lr:active:after{
	width:2px;
}
.layout__resize:hover:after,.layout__resize--lr:hover:after,.layout__resize--lr:active:after{
	background-color:var(--b3-layout-resize-hover);
	transition: background-color 300ms ease-in 0s;
}
.layout__resize--lr:after{
	background-color: var(--b3-layout-resize);
	width:var(--b3-layout-resize-width);
	margin-left:-1px;
	top: 0px;
	height:100%;
}
/*侧栏宽度调整动画
#layouts > .fn__flex-1 > .fn__flex-column,#layouts > .fn__flex-1 > .fn__flex{
    transition: var(--flex-width-transition);
}*/

/*关系图 
.graph.fullscreen{
	top:40px;
	overflow:visible!important;
}
.graph.fullscreen .block__icons{
	position:absolute;
	top:-42px;
	width: calc(100% - 110px) !important;
	background-color:var(--b3-fn__flex-column-background);
	padding-right:0px!important;
}*/
.graph__panel[style="right: 0px;"]{
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
.graph__panel{
	height:650px;
	border-radius:5px 0 0 5px;
}



.layout__dockl.layout--float{
	min-height: unset;
	padding-top: 0px;
	top: 123px!important; 
	bottom: 40px!important; 
	box-shadow:  rgba(15, 15, 15, 0.2) 10px 16px 20px -12px, rgba(15, 15, 15, 0.05)  10px -10px 20px -12px; 
	border-radius:0 5px 5px 0;
	overflow:hidden;
}
.layout__dockl.layout--float[style*="left: 34px"]{
	left:41px!important;
}
.layout__dockr.layout--float{
	min-height: unset;
	padding-top: 0px;
	top: 123px!important; 
	bottom: 12px!important; 
	box-shadow: rgba(15, 15, 15, 0.2) -10px 16px 20px -12px, rgba(15, 15, 15, 0.05)  -10px -10px 20px -12px; 
	border-radius:5px 0 0 5px;
	overflow:hidden;
}
.layout__dockr.layout--float[style*="right: 34px"]{
	right:41px!important;
}


.dock#dockBottom{
	border-top:none;
	height: 32px;
	padding: 0 40px;
	background-color: var(--b3-toolbar-background);
}

#dockBottom .fn__flex-1{
	flex: 0;
}
#dockBottom .dock__item{
	margin: 0 7px 7px 0;
	padding: 6px 7px;
}
.dock#dockBottom .dock__item--active{
	color: var(--b3-theme-on-background);
    background-color: var(--b3-dockleft-item-active-background);
    box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
.dock#dockBottom .dock__item:hover{
    background-color: var(--b3-dock-item-hover-background);
    transition: all 300ms;
    box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}

.layout__dockb.layout--float{
	bottom:40px!important;
	margin-left:41px;
	margin-right:41px;
	border-radius:6px;
	overflow:hidden;
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
.layout__dockb.layout--float[style*="bottom: 26px"]{
	bottom:8px!important;
	margin-left:8px;
	margin-right:8px;
}
