/* ————————————————————侧栏面板———————————————————— */
.layout__dockl,.layout__dockr{
	min-height:90%;
}
.layout-tab-container>.fn__flex-column {
    padding: var(--S-flex-column-padding);
	min-height:90%;
}
/*.layout__dockb .layout-tab-container>.fn__flex-column{
	padding: 6px 2px 2px 2px;
}*/
.block__icons~.fn__flex-1{
	margin-bottom: 0px!important;
}
/*面板标题*/
.file-tree .block__icons{
	height:28px; 
    padding: 0px 10px 6px 11px;
	min-height: unset;
}
.graph.file-tree .block__icons{
	padding-top:7px;
}
/*面板标题图标*/
.block__logo svg{
	width: 13px;
	height: 13px;
	padding: 4px;
	margin: 0px 4px 0px 0px;
	color: var(--S-block-logo-color);
}
/*面板功能按钮*/
.file-tree .block__icons>.block__icon svg{
	padding: 3px 0px;
	color: var(--S-block-icon-svg-color);
	margin:0px 3px
}
.file-tree .block__icons>.block__icon{
	padding: 0px;
	margin:-2px;
}
.file-tree .block__icons .block__icon:hover{
	background-color: var(--S-block-icon-hover);
	border-radius: 3px;
}

/*面板列表项*/
.file-tree .b3-list-item{
	margin:0px 4px 2px 4px!important;
	line-height: 26px;
}
.b3-list-item{
	border-radius:var(--S-list-item-radius);
}

.b3-list-item__arrow{
	color:var(--S-list-item-arrow);
	padding:5px;
    border-radius: 3px;
}
.b3-list-item__icon{
	margin-left:-4px;
	height: 22px;
	width: 16px;
	font-size:14px;
	line-height:22px;
	padding: 0 3px;
}
.b3-list-item__text{
	color:var(--b3-theme-on-surface);
}
.b3-list-item--hide-action .b3-list-item__action{
    padding: 0 3px;
    margin-left: 4px;
    border-radius: 3px;
    color: var(--b3-list-background-more);
}
.layout__tab--active .b3-list--background .b3-list-item--focus{
	background-color: var(--S-list-background-activefocus);
}
/*面板列表项hover状态*/
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus){
	background-color: var(--S-list-background);
}
.b3-list-item:hover,.b3-list-item__arrow:hover,.b3-list-item__action:hover,.counter:not(:empty):hover,.b3-list-item__icon:hover{
    background-color: var(--S-list-background)!important ;
}
.b3-list-item--focus:hover{
    background-color: var(--S-list-background-focus)!important ;
}
.b3-list-item__toggle:hover{
	background-color: rgba(0, 0, 0, 0)!important;
}
.b3-list-item:hover .b3-list-item__text{
	color:var(--b3-theme-on-background);
}
/* 面板列表项 选中状态*/
.b3-list-item--focus .b3-list-item__text{   
	font-weight:600;
	color:var(--b3-theme-on-background)!important;
}
/* 圆点 */
.b3-list-item__toggle.fn__hidden:before {
    visibility: visible!important;
    content: "";
    margin: 0px -11px 0 8px;
    clip-path: circle(45% at center);
    width: 3px;
    height: 3px;
    background-color: var(--S-list-item-arrow);
}
/*引用数*/
.b3-list-item .counter:not(:empty){
	height: 20px;
	line-height: 20px;
	text-align: center;
	min-width: 12px;
	border-radius: 3px;
	padding: 0 4px;
	margin-left: 4px;
	box-shadow: 0 0 0 0.5px var(--b3-border-color) inset;
}
/*书签、标签树*/
.sy__bookmark>.fn__flex-1>ul>.b3-list-item>.b3-list-item__graphic,
.sy__bookmark ul ul li>.b3-list-item__graphic,
.sy__tag>.fn__flex-1>ul>.b3-list-item>.b3-list-item__graphic,
.sy__tag ul ul li>.b3-list-item__graphic{
	margin:0 0 0 -6px;
	width:10px;
	color: var(--b3-theme-on-surface);
}
/*收集箱面板*/

/*大纲面板*/
.sy__outline>.b3-list-item>.b3-list-item__graphic{
	padding-left: 8px;
}

/*大纲数字*/
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"]>span:first-child::after{
	visibility: visible!important;
	position:relative;
	left:4px;
	border-radius:3px;
	opacity:0.5;
	font-size:10px;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic{
	margin-left:-19px;
	margin-right:4px;
    color:transparent;
	width:17px!important;
	border-radius:3px;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"]>span:first-child::after{
	content:"❶";
	color:var(--h1-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"]>span:first-child::after{
	content:"❷";
	color:var(--h2-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"]>span:first-child::after{
	content:"❸";
	color:var(--h3-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"]>span:first-child::after{
	content:"❹";
	color:var(--h4-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"]>span:first-child::after{
	content:"❺";
	color:var(--h5-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"]>span:first-child::after{
	content:"❻";
	color:var(--h6-list-graphic);
	pointer-events:none;
	font-family:"Segoe UI";
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic:hover{
	background-color:var(--h1-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic:hover{
	background-color:var(--h2-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic:hover{
	background-color:var(--h3-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic:hover{
	background-color:var(--h4-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic:hover{
	background-color:var(--h5-list-graphic);
	opacity:0.2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic:hover{
	background-color:var(--h6-list-graphic);
	opacity:0.2;
}

/* 反链面板 */
.sy__backlink .block__icons .counter{
	position:absolute;
	padding: 0px;
	width:20px;
	height: 20px;
	line-height: 20px;
	color: var(--b3-theme-background);
    background-color: var(--S-block-logo-background-color);
	text-align:center;
	border-radius:4px;
}

.sy__backlink .protyle-wysiwyg [data-node-id].li>.list {
    padding-left: 0px!important;
}/*反链列表间距收窄*/
.sy__backlink.layout__tab--active  .block__icons .counter{
	background-color: var(--S-block-icon-active);
}
.sy__backlink .block__icons .counter:hover{
	background-color: var(--S-block-logo-background-color)!important;
}
.backlinkList>.b3-list>.protyle,.backlinkMList>.b3-list>.protyle{
	margin:0 5px 6px 5px;
	border-radius:0 0 6px 6px;
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}

.backlinkList>.b3-list .b3-list-item:has(+.protyle:not(.fn__none)),.backlinkMList>.b3-list .b3-list-item:has(+.protyle:not(.fn__none)){
	margin-bottom:0px!important;
	border-radius:6px 6px 0 0;
	background-color: var(--S-list-background);
}
.sy__backlink .b3-text-field{
	height:24px;
}
.b3-form__icon--small .b3-form__icon-input {
    padding-left: 24px !important;
}
.sy__backlink .b3-text-field:not(.b3-text-field:focus){
	box-shadow: inset 0 0 0 1px var(--b3-layout-resize);
}

.sy__backlink .protyle-wysiwyg [data-node-id] [contenteditable] {
    font-size:90%;
}


.sy__backlink .protyle-breadcrumb__bar:not(:first-child) {
	padding-top:3px;
    border-top: 1px dashed var(--b3-border-color);
}

.sy__backlink .protyle-wysiwyg>[data-node-id] {
    margin:0 10px 0 24px;
}

.sy__backlink .protyle-wysiwyg>[data-node-id]:last-child {
    margin-bottom: 16px;
}
.sy__backlink .protyle-wysiwyg {
    padding: 6px !important;
}


.sy__backlink .protyle-wysiwyg .protyle-breadcrumb__bar>span:last-child>.protyle-breadcrumb__text{
    opacity: 0;
}
.sy__backlink .protyle-wysiwyg .protyle-breadcrumb__bar>span:last-child:hover>.protyle-breadcrumb__text{
    opacity: 1;
	transition: all 200ms;
}
v.sy__backlink .protyle-wysiwyg .protyle-breadcrumb__bar{
	font-size:80%;
	min-height: 24px;
}
.sy__backlink .protyle-breadcrumb__item,.sy__backlink  .protyle-breadcrumb__icon{
	padding: 3px;
}
.sy__backlink .protyle-breadcrumb__item:not(:first-child)>svg.popover__block {
    height: 10px;
    width: 10px;
    padding: 2px;
    border-radius: 3px;
}

.sy__backlink .protyle-breadcrumb__item:not(:first-child).protyle-breadcrumb__item--active>svg {
    color: var(--b3-theme-background);
    background-color:var(--h2-list-graphic)!important;
	opacity:0.7;
}
/* 关系图全屏后右侧筛选 */
.graph__panel[style="right: 0px;"]{
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
.graph__panel{
	height:650px;
	border-radius:5px 0 0 5px;
}


/* 侧栏浮动 */
.layout__dockl.layout--float{
	min-height: unset;
	padding-top: 0px;
	top: 123px!important; 
	bottom: 40px!important; 
	box-shadow:  rgba(15, 15, 15, 0.2) 10px 16px 20px -12px, rgba(15, 15, 15, 0.05)  10px -10px 20px -12px; 
	border-radius:0 5px 5px 0;
	overflow:hidden;
}
.layout__dockl.layout--float[style*="left: 34px"]{
	left:41px!important;
}
.layout__dockr.layout--float{
	min-height: unset;
	padding-top: 0px;
	top: 123px!important; 
	bottom: 40px!important; 
	box-shadow: rgba(15, 15, 15, 0.2) -10px 16px 20px -12px, rgba(15, 15, 15, 0.05)  -10px -10px 20px -12px; 
	border-radius:5px 0 0 5px;
	overflow:hidden;
}
.layout__dockr.layout--float[style*="right: 34px"]{
	right:41px!important;
}

/*分界线*/
.layout__resize{
	z-index:1;
}
.layout__center + .layout__resize{
	z-index:2;
}
.layout__center .layout__resize--lr{
	z-index:2;
}
.layout__resize:after{
	background-color: var(--b3-layout-resize);
}
.fn__flex-shrink .layout__resize:after{
	background-color: var(--b3-shrink-layout-resize);
}
.fn__flex-shrink+.layout__resize--lr:after,.layout__center+.layout__resize--lr:after{
	width:1px;
	/*opacity:0;*/
}
.layout__resize--lr:hover:after,.layout__resize--lr:active:after{
	width:2px;
}/*
.layout__resize:hover:after,.layout__resize--lr:hover:after,.layout__resize--lr:active:after{
	background-color:var(--b3-layout-resize-hover);
	transition: background-color 300ms ease-in 0s;
}
.layout__resize--lr:after{
	background-color: var(--b3-layout-resize);
	width:var(--b3-layout-resize-width);
	margin-left:-1px;
	top: 0px;
	height:100%;
}