/*底栏*/
.status{
	background-color:transparent;
	border:0;
	padding: 0 11px;
	margin-bottom: 12px;
}
.status .toolbar__item:not(.toolbar__item--close) {
	margin:3px!important;
	padding:3px;
	background-color: var(--b3-theme-background);
}

.status .toolbar__item svg{
	padding:3px 4px;
	color:var(--b3-dockright-color);
	width: 12px;
}
.body--win32>.fn__flex-1
{
	overflow:visible;
}

.status__counter:not(:empty){
	border-radius:5px;
	background-color:var(--b3-theme-background);
	padding: 0px 4px 0 8px ;
	margin:4px 6px 0px 8px;
	height:26px;
	line-height:26px;
}
.status__msg:not(:empty){
	opacity:0.5;
	animation: statusmsg 5s ease-in-out;
	max-width: 140px;
	padding: 0px 8px;
	border-radius:5px;
	background-color:var(--b3-theme-background);
	margin:4px 0px 0px 6px;
	transition: max-width 300ms,opacity 300ms;
	transition-delay: 2000ms;
	position:relative;
	height:26px;
	line-height:26px;
}
.status__msg:not(:empty):before{
	content: "📢";
	font-size:12px;
}

.status__msg:not(:empty):hover{
	opacity:1;
	max-width:400px;
	transition: max-width 300ms ease-out;
}

/*.layout#layouts .fn__flex-column:not(.fn__flex-shrink)>.fn__flex-1>.fn__flex>.layout-tab-container>.fn__flex-column{
	padding-bottom:30px;
}
.layout#layouts .fn__flex-shrink>.fn__flex-1>.fn__flex>.layout-tab-container>.fn__flex-column{
	padding-bottom:30px;
}
.layout#layouts .fn__flex-shrink>.layout__resize+.fn__flex>.fn__flex>.layout-tab-container>.fn__flex-column{
	padding-bottom:30px;
}*/

/*.status #statusHelp{
	position:relative;
	right:35px;
}
.status #barDock{
	position:absolute;
	right:0px;
	z-index:8;
}

.status>.fn__flex-1{
	position:relative!important;
	width:0px!important;
	right:0px;
	flex:0;
}

.status #barDock .b3-menu{
	left:unset!important;
	right:4px;
	bottom:30px!important;
}
.status #barDock:before{
	right:unset!important;
	left: 0px;
	transform: rotateY(180deg);
}
.status #barDock:after{
	left:unset!important;
	right:100%;
}*/
.status__backgroundtask{
	margin:4px 0px 7px 7px;
	padding: 0px 0px 0px 8px;
	border-radius:5px;
	background-color:var(--b3-theme-background);
	height:26px;
	line-height:26px;
}