/* ————————————————————底栏———————————————————— */
#status {
    position: fixed;
    background-color: transparent;
    right: 0px;
    bottom: 9px;
	height: 24px;
	border:0;
	margin:0;
	z-index:10;
    pointer-events: none;
    .toolbar__item:hover {
        background-color: var(--Sv-status-item-hover)!important;
    }
    &>div:not(.statusRight,#barDock){
        background-color:var(--Sv-status-msg-background);
        box-shadow: 8px 0 0 var(--Sv-status-msg-background);
        margin-left: -2px;
        border-radius:4px;
        pointer-events:visibleFill;
        }
    .toolbar__item:not(.toolbar__item--close) {
        padding:2px;
        height: 24px;
        svg{
            padding:3px 4px;
            width: 12px;
        }
        & span{
            margin:3px;
            font-size:12px;
        }
    }
    #barDock{
        position:fixed;
        right:3px;
        bottom: 3px;
        height: 28px;
        width: 28px;
        padding: 4px;
        background-color: var(--Sv-status-barDock);
        pointer-events:visibleFill;
        box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px;
        /*background-color: var(--Sv-status-barDock);
        box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);*/
        & svg{
            color: var(--Sv-status-barDock-color);
        }
    }
    #statusHelp svg{
        color: var(--Sv-status-barDock-color);
    }
    .status__counter:not(:empty),.status__backgroundtask,.status__msg{
        padding: 0px 4px;
        margin:0px 4px 0px 0px;
        height:24px;
        line-height:24px;
        box-shadow: 6px 0 0 var(--Sv-status-msg-background),-4px 0 0 var(--Sv-status-msg-background)!important;
    }
    .status__msg:empty{
        opacity: 0;
    }
    .status__msg:not(:empty):before{
        content: "📢";
        font-size:12px;
        padding-right:6px;
    }
}


#dockBottom:not(.fn__none)+#status{
	background-color:transparent;
}

.status.fn__none{
    display: flex!important;
    &>div:not(#barDock){
        display: none;
    }
}

.statusRight{
    min-width: 43px;
    &[style="width: 48px;"]{
        width: 43px!important;
    }
}