/* ———————————————————页签———————————————————— */
.layout__center .fn__flex-column>.fn__flex>.layout-tab-bar{
    background-color: transparent;
    border: none;
    height: 38px;
    .item:not(.item--readonly){
        min-height: 33px;
        border-radius: 6px;
        overflow: unset !important;
        background-color: var(--Sv-tab-bar-item-background);
        margin: 0 10px 5px -5px;/*消除鼠标滚轮左右浮动*/
        &:first-child{
            margin-left: 0px;/*消除鼠标滚轮左右浮动*/
        }
        &:hover{
            background-color: var(--Sv-tab-bar-item-background-hover); 
        }
        &.item--focus{
            background-color: var(--Sv-tab-bar-item-background-focus);
            border-radius: 6px 6px 0 0;
            box-shadow:  0 6px 0 0 var(--Sv-tab-bar-item-background-focus);
            &:before{
                left: -10px !important;
                bottom: -5px !important;
                clip-path: inset(50% -5px 0 50%);
            }
            &:after{
                right: -10px;
                bottom: -5px !important;
                clip-path: inset(50% 50% 0 -5px);
            }
            &:before,&:after{
                content: "";
                display: block;
                position: absolute;
                top: unset !important;
                background-color: rgba(0, 0, 0, 0);
                width: 10px;
                height: 10px !important;
                border-radius: 100%;
                border: none !important;
                z-index: 2;
                box-shadow:  0 0 0 24px var(--Sv-tab-bar-item-background-focus);
            }
        }
    }
    &.layout-tab-bar--readonly{
        margin-left: -5px;
    }
    .item--readonly {
        min-height: 33px;
        padding: 0;
        .block__icon{
        background-color: var(--Sv-tab-bar-item-background);
        padding: 9px;
        &:hover{
            background-color:var(--Sv-tab-bar-item-background-focus);
            }
        }
    }
    &:has(>.item--focus:first-child){
        box-shadow:  0 6px 0 0  var(--Sv-tab-bar-item-background-focus);
    }
    .item--pin{
        min-width: 30px;
        & .item__icon{
            padding:0px 6px;
        }
        & .item__graphic{
            padding:4px;
        }
        &:nth-child(4n-3){
            background-color:var(--b3-card-error-background);
        }
        &:nth-child(4n-2){
            background-color:var(--b3-card-warning-background);
        }
        &:nth-child(4n-1){
            background-color:var(--b3-card-info-background);
        }
        &:nth-child(4n){
            background-color:var(--b3-card-success-background);
        }
    }
    .item__close{
        padding: 5px 5px 5px 0;
    }
}
.layout-tab-bars--drag>.layout-tab-bar{
	background-color: var(--b3-theme-primary-lightest)!important;
}