/* ———————————————————页签———————————————————— */

.layout__center .fn__flex-column>.fn__flex>.layout-tab-bar{
    background-color: transparent;
    border: none;
    margin-bottom: -5px;
    padding-right: 10px;
    border-radius: 6px 6px 0 0;
    /*overflow: visible;这个不能加*/
    .item:not(.item--readonly){
        min-height: 28px;
        border-radius: var(--Sv-tab-bar-item-radius);
        padding: 1px 0 4px 0 ;
        margin-bottom: 5px;
        overflow: unset !important;
        &::after{
            content: "";
            bottom: 0;
            position: absolute;
            background-color:transparent;
            top: 22px;
            height: 11px;  
            left: calc(-1 * var(--Sv-dock-item-radius) - 2px) ;
            border-radius: 0;
            width: calc(100% + var(--Sv-dock-item-radius)*2 + 4px);
            transition: var(--b3-transition);
            background-image: var(--Sv-tab-bar-item-after);
            background-size: 12px 12px,12px 12px,calc(100% - var(--Sv-dock-item-radius)*2 - 4px) calc(100% + var(--Sv-dock-item-radius)*2 + 8px);
            background-position: right bottom, left bottom, center top;
            background-repeat: no-repeat;
            z-index: 1;
            opacity: 0;
            }
        & .item__text{
            &::before {
                content: "📄";
                margin-right: 8px;
                font-size: 14px;
            }
        }
        & .item__icon{
            padding: 3px 0 3px 7px;
            &>img,&>svg{
                height: 15px;
                width: 15px;
            }
            &+.item__text::before{
                display: none;
            }
        }
        &:hover{
            background-color: var(--Sv-tab-bar-item-background);
            &::after{
                opacity: 1;
            }
        }
        &.item--focus{
            background-color: var(--Sv-tab-bar-item-background-focus);
            border-radius: var(--Sv-tab-bar-item--focus-radius);
            box-shadow:unset!important;
                &::after{
                    background-color:transparent;
                    background-image: var(--Sv-tab-bar-item-focus-after);
                    z-index: 2;
                    opacity: 1;
                    box-shadow: var(--Sv-tab-bar-item-background-focus) 0 8px 0 0;
                    }
            }
        }
    &.layout-tab-bar--readonly{
        padding-left: 5px;
        padding-right: 2px;
        overflow: visible;
        z-index: 2;
        /*background-color: var(--Sv-dock-background);*/
        border-radius: var(--Sv-tab-bar-item-radius);
        /*&::before {
        content: "" ;
        display: inline-block ;
        width: 20px;
        height: 20px;
        background-color: transparent ;
        border-radius: var(--Sv-tab-bar-item-radius);
        box-shadow: var(--Sv-tab-bar-readonly-shadow);
        position: absolute;
        top: 0px;
        left: -20px;
        pointer-events: none;
        transition: box-shadow var(--transition-time) var(--transition-timing);
        }*/
    }
    .item--readonly {
        min-height: 28px;
        padding: 0;
        .block__icon{
        padding: 7.5px;
        border-radius: var(--Sv-tab-bar-item-radius);
        & svg{
            width: 13px;
            height: 13px;
        }
        &:hover{
            background-color:var(--Sv-tab-bar-item-background-focus);
            }
        }
    }
    .item--pin:not(.item--readonly){
        min-width: 28px;
        background-color: var(--b3-theme-background)!important;
        margin-left: -3px;
        margin-right: 6px;
        padding:0px;
        margin-bottom: 10px;
        &:first-child{
            margin-left: 0px;
        }
        &:hover::after{
            opacity: 0;
        }
        & .item__text::before{
            display: none;
        }
        & .item__icon{
            padding:0px 8px;
        }
        & .item__graphic{
            padding:4px;
        }
        &:nth-child(4n-3){
            box-shadow:0 0 0 2px var(--b3-font-background13) inset, 0 0 0 2px var(--b3-font-background13) inset;
        }
        &:nth-child(4n-2){
            box-shadow:0 0 0 2px var(--b3-font-background5) inset, 0 0 0 2px var(--b3-font-background5) inset;
        }
        &:nth-child(4n-1){
            box-shadow:0 0 0 2px var(--b3-font-background10) inset, 0 0 0 2px var(--b3-font-background10) inset;
        }
        &:nth-child(4n){
            box-shadow:0 0 0 2px var(--b3-font-background9) inset, 0 0 0 2px var(--b3-font-background9) inset;
        }
        &.item--focus{
            box-shadow: none;
        }
        &+.item:not(.item--pin,.item--readonly) {
            margin-left: 12px;
            &::before {
                content: "";
                position: absolute;
                left: -10px;
                display: block;
                width: 2px;
                background-color: var(--Sv-list-focus-hover);
                height: 1.3em;
                border-radius: 9px;
                pointer-events: none;
            }
        }
    }
    .item__close{
        padding: 5px 6px 5px 0;
        svg {
            border-radius: 3px;
        }
    }
}
.layout-tab-bars--drag>.layout-tab-bar{
	background-color: var(--b3-theme-primary-lightest)!important;
}