/* ————————————————————页签———————————————————— */
.layout-tab-bar{
	padding:0 0 0 8px;
	position:relative;
	background-color: var(--b3-theme-background);
	height: 40px;

}
/*页签前后分割线
ul.layout-tab-bar:not(.layout-tab-bar--readonly):before{
	content: "";
	position:relative;
	left:-8px;
    height: 20px;
    border-left: 1px solid var(--b3-layout-resize);
	z-index:9;
}
.layout__center .layout__resize--lr+.fn__flex-1 ul.layout-tab-bar:not(.layout-tab-bar--readonly):before{
	display:none;
}

ul.layout-tab-bar--readonly .item__close[data-type="more"]:after{
	content: "";
	position:relative;
	right:-8px;
    height: 40px;
	z-index:9;
	margin-top: 0px;
}*/
/*———————————————————— */
.layout-tab-bar .item{
	margin-right:4px;
	border-radius: 3px!important;
	min-height:unset;
	min-width:unset;
	overflow:visible;
}
.layout-tab-bar .item__icon svg{
	height: 16px;
}

.layout-tab-bar .item--focus:after{
	position: absolute;
	bottom: -7px;
}
.layout__wnd--active .layout-tab-bar .item--focus{
	box-shadow:none!important;/*取消blur状态页签阴影*/
}
.layout__wnd--active .layout-tab-bar .item--focus::after{
	content: '';
	position: absolute;
	bottom: -7px;
	left: 0px;
	right: 0px;
	height: 3px;
	background-color: var(--b3-item-focus);
	animation: item-focus 0.2s ease-in-out;
	overflow:visible;
}
.layout-tab-bar .item:not(.item--readonly):hover{
	background-color:var(--b3-list-background)!important;
	transition: all 300ms;
}
.layout-tab-bar .item--readonly{
	margin:3px 3px 0 0;
	padding:0;
}
.body--window .layout-tab-bar .item--readonly{
	margin:0;
}
.block__icon--show[data-type="more"] svg,.block__icon--show[data-type="new"] svg{
	width: 10px;
	height: 10px;
}
.block__icon--show[data-type="more"],.block__icon--show[data-type="new"] {
    padding: 7px;
	border-radius: 5px;
	margin: 5px;
}

.block__icon--show[data-type="more"]:hover,.block__icon--show[data-type="new"]:hover{
	background-color:var(--b3-list-background)!important;
}
.layout-tab-bar .item__text{
    padding: 2px 6px 2px 6px; 
}
.layout-tab-bar .item__close{
	padding: 4px 6px 4px 2px;
}

.layout-tab-bar .item--pin{
	padding:2px;
}
.layout-tab-bar .item__icon>img, .layout-tab-bar .item__icon>svg{
	width: 18px;
}
.layout-tab-bar svg.item__graphic{
	padding:0 0 0 4px;
	width: 24px;
}
.layout-tab-bar .item__icon{
	padding:0px 0 0px 4px;
}
.layout-tab-bar .item--pin .item__icon{
	padding:0px 3px 0px 4px;
}
.layout-tab-bar .item--pin .item__graphic{
	padding:4px 0px 4px 0px;
}
.layout-tab-bar .item--pin .item__text{
	padding:0px 2px 0px 3px;
}

.layout-tab-bar .item--pin:nth-child(4n-3){
	background-color:var(--b3-card-error-background);
}
.layout-tab-bar .item--pin:nth-child(4n-2){
	background-color:var(--b3-card-warning-background);
}
.layout-tab-bar .item--pin:nth-child(4n-1){
	background-color:var(--b3-card-info-background);
}
.layout-tab-bar .item--pin:nth-child(4n){
	background-color:var(--b3-card-success-background);
}
.layout-tab-bar .item__graphic{
	padding:2px 0 0px 6px;
}
.layout__center .layout-tab-bar--readonly {
    min-width: 82px;
}