/* ————————————————————页签———————————————————— */
.layout-tab-bar{
	height: 38px;
	padding-left: 5px;
	& .item{
		border-radius: 3px;
		min-height:unset;
		min-width:unset;
		overflow:visible;
		height: 26px;
		margin:0 3px;
		& .item__text{
			padding: 2px 6px; 
			-webkit-mask-image:none;
		}
		& .item__close{
			padding: 4px 2px 4px 2px;
			svg{
				height: 12px;
				width: 12px;
			}
		}
		&.item.item--focus .item__close svg{
			opacity: 0;
		}
		&.item.item--focus:hover .item__close svg{
			opacity: 1;
		}
	}
	& .item:not(.item--readonly):hover{
		background-color:var(--S-list-background)!important;
	}
	& .item--readonly{
		margin:7px 0 0 7px;		
	}
}
.layout-tab-bar .item--focus:after{
	background-color: transparent;
	box-shadow: var(--b3-theme-background-light) 0px 6px 0px;
}
.layout__wnd--active .layout-tab-bar .item--focus::after{
	background-color: transparent;
	box-shadow: var(--S-item-focus) 0px 6px 0px;
}
body.body--blur .layout__wnd--active .layout-tab-bar .item--focus{
	box-shadow: none!important;
}
.layout-tab-bar .item--pin{
	& .item__icon{
		padding:0px 5px;
	}
	& .item__graphic{
		padding:4px;
	}
	&:nth-child(4n-3){
		background-color:var(--b3-card-error-background);
	}
	&:nth-child(4n-2){
		background-color:var(--b3-card-warning-background);
	}
	&:nth-child(4n-1){
		background-color:var(--b3-card-info-background);
	}
	&:nth-child(4n){
		background-color:var(--b3-card-success-background);
	}
}



body:not(.body--mobile,.body--window){
	& .layout-tab-bar:not(.layout-tab-bar--readonly), & .b3-menu, & .b3-menu__submenu, & .protyle-hint, & .block__popover, & .b3-dialog__body, & .block__icons>.block__icon, & .block__icons>.search__label, & .search__header, & .layout--float, & .protyle-breadcrumb .block__icon, & .protyle-breadcrumb__item, & .protyle-breadcrumb button, & .b3-snackbar, & .protyle-toolbar, & .protyle-util, & .dock__item {
    app-region: no-drag;
}
}

