/* ————————————————————顶栏———————————————————— */
.toolbar{
	background-color: transparent;
	height:32px;
}
.toolbar__window{
	background-color: transparent;
	height:40px;
}
/*.toolbar:after{
	content: '';
	position: absolute;
	top:40px;
	height: 1px;
	right:10px;
	left:10px;
	background-color: var(--b3-border-color);
	z-index:-99;
}*/

/*#notionToolbar{
	transform:translateY(0px);
}*/

.toolbar__item:not(.toolbar__item--close){
	margin: 5px 4px 5px 0px;
	border-radius:5px;
	padding: 1px;
}
.toolbar__window .toolbar__item:not(.toolbar__item--close){
	padding: 3px;
	margin: 7px 4px 7px 0px  
}
.toolbar__item svg,.toolbar__window .toolbar__item svg{
	padding: 3px;
	height: 14px;
	width: 14px;	
}

.toolbar__item:not(.toolbar__item--disabled) svg,.toolbar__window .toolbar__item:not(.toolbar__item--disabled) svg{
	color: var(--b3-theme-on-background);
}

.toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover, .toolbar__item--active {
	background-color: var(--b3-toolbar-item-hover);
}

#minWindow svg, #restoreWindow svg, #maxWindow svg{
	width: 10px!important;
	padding: 3px 5px;
}

 #restoreWindow, #maxWindow{
	margin:0;
}
.toolbar__window #restoreWindow, .toolbar__window #maxWindow{
	margin: 7px 4px 7px 0px 
}

#closeWindow svg{
	width: 10px!important;
	padding: 4px 8px;
}

.toolbar__item--close{
	padding: 5px 7px;
}
.toolbar__window .toolbar__item--close{
	padding: 9px;
}
#closeWindow:hover{
	background-color: var(--b3-toolbar-closeWindow-hover);
}

#closeWindow:hover svg{
	color: var(--b3-toolbar-closeWindow-svg);
}




/*#windowAppIcon{
	width:30px!important;
	height:30px;
	border-radius:100px;
}
#windowAppIcon svg{
	padding: 4px;
	height: 14px;
	width: 14px;	
}*/

#barSync{
	margin-left:5px;
}

#barWorkspace {
	height:22px;
	border-radius:5px;
	padding:0 3px 0 7px;
	margin:0px 3px 0 2px;
	/*background-color:#e16259;*/
	background: #e16259 linear-gradient(to bottom right, rgba(0,255,0,0), #c54238);
	/*background-image: linear-gradient(to bottom right , #7A88FF, #7AFFAF);*/
	box-shadow: 0px 0.3px 0.7px 0px rgb(0 0 0 / 12%), 0px 1.5px 2.8px 0px rgb(0 0 0 / 7%), 0px 4px 9px 0px rgb(0 0 0 / 5%);
}
#barWorkspace:hover{
	background-color: #b3180d;
	transition: background-color .5s;
}
#barWorkspace .toolbar__text{
	line-height:22px;
	color:var(--b3-theme-background);
	text-align:center;
	font-weight:600;
	text-transform:uppercase;
}

#barWorkspace .toolbar__svg{
	padding:4px;
	color:var(--b3-theme-background);
	margin:0px;
}



/*只读按钮适配*/
#barReadonly.toolbar__item--active{
	padding:3px 50px 3px 3px;
	background-color: transparent;
	box-shadow: 0 0 0 1px var(--b3-border-color) inset;
}
#barReadonly.toolbar__item--active svg{
	color:var(--h1-list-graphic);
}
#barReadonly.toolbar__item--active:before{
	content: "退出只读";
	opacity:1;
	height:22px;
	width:50px;
	transform:unset;
	right:-5px;
	top:2px;
	margin-right:unset;
	border-bottom-color:transparent;
	margin-top:-1px;
	font-weight: 600;
	font-size:0.8em;
	color:var(--b3-dockleft-color);
}
#barReadonly.toolbar__item--active:hover{
	background-color: var(--b3-toolbar-item-hover);
}