/* ————————————————————顶栏———————————————————— */
.toolbar{
	background-color: transparent;
	height:40px;
	z-index:2;
	margin-bottom: -40px;
	border-bottom: none;
    padding: 0 0 0 5px!important;
}

/*.toolbar:after{
	content: '';
	position: absolute;
	top:40px;
	height: 1px;
	right:10px;
	left:10px;
	background-color: var(--b3-border-color);
	z-index:-99;
}*/

/*#notionToolbar{
	transform:translateY(0px);
}*/

.toolbar__item:not(.toolbar__item--close){
	margin: 7px 0px 5px 0px ;
	border-radius:3px;
	padding: 3px;
}
.toolbar__item svg{
	padding: 3px;
	height: 14px;
	width: 14px;	
}

.toolbar__item:not(.toolbar__item--disabled) svg{
	color: var(--b3-theme-on-background);
}

.toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover, .toolbar__item--active {
	background-color: var(--b3-toolbar-item-hover);
}

#minWindow svg, #restoreWindow svg, #maxWindow svg{
	width: 10px!important;
	padding: 3px 5px;
}

#minWindow, #restoreWindow, #maxWindow, #closeWindow{
	margin:0;
}

#maxWindow,#maxWindow{
	margin-right:5px;
}

#closeWindow svg{
	width: 10px!important;
	padding: 4px 8px;
}

.toolbar__item--close{
	padding: 10px 7px;
}

#closeWindow:hover{
	background-color: var(--b3-toolbar-closeWindow-hover);
}

#closeWindow:hover svg{
	color: var(--b3-toolbar-closeWindow-svg);
}

#drag {
	height: 15px;
	margin-bottom: 25px;
	color: transparent!important;
}

body:has(.layout__empty) .toolbar #drag {
	height: 40px;
	line-height: 40px;
}/*关闭所有文档后drag高度*/


#windowAppIcon{
	width:30px!important;
	height:30px;
	border-radius:100px;
	/*background-color:#fff;*/
	/*background-image: linear-gradient(to bottom right , #e9e3dc, #dac8d7);*/
	/*box-shadow: 0px 0.3px 0.7px 0px rgb(0 0 0 / 12%), 0px 1.5px 2.8px 0px rgb(0 0 0 / 7%), 0px 4px 9px 0px rgb(0 0 0 / 5%);*/
}
#windowAppIcon svg{
	padding: 4px;
	height: 14px;
	width: 14px;	
}
#barWorkspace .toolbar__text{
	line-height:18px;
}
#barWorkspace {
	height:26px;
	border-radius:5px;
	padding:0 5px;
	margin-left:14px;
	/*background-color:#e16259;*/
	/*background-image: linear-gradient(to bottom right , #7A88FF, #7AFFAF);*/
	/*box-shadow: 0px 0.3px 0.7px 0px rgb(0 0 0 / 12%), 0px 1.5px 2.8px 0px rgb(0 0 0 / 7%), 0px 4px 9px 0px rgb(0 0 0 / 5%);*/
	box-shadow: 0 0 0 1px var(--b3-border-color) inset;
}
#barWorkspace .toolbar__text{
	width:16px;
	line-height:25px;
	word-break:break-all;
	color:var(--h1-list-graphic);
	overflow: hidden;
	text-overflow : clip;
	white-space:pre-wrap;
	text-align:center;
	font-weight:600;
	text-transform:uppercase;
}

/*#barWorkspace .toolbar__svg{
	display:none;
}*/
#barWorkspace .toolbar__svg{
	width:10px;
	margin:0;
	padding:7px 2px;
	color:var(--b3-dockleft-color);
}

#barSync{
	margin-left:6px;
}
#toolbarVIP{
	display:none;
}


/*只读按钮适配*/
#barReadonly.toolbar__item--active{
	padding:3px 50px 3px 3px;
	background-color:transparent;

	box-shadow: 0 0 0 1px var(--b3-border-color) inset;
}
#barReadonly.toolbar__item--active svg{
	color:var(--h1-list-graphic);
}
#barReadonly.toolbar__item--active:before{
	content: "退出只读";
	opacity:1;
	height:22px;
	width:50px;
	transform:unset;
	right:-5px;
	top:2px;
	margin-right:unset;
	border-bottom-color:transparent;
	margin-top:-1px;
	font-weight: 600;
	font-size:0.8em;
	color:var(--b3-dockleft-color);
}
