/* ————————————————————顶栏———————————————————— */
body:not(.body--mobile,.body--window)>#toolbar{
	overflow:visible;
	background-color: var(--S-toolbar-background);
	border:none;
	height: 38px;
	margin-bottom: -38px;
    z-index: 2;
    pointer-events: none;
	counter-reset:plugin-counter;
    app-region: drag;
	& .toolbar__item {
		pointer-events: visibleFill;
		app-region: no-drag;
	}
	& #drag,& #toolbarVIP{
		display: none;
		}
	&  [data-position]{
		margin: 0px;
		margin-right: -16px;
		border: 2px solid var(--b3-toolbar-background);
		border-radius: 50%;
		box-sizing: content-box;
		height: 13px;
		padding: 4px;
		counter-increment: plugin-counter;
		&:hover{
			margin-right: -2px;
		}
		&:not(.fn__none)~#barPlugins::after{
			content: counter(plugin-counter);
			position:absolute;
			right:240px;
			top:9px;
			border-radius: 50%;
			background-color: #ee6f5b;
			color: #fff;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
		}
	}
	&  [data-position="left"]:nth-child(4n-3),&  [data-position="right"]:nth-child(4n-1){
		background-color:var(--S-Plugin-bg1);
		svg{
			color:var(--S-Plugin-c1);
		}
	}
	&  [data-position="left"]:nth-child(4n-2),&  [data-position="right"]:nth-child(4n){
		background-color:var(--S-Plugin-bg2);
		svg{
			color:var(--S-Plugin-c2);
		}
	}
	&  [data-position="left"]:nth-child(4n-1),&  [data-position="right"]:nth-child(4n-3){
		background-color:var(--S-Plugin-bg3);
		svg{
			color:var(--S-Plugin-c3);
		}
	}
	&  [data-position="left"]:nth-child(4n),&  [data-position="right"]:nth-child(4n-2){
		background-color:var(--S-Plugin-bg4);
		svg{
			color:var(--S-Plugin-c4);
		}
	}
}

.toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover, .toolbar__item--active {
	background-color: var(--S-toolbar-item-hover);
}

/*右上角关闭*/
body:not(.body--mobile,.body--window){
	#minWindow, #restoreWindow, #maxWindow, #closeWindow{
	padding: 12px 9px;
	height: 38px;
	svg{
		width: 11px!important;
	}
}	
}

body:not(.body--mobile,.body--window) #closeWindow{
	width: 38px;
	padding: 12px 13px;
	&:hover{
	background-color: var(--S-toolbar-closeWindow-hover);
	svg{
		color: var(--S-toolbar-closeWindow-svg);
		}
	}
}

/*工作空间*/
body:not(.body--mobile,.body--window) #barWorkspace {
	height:24px;
	border-radius:4px;
	padding:0 3px 0 8px;
	margin:0px 3px 0px 2px	;
	background-color: #ee6f5b;
	/*background:url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path fill='rgba(255, 255, 255, 1)' d='M13.2 10.8l-3.733 3.733v7.467l3.733-3.733v-7.467z'/><path fill='rgba(59, 62, 67, 1)' d='M13.2 10.8v7.467l2.8 2.8v-7.467z'/><path fill='rgba(59, 62, 67, 1)' d='M18.8 10.8v0 7.467l3.733 3.733v-7.467z'/><path fill='rgba(255, 255, 255, 1)' d='M16 13.6v7.467l2.8-2.8v-7.467z'/></svg>") no-repeat left -2px top -5px #ee6f5b;*/
	&:hover{
		background-color: var(--b3-font-color12);
	}
	& .toolbar__text{
		line-height:24px;
		color:var(--b3-theme-background);
		text-align:center;
		font-weight:600;
		text-transform:uppercase;
	}
	& .toolbar__svg{
		margin-left:2px;
		padding:5px;
		color:var(--b3-theme-background);
	}       
}
