/* ————————————————————顶栏———————————————————— */
body:not(.body--mobile,.body--window)>#toolbar{
	background-color: var(--Sv-toolbar-background);
	border:none;
    height: unset;
    .toolbar__item:not(#barWorkspace,#closeWindow){
        height: 28px;
        padding: 7px;
        border-radius: var(--Sv-dock-item-radius);
        &:hover{
            background-color: var(--Sv-toolbar-item-hover);
        }
    }
    .toolbar__item:not(#barWorkspace,.toolbar__item--win,#closeWindow){
        background-color: var(--Sv-list-background);
    }
    #barWorkspace/*工作空间*/ {
        height:28px;
        border-radius: var(--Sv-dock-item-radius);
        padding:0 3px 0 10px;
        margin:5px 3px 5px 1px;
        align-items: center;
        justify-content: center;
        color:var(--Sv-barWorkspace-color);
        background-color: var(--Sv-barWorkspace-background);
        /*background:url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path fill='rgba(255, 255, 255, 1)' d='M13.2 10.8l-3.733 3.733v7.467l3.733-3.733v-7.467z'/><path fill='rgba(59, 62, 67, 1)' d='M13.2 10.8v7.467l2.8 2.8v-7.467z'/><path fill='rgba(59, 62, 67, 1)' d='M18.8 10.8v0 7.467l3.733 3.733v-7.467z'/><path fill='rgba(255, 255, 255, 1)' d='M16 13.6v7.467l2.8-2.8v-7.467z'/></svg>") no-repeat left -2px top -5px #ee6f5b;*/
        &:hover{
            background-color: var(--Sv-barWorkspace-background-hover);
        }
        & .toolbar__text{
            font-weight:700;
            font-size: 14px;
        }
        & .toolbar__svg{
            margin-left:2px;
            padding:7px;
        }       
    }
    #closeWindow{
        width: 34px;
        &.toolbar__item--close{
            padding: 1px 0px;
        }
        svg{
            width: 12px!important;
            height: 12px!important;
            padding: 8px;
            border-radius: 6px;
        }
        &:hover{
        background-color: rgba(0, 0, 0, 0);
        svg{
            color: var(--Sv-toolbar-closeWindow-svg);
            background: var(--Sv-toolbar-closeWindow-hover);
        }
        }
    }
    .toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover, .toolbar__item--active {
        background-color: var(--Sv-toolbar-item-hover);
    }
}
