[data-subtype="u"]>.li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:var(--b3-theme-on-background);
	border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:var(--b3-theme-background);
	border: 0.1em solid var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 0;
	background-color:var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:var(--b3-theme-on-background);
	border: 0.1em solid var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:var(--b3-theme-background);
	border: 0.1em solid var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 0;
	background-color:var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:var(--b3-theme-on-background);
	border: 0.1em solid var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:var(--b3-theme-background);
	border: 0.1em solid var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 0;
	background-color:var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:var(--b3-theme-on-background);
	border: 0.1em solid var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:var(--b3-theme-background);
	border: 0.1em solid var(--b3-theme-on-background);
}
[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg{
	color:transparent;
	width:3px;
	height:3px;
	border-radius: 0;
	background-color:var(--b3-theme-on-background);
}
